openapi: 3.2.0
info:
  version: v2
  title: Permitting & Licensing Ledger Entries API
  contact:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
    email: developers@opengov.com
  description: "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n"
  license:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
  x-og-envs:
  - production
  - staging
  - development
  - local
security:
- bearerAuth: []
- basicHttpAuthentication: []
- auth0Prod: []
- auth0Dev: []
tags:
- name: Ledger Entries
  description: A Leger Entry is created for each Fee paid or refunded in a Transaction.
paths:
  /v2/{community}/ledger-entries:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    get:
      summary: List ledger entries
      description: 'Retrieve ledger entries that match the specified filters.

        ### Permissions Required

        `Payment Read`'
      operationId: getLedgerEntries
      x-og-claims-required:
      - PLC_PAYMENT_READ
      tags:
      - Ledger Entries
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      - name: filter[transactionDate]
        in: query
        description: 'Filter by transaction date, either an exact date/date-time or a range.


          A bare value (e.g. filter[transactionDate]=2026-06-19) matches that whole day when a date-only

          value is given, or that exact instant when a full ISO-8601 date-time is given.


          Supports filter[transactionDate][gte] and/or filter[transactionDate][lte] (ISO-8601 dates or date-times)

          for a range. Range is inclusive of both bounds. If only one bound is provided, filter on that bound only.


          If gte > lte, return 400 invalid_parameter.

          '
        required: false
        style: deepObject
        explode: true
        schema:
          oneOf:
          - type: string
            format: date-time
            description: Exact date or date-time to match
          - type: object
            properties:
              gte:
                type: string
                format: date-time
                description: Greater than or equal to this date-time (inclusive)
              lte:
                type: string
                format: date-time
                description: Less than or equal to this date-time (inclusive)
      - name: filter[transactionType]
        in: query
        description: Filter by transaction type
        required: false
        schema:
          type: string
          enum:
          - Payment
          - Refund
          - Adjustment
      - name: filter[accountNumber]
        in: query
        description: Filter by account number
        required: false
        schema:
          type: string
      - name: filter[feeID]
        in: query
        description: Filter by fee ID
        required: false
        schema:
          type: string
      - name: filter[transactionID]
        in: query
        description: Filter by transaction ID
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ledger Entries
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Ledger Entries
                      title: Ledger Entry
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        id:
                          type: string
                          description: Unique internal ID of a ledger entry
                          example: ledger-entry-567890
                        type:
                          type: string
                          enum:
                          - ledgerEntry
                          example: ledgerEntry
                        attributes:
                          type: object
                          properties:
                            amount:
                              type: number
                              format: decimal
                              description: Payment amount
                              example: 125.5
                            transactionDate:
                              type: string
                              format: date-time
                              description: Date and time when the transaction occurred
                            transactionType:
                              type: string
                              enum:
                              - Payment
                              - Refund
                              - Adjustment
                              - Transaction Fee
                              description: Transaction type
                              example: Payment
                            label:
                              type: string
                              description: Fee label
                              example: Building Permit Application Fee
                            accountNumber:
                              type: string
                              description: Account number
                              example: ACC-4567890123
                            updatedAt:
                              type: string
                              format: date-time
                              description: Timestamp when the payment was last updated
                              readOnly: true
                        relationships:
                          type: object
                          properties:
                            transaction:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The related `Transaction`.
                            fee:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The related `Fee`.
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/ledger-entries/{ledgerID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: ledgerID
      in: path
      description: ID of a ledger
      required: true
      schema:
        type: integer
    get:
      summary: Get ledger entry
      description: 'Retrieve a ledger entry by ID.

        ### Permissions Required

        `Payment Read`'
      operationId: getLedgerEntry
      x-og-claims-required:
      - PLC_PAYMENT_READ
      tags:
      - Ledger Entries
      responses:
        '200':
          description: Ledger Entry
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Ledger Entries
                    title: Ledger Entry
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Unique internal ID of a ledger entry
                        example: ledger-entry-567890
                      type:
                        type: string
                        enum:
                        - ledgerEntry
                        example: ledgerEntry
                      attributes:
                        type: object
                        properties:
                          amount:
                            type: number
                            format: decimal
                            description: Payment amount
                            example: 125.5
                          transactionDate:
                            type: string
                            format: date-time
                            description: Date and time when the transaction occurred
                          transactionType:
                            type: string
                            enum:
                            - Payment
                            - Refund
                            - Adjustment
                            - Transaction Fee
                            description: Transaction type
                            example: Payment
                          label:
                            type: string
                            description: Fee label
                            example: Building Permit Application Fee
                          accountNumber:
                            type: string
                            description: Account number
                            example: ACC-4567890123
                          updatedAt:
                            type: string
                            format: date-time
                            description: Timestamp when the payment was last updated
                            readOnly: true
                      relationships:
                        type: object
                        properties:
                          transaction:
                            $ref: '#/paths/~1v2~1{community}~1ledger-entries/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/transaction'
                          fee:
                            $ref: '#/paths/~1v2~1{community}~1ledger-entries/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/fee'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
components:
  securitySchemes:
    basicHttpAuthentication:
      type: http
      scheme: basic
      description: 'Basic HTTP Authentication

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        Access tokens are obtained by making a POST request to `https://accounts.viewpointcloud.com/oauth/token`

        '
    auth0Prod:
      type: openIdConnect
      openIdConnectUrl: https://accounts.viewpointcloud.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
    auth0Dev:
      type: openIdConnect
      openIdConnectUrl: https://login.vpctest.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
x-og-spec-id: plc-api-v2
x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read
x-tagGroups:
- name: Records
  tags:
  - Record
  - Record Applicant
  - Record Guests
  - Record Primary Location
  - Record Additional Locations
  - Record Forms
  - Record Change Requests
  - Record Attachments
  - Record Workflow Steps
  - Record Workflow Step Comments
- name: Locations
  tags:
  - Locations
  - Location Flags
- name: Users
  tags:
  - Users
  - User Flags
- name: Approvals
  tags:
  - Approval Steps
- name: Documents
  tags:
  - Document Steps
  - Issued Documents
- name: Inspections
  tags:
  - Inspection Steps
  - Inspection Types
  - Inspection Events
  - Inspection Results
  - Checklist Results
- name: Payments
  tags:
  - Payment Steps
  - Fees
  - Transactions
  - Ledger Entries
- name: Projects
  tags:
  - Projects
- name: Files
  tags:
  - Files
- name: Configuration
  tags:
  - Organization
  - Departments
  - Record Types
  - Record Type Form
  - Record Type Attachments
  - Record Type Document Templates
  - Record Type Fees
  - Record Type Workflow
  - Inspection Type Templates
  - Checklist Templates
- name: Activity Logs
  tags:
  - Activity Logs
