openapi: 3.2.0
info:
  version: v2
  title: Permitting & Licensing Record Type Document Templates API
  contact:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
    email: developers@opengov.com
  description: "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n"
  license:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
  x-og-envs:
  - production
  - staging
  - development
  - local
security:
- bearerAuth: []
- basicHttpAuthentication: []
- auth0Prod: []
- auth0Dev: []
tags:
- name: Record Type Document Templates
  description: Record Type Document Templates provide the format and content of a particular document that should be issued in a Document Step.
paths:
  /v2/{community}/record-types/{recordTypeID}/document-templates:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - $ref: '#/paths/~1v2~1{community}~1record-types~1{recordTypeID}~1attachments/parameters/1'
    get:
      summary: List document templates for a record type
      description: 'Retrieve a list of document templates configured for the specified record type.

        ### Permissions Required

        `Record Type Read`'
      operationId: getDocumentTemplates
      x-og-claims-required:
      - PLC_RECORD_TYPE_READ
      tags:
      - Record Type Document Templates
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      responses:
        '200':
          description: Returns document templates
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Record Type Document Template
                      x-tags:
                      - Record Type Document Templates
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - recordTypeDocument
                          example: recordTypeDocument
                        id:
                          type: string
                          example: rt-document-556677
                        attributes:
                          type: object
                          description: Document templates
                          properties:
                            docTitle:
                              type: string
                              maxLength: 500
                              nullable: true
                              description: Title of the document.
                              example: Building Permit Certificate
                            html:
                              type: string
                              nullable: true
                              description: HTML content of the document.
                              example: <h1>Building Permit Certificate</h1><p>This certifies that permit {{permit_number}} has been approved for construction at {{address}}.</p>
                            portrait:
                              type: boolean
                              nullable: true
                              description: Indicates whether the document is in portrait format.
                              example: true
                            documentType:
                              type: string
                              enum:
                              - Permit/License
                              - Letter
                              - Certificate
                              - Other
                              description: Type of document
                            lastUpdatedByUserID:
                              type: string
                              nullable: true
                              description: Identifier of the user who last updated the document.
                              example: user-admin-889900
                            updatedAt:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp of the last update.
                            isEnabled:
                              type: boolean
                              description: Indicates whether the document is enabled.
                              default: true
                              example: true
                        relationships:
                          type: object
                          properties:
                            recordType:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The related `Record Type`.
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/record-types/document-templates/{recordTypeDocumentID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: recordTypeDocumentID
      in: path
      description: ID of the record type document template
      required: true
      schema:
        type: string
    get:
      summary: Get document template by ID
      description: 'Retrieve a document template for a record type by ID.

        ### Permissions Required

        `Record Type Read`'
      operationId: getDocumentTemplate
      x-og-claims-required:
      - PLC_RECORD_TYPE_READ
      tags:
      - Record Type Document Templates
      responses:
        '200':
          description: Returns document template
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Record Type Document Template
                    x-tags:
                    - Record Type Document Templates
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - recordTypeDocument
                        example: recordTypeDocument
                      id:
                        type: string
                        example: rt-document-556677
                      attributes:
                        type: object
                        description: Document templates
                        properties:
                          docTitle:
                            type: string
                            maxLength: 500
                            nullable: true
                            description: Title of the document.
                            example: Building Permit Certificate
                          html:
                            type: string
                            nullable: true
                            description: HTML content of the document.
                            example: <h1>Building Permit Certificate</h1><p>This certifies that permit {{permit_number}} has been approved for construction at {{address}}.</p>
                          portrait:
                            type: boolean
                            nullable: true
                            description: Indicates whether the document is in portrait format.
                            example: true
                          documentType:
                            $ref: '#/paths/~1v2~1{community}~1record-types~1{recordTypeID}~1document-templates/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/attributes/properties/documentType'
                          lastUpdatedByUserID:
                            type: string
                            nullable: true
                            description: Identifier of the user who last updated the document.
                            example: user-admin-889900
                          updatedAt:
                            type: string
                            format: date-time
                            nullable: true
                            description: Timestamp of the last update.
                          isEnabled:
                            type: boolean
                            description: Indicates whether the document is enabled.
                            default: true
                            example: true
                      relationships:
                        type: object
                        properties:
                          recordType:
                            $ref: '#/paths/~1v2~1{community}~1record-types~1{recordTypeID}~1document-templates/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/recordType'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
components:
  securitySchemes:
    basicHttpAuthentication:
      type: http
      scheme: basic
      description: 'Basic HTTP Authentication

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        Access tokens are obtained by making a POST request to `https://accounts.viewpointcloud.com/oauth/token`

        '
    auth0Prod:
      type: openIdConnect
      openIdConnectUrl: https://accounts.viewpointcloud.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
    auth0Dev:
      type: openIdConnect
      openIdConnectUrl: https://login.vpctest.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
x-og-spec-id: plc-api-v2
x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read
x-tagGroups:
- name: Records
  tags:
  - Record
  - Record Applicant
  - Record Guests
  - Record Primary Location
  - Record Additional Locations
  - Record Forms
  - Record Change Requests
  - Record Attachments
  - Record Workflow Steps
  - Record Workflow Step Comments
- name: Locations
  tags:
  - Locations
  - Location Flags
- name: Users
  tags:
  - Users
  - User Flags
- name: Approvals
  tags:
  - Approval Steps
- name: Documents
  tags:
  - Document Steps
  - Issued Documents
- name: Inspections
  tags:
  - Inspection Steps
  - Inspection Types
  - Inspection Events
  - Inspection Results
  - Checklist Results
- name: Payments
  tags:
  - Payment Steps
  - Fees
  - Transactions
  - Ledger Entries
- name: Projects
  tags:
  - Projects
- name: Files
  tags:
  - Files
- name: Configuration
  tags:
  - Organization
  - Departments
  - Record Types
  - Record Type Form
  - Record Type Attachments
  - Record Type Document Templates
  - Record Type Fees
  - Record Type Workflow
  - Inspection Type Templates
  - Checklist Templates
- name: Activity Logs
  tags:
  - Activity Logs
