openapi: 3.2.0
info:
  title: OpenGov Purchase Order Spend Summary API
  version: 1.0.0
  description: API for managing purchase orders, line items, splits, and vendors.
servers:
- url: https://api-purchase-order.procurement.opengov.com
  description: Production
- url: https://api-purchase-order.procurement.ogstaging.us
  description: Staging
- url: https://api-purchase-order.procurement.ogintegration.us
  description: Integration
security:
- platformApiKey: []
- platformBearerToken: []
tags:
- name: spendSummary
paths:
  /api/v1/po/entities/{entityId}/purchase-orders/{poId}/spend-summary:
    get:
      tags:
      - spendSummary
      operationId: spendSummary.getSpendSummary
      parameters:
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - invoiceSummary
                    - receiptSummary
                    - poAmountBreakdown
                    properties:
                      invoiceSummary:
                        type: array
                        items:
                          type: object
                          required:
                          - eInvoiceId
                          - invoiceNumber
                          properties:
                            eInvoiceId:
                              $ref: '#/components/schemas/UUID'
                            invoiceNumber:
                              anyOf:
                              - type: string
                                description: a string at most 64 character(s) long
                                title: maxLength(64)
                                pattern: ^\S[\s\S]*\S$|^\S$|^$
                                minLength: 1
                                maxLength: 64
                              - type: 'null'
                            matchedAmount:
                              $ref: '#/components/schemas/SignedDecimal_18_2'
                            invoicedAmount:
                              $ref: '#/components/schemas/SignedDecimal_18_2'
                            paidAmount:
                              $ref: '#/components/schemas/SignedDecimal_18_2'
                          additionalProperties: false
                      receiptSummary:
                        type: array
                        items:
                          type: object
                          required:
                          - eReceiptId
                          - receiptNumber
                          - acceptedQuantity
                          properties:
                            eReceiptId:
                              type: number
                            receiptNumber:
                              type: string
                            acceptedQuantity:
                              type: string
                          additionalProperties: false
                      poAmountBreakdown:
                        type: object
                        required:
                        - subtotal
                        - tax
                        - freight
                        - discount
                        - miscCharges
                        - totalTolerance
                        properties:
                          subtotal:
                            type: string
                          tax:
                            type: string
                          freight:
                            type: string
                          discount:
                            type: string
                          miscCharges:
                            type: string
                          totalTolerance:
                            type: string
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Returns distinct invoices and receipts linked to this PO with aggregate allocation amounts, plus a PO amount breakdown (subtotal, tax, freight, discount, miscCharges, totalTolerance).
      summary: Get PO spend summary
components:
  schemas:
    UUID:
      type: string
      description: a Universally Unique Identifier
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
    SignedDecimal_18_2:
      type: string
      title: Signed Decimal (18,2)
    NumberFromString:
      type: string
      description: a string to be decoded into a number
  securitySchemes:
    platformApiKey:
      description: OpenGov Platform API Key
      type: apiKey
      name: Authorization
      in: header
    platformBearerToken:
      type: http
      scheme: bearer
