openapi: 3.2.0
info:
  title: Opengov Step Comments API
  version: v1
  x-logo:
    url: https://viewpointcloud.blob.core.windows.net/profile-pictures/Frame_778_Sun_Nov_12_2023_17:18:36_GMT+0000_(Coordinated_Universal_Time).png
  description: 'Operations tagged Step Comments across 2 of this provider''s published API definitions: opengov-permitting-licensing-v1-openapi-original.yml, opengov-permitting-licensing-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
security:
- bearerAuth: []
tags:
- name: Step Comments
  description: 'A Record Step can have **Comments**, which are visible to public Record Contacts, and **Internal Notes**, which are visible to employees only.


    Comments send Notifications to any employee assigned to a step.

    '
paths:
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}/comments:
    get:
      summary: List step comments
      operationId: listRecordStepComments
      tags:
      - Step Comments
      parameters:
      - $ref: '#/components/parameters/community'
      - $ref: '#/components/parameters/recordID'
      - $ref: '#/components/parameters/stepID'
      responses:
        '200':
          description: Returns step comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordStepComment'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '500':
          description: Internal Server Error
    post:
      summary: Post a step comment
      operationId: postStepComment
      tags:
      - Step Comments
      parameters:
      - $ref: '#/components/parameters/community'
      - $ref: '#/components/parameters/recordID'
      - $ref: '#/components/parameters/stepID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/RecordStepCommentMutable'
        required: true
      responses:
        '200':
          description: Returns the step comment object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecordStepComment'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.plce.opengov.com/plce
      description: Production
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}/comments/{commentID}:
    delete:
      summary: Delete a step comment
      operationId: removeStepComment
      tags:
      - Step Comments
      parameters:
      - $ref: '#/components/parameters/community'
      - $ref: '#/components/parameters/recordID'
      - $ref: '#/components/parameters/stepID'
      - $ref: '#/components/parameters/commentID'
      responses:
        '200':
          description: Comment Deleted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.plce.opengov.com/plce
      description: Production
components:
  parameters:
    commentID:
      name: commentID
      in: path
      description: ID of a comment on a workflow step of a record
      required: true
      schema:
        type: integer
    community:
      name: community
      in: path
      description: Name of the community
      required: true
      schema:
        type: string
    recordID:
      name: recordID
      in: path
      description: ID of the record
      required: true
      schema:
        type: integer
    stepID:
      name: stepID
      in: path
      description: ID of workflow step on a record
      required: true
      schema:
        type: integer
  schemas:
    RecordStepCommentMutable:
      type: object
      example:
        type: record_step_comment
        attributes:
          type: COMMENT
          comment: Hello World
      properties:
        type:
          type: string
          description: Type of the resource
          enum:
          - record_step_comment
        attributes:
          type: object
          properties:
            type:
              type: string
              enum:
              - COMMENT
              - INTERNAL_NOTE
              description: Value indicates the type of comment
            comment:
              type: string
              description: Contents of the comment
    RecordStepComment:
      x-tags:
      - Step Comments
      type: object
      title: The step comment object
      example:
        type: record_step_comment
        id: '10987'
        attributes:
          id: 10987
          type: COMMENT
          comment: Hello World
          createdBy: auth0|60x678x9x5x9xx00709x6880
          createdAt: '2023-11-11T19:00:46.000Z'
      properties:
        id:
          type: integer
        type:
          type: string
          enum:
          - record_step_comment
        attributes:
          type: object
          properties:
            id:
              type: integer
              description: ID that uniquely identifies each comment
            type:
              type: string
              enum:
              - COMMENT
              - INTERNAL_NOTE
              description: Value indicates the type of comment
            comment:
              type: string
              description: Contents of the comment
            createdBy:
              type: string
              description: ID of the user who created this comment
            createdAt:
              type: string
              format: date-time
              description: Timestamp that indicates when this comment was created
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- opengov-permitting-licensing-v1-openapi-original.yml
- opengov-permitting-licensing-v1-openapi.yml
x-og-spec-id: bnp-api-v1
x-og-env-servers:
  production: https://api.bnp.opengov.com
  development: https://api.bnp.ogintegration.us
