openapi: 3.2.0
info:
  version: v2
  title: Permitting & Licensing Record Type Attachments API
  contact:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
    email: developers@opengov.com
  description: "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n"
  license:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
  x-og-envs:
  - production
  - staging
  - development
  - local
security:
- bearerAuth: []
- basicHttpAuthentication: []
- auth0Prod: []
- auth0Dev: []
tags:
- name: Record Type Attachments
  description: Record Type Attachments are templates that define the required and optional Attachments for a Record of a particular Record Type.
paths:
  /v2/{community}/record-types/{recordTypeID}/attachments:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: recordTypeID
      in: path
      description: ID of the record type
      required: true
      schema:
        type: string
    get:
      summary: List attachment templates for a record type
      description: 'List attachment templates for a record type.

        ### Permissions Required

        `Record Type Read`'
      operationId: getAttachmentTemplates
      x-og-claims-required:
      - PLC_RECORD_TYPE_READ
      tags:
      - Record Type Attachments
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      responses:
        '200':
          description: Returns attachment templates
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Record Type Attachment
                      x-tags:
                      - Record Type Attachments
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - recordTypeAttachment
                          example: recordTypeAttachment
                        id:
                          type: string
                          example: rt-attachment-334455
                        attributes:
                          type: object
                          description: Attachment templates
                          properties:
                            description:
                              type: string
                              nullable: true
                              description: Description of the attachment.
                              example: Detailed architectural drawings showing all elevations and floor plans
                            name:
                              type: string
                              nullable: true
                              description: Name of the attachment.
                              example: Architectural Plans
                            isEnabled:
                              type: boolean
                              description: Indicates whether the attachment is enabled.
                              default: true
                              example: true
                            required:
                              type: boolean
                              description: Indicates whether the attachment is required.
                              default: false
                              example: true
                            lastUpdatedByUserID:
                              type: string
                              nullable: true
                              description: Identifier of the user who last updated the attachment.
                              example: user-admin-667788
                            updatedAt:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp of the last update.
                            viewAccess:
                              type: string
                              enum:
                              - Public
                              - Internal and Applicant
                              description: Access level required to view the attachment.
                              example: Internal and Applicant
                            orderNo:
                              type: integer
                              nullable: true
                              description: Sorting order number for the attachment.
                              example: 1
                        relationships:
                          type: object
                          properties:
                            recordType:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The related `Record Type`.
                  included:
                    $ref: '#/paths/~1v2~1{community}~1departments~1{departmentID}/get/responses/200/content/application~1vnd.api+json/schema/properties/included'
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/record-types/attachments/{recordTypeAttachmentID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: recordTypeAttachmentID
      in: path
      description: ID of the record type attachment
      required: true
      schema:
        type: string
    get:
      summary: Get attachment template
      description: 'Retrieve an attachment template for a record type by ID.

        ### Permissions Required

        `Record Type Read`'
      operationId: getAttachmentTemplate
      x-og-claims-required:
      - PLC_RECORD_TYPE_READ
      tags:
      - Record Type Attachments
      responses:
        '200':
          description: Returns attachment template
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: Record Type Attachment
                    x-tags:
                    - Record Type Attachments
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - recordTypeAttachment
                        example: recordTypeAttachment
                      id:
                        type: string
                        example: rt-attachment-334455
                      attributes:
                        type: object
                        description: Attachment templates
                        properties:
                          description:
                            type: string
                            nullable: true
                            description: Description of the attachment.
                            example: Detailed architectural drawings showing all elevations and floor plans
                          name:
                            type: string
                            nullable: true
                            description: Name of the attachment.
                            example: Architectural Plans
                          isEnabled:
                            type: boolean
                            description: Indicates whether the attachment is enabled.
                            default: true
                            example: true
                          required:
                            type: boolean
                            description: Indicates whether the attachment is required.
                            default: false
                            example: true
                          lastUpdatedByUserID:
                            type: string
                            nullable: true
                            description: Identifier of the user who last updated the attachment.
                            example: user-admin-667788
                          updatedAt:
                            type: string
                            format: date-time
                            nullable: true
                            description: Timestamp of the last update.
                          viewAccess:
                            type: string
                            enum:
                            - Public
                            - Internal and Applicant
                            description: Access level required to view the attachment.
                            example: Internal and Applicant
                          orderNo:
                            type: integer
                            nullable: true
                            description: Sorting order number for the attachment.
                            example: 1
                      relationships:
                        type: object
                        properties:
                          recordType:
                            $ref: '#/paths/~1v2~1{community}~1record-types~1{recordTypeID}~1attachments/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/recordType'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
components:
  securitySchemes:
    basicHttpAuthentication:
      type: http
      scheme: basic
      description: 'Basic HTTP Authentication

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        Access tokens are obtained by making a POST request to `https://accounts.viewpointcloud.com/oauth/token`

        '
    auth0Prod:
      type: openIdConnect
      openIdConnectUrl: https://accounts.viewpointcloud.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
    auth0Dev:
      type: openIdConnect
      openIdConnectUrl: https://login.vpctest.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
x-og-spec-id: plc-api-v2
x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read
x-tagGroups:
- name: Records
  tags:
  - Record
  - Record Applicant
  - Record Guests
  - Record Primary Location
  - Record Additional Locations
  - Record Forms
  - Record Change Requests
  - Record Attachments
  - Record Workflow Steps
  - Record Workflow Step Comments
- name: Locations
  tags:
  - Locations
  - Location Flags
- name: Users
  tags:
  - Users
  - User Flags
- name: Approvals
  tags:
  - Approval Steps
- name: Documents
  tags:
  - Document Steps
  - Issued Documents
- name: Inspections
  tags:
  - Inspection Steps
  - Inspection Types
  - Inspection Events
  - Inspection Results
  - Checklist Results
- name: Payments
  tags:
  - Payment Steps
  - Fees
  - Transactions
  - Ledger Entries
- name: Projects
  tags:
  - Projects
- name: Files
  tags:
  - Files
- name: Configuration
  tags:
  - Organization
  - Departments
  - Record Types
  - Record Type Form
  - Record Type Attachments
  - Record Type Document Templates
  - Record Type Fees
  - Record Type Workflow
  - Inspection Type Templates
  - Checklist Templates
- name: Activity Logs
  tags:
  - Activity Logs
