openapi: 3.2.0
info:
  title: OpenGov Purchase Order Change Order By Po API
  version: 1.0.0
  description: API for managing purchase orders, line items, splits, and vendors.
servers:
- url: https://api-purchase-order.procurement.opengov.com
  description: Production
- url: https://api-purchase-order.procurement.ogstaging.us
  description: Staging
- url: https://api-purchase-order.procurement.ogintegration.us
  description: Integration
security:
- platformApiKey: []
- platformBearerToken: []
tags:
- name: changeOrderByPo
paths:
  /api/v1/po/entities/{entityId}/purchase-orders/{poId}/change-orders:
    post:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.createChangeOrder
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - changeOrder
                    properties:
                      changeOrder:
                        type: object
                        required:
                        - id
                        - entityId
                        - poPurchaseOrderId
                        - coNumber
                        - coSequence
                        - coDate
                        - status
                        - label
                        - coReasonId
                        - coReasonLabel
                        - changeDescription
                        - originalPoTotal
                        - changeInTotal
                        - revisedPoTotal
                        - currency
                        - poNumber
                        - vendorName
                        - fiscalYear
                        - nonFinancialChanges
                        - effectiveDate
                        - revisedEndDate
                        - createdBy
                        - createdAt
                        - updatedBy
                        - updatedAt
                        properties:
                          id:
                            type: number
                          entityId:
                            type: string
                          poPurchaseOrderId:
                            type: number
                          coNumber:
                            type: string
                          coSequence:
                            type: number
                          coDate:
                            type: string
                          status:
                            type: string
                          label:
                            anyOf:
                            - type: string
                            - type: 'null'
                          coReasonId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          coReasonLabel:
                            anyOf:
                            - type: string
                            - type: 'null'
                          changeDescription:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalPoTotal:
                            type: string
                          changeInTotal:
                            type: string
                          revisedPoTotal:
                            type: string
                          currency:
                            type: string
                          poNumber:
                            type: string
                          vendorName:
                            anyOf:
                            - type: string
                            - type: 'null'
                          fiscalYear:
                            anyOf:
                            - type: number
                            - type: 'null'
                          nonFinancialChanges:
                            $id: /schemas/unknown
                            title: unknown
                          effectiveDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedEndDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdBy:
                            type: string
                          createdAt:
                            type: string
                          updatedBy:
                            type: string
                          updatedAt:
                            type: string
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '409':
          description: ConflictError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  code:
                    type: string
                    description: Machine-readable error code
                    example: IDEMPOTENCY_CONFLICT
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: A request with this idempotency key is currently being processed. Retry after the in-flight request completes.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Creates a new Draft Change Order for a PO in Approved or Issued status. Auto-generates CO number and sequence. Snapshots PO financial fields. Returns 201 with Location header on success.
      summary: Create a new change order for a purchase order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                coReasonId:
                  anyOf:
                  - type: number
                  - type: 'null'
                changeDescription:
                  anyOf:
                  - type: string
                    description: a string at most 2000 character(s) long
                    title: maxLength(2000)
                    maxLength: 2000
                  - type: 'null'
                effectiveDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                revisedEndDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                nonFinancialChanges:
                  $id: /schemas/unknown
                  title: unknown
              additionalProperties: false
        required: true
  /api/v1/po/entities/{entityId}/purchase-orders/{poId}/change-orders/{coId}:
    get:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.getChangeOrder
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: coId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - changeOrder
                    properties:
                      changeOrder:
                        type: object
                        required:
                        - id
                        - entityId
                        - poPurchaseOrderId
                        - coNumber
                        - coSequence
                        - coDate
                        - status
                        - label
                        - coReasonId
                        - coReasonLabel
                        - changeDescription
                        - originalPoTotal
                        - changeInTotal
                        - revisedPoTotal
                        - currency
                        - poNumber
                        - vendorName
                        - fiscalYear
                        - nonFinancialChanges
                        - effectiveDate
                        - revisedEndDate
                        - createdBy
                        - createdAt
                        - updatedBy
                        - updatedAt
                        - poSnapshot
                        - lines
                        - hasHeaderAttachmentChanges
                        - lineAttachmentChangesByLineId
                        properties:
                          id:
                            type: number
                          entityId:
                            type: string
                          poPurchaseOrderId:
                            type: number
                          coNumber:
                            type: string
                          coSequence:
                            type: number
                          coDate:
                            type: string
                          status:
                            type: string
                          label:
                            anyOf:
                            - type: string
                            - type: 'null'
                          coReasonId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          coReasonLabel:
                            anyOf:
                            - type: string
                            - type: 'null'
                          changeDescription:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalPoTotal:
                            type: string
                          changeInTotal:
                            type: string
                          revisedPoTotal:
                            type: string
                          currency:
                            type: string
                          poNumber:
                            type: string
                          vendorName:
                            anyOf:
                            - type: string
                            - type: 'null'
                          fiscalYear:
                            anyOf:
                            - type: number
                            - type: 'null'
                          nonFinancialChanges:
                            $id: /schemas/unknown
                            title: unknown
                          effectiveDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedEndDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdBy:
                            type: string
                          createdAt:
                            type: string
                          updatedBy:
                            type: string
                          updatedAt:
                            type: string
                          poSnapshot:
                            type: object
                            required:
                            - poNumber
                            - status
                            - description
                            - attentionTo
                            - totalAmount
                            - vendorName
                            - fiscalYear
                            - shipToAddressLine1
                            - shipToAddressLine2
                            - shipToCity
                            - shipToState
                            - shipToZip
                            - billToAddressLine1
                            - billToAddressLine2
                            - billToCity
                            - billToState
                            - billToZip
                            - billToSameAsShipTo
                            - paymentTermId
                            - paymentTermCode
                            - paymentTermDesc
                            - vendorContactName
                            - vendorContactEmail
                            - vendorContactNumber
                            - departmentId
                            - departmentName
                            properties:
                              poNumber:
                                anyOf:
                                - type: string
                                - type: 'null'
                              status:
                                anyOf:
                                - type: string
                                - type: 'null'
                              description:
                                anyOf:
                                - type: string
                                - type: 'null'
                              attentionTo:
                                anyOf:
                                - type: string
                                - type: 'null'
                              totalAmount:
                                anyOf:
                                - type: string
                                - type: 'null'
                              vendorName:
                                anyOf:
                                - type: string
                                - type: 'null'
                              fiscalYear:
                                anyOf:
                                - type: number
                                - type: 'null'
                              shipToAddressLine1:
                                anyOf:
                                - type: string
                                - type: 'null'
                              shipToAddressLine2:
                                anyOf:
                                - type: string
                                - type: 'null'
                              shipToCity:
                                anyOf:
                                - type: string
                                - type: 'null'
                              shipToState:
                                anyOf:
                                - type: string
                                - type: 'null'
                              shipToZip:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToAddressLine1:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToAddressLine2:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToCity:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToState:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToZip:
                                anyOf:
                                - type: string
                                - type: 'null'
                              billToSameAsShipTo:
                                anyOf:
                                - type: boolean
                                - type: 'null'
                              paymentTermId:
                                anyOf:
                                - type: string
                                - type: 'null'
                              paymentTermCode:
                                anyOf:
                                - type: string
                                - type: 'null'
                              paymentTermDesc:
                                anyOf:
                                - type: string
                                - type: 'null'
                              vendorContactName:
                                anyOf:
                                - type: string
                                - type: 'null'
                              vendorContactEmail:
                                anyOf:
                                - type: string
                                - type: 'null'
                              vendorContactNumber:
                                anyOf:
                                - type: string
                                - type: 'null'
                              departmentId:
                                anyOf:
                                - type: number
                                - type: 'null'
                              departmentName:
                                anyOf:
                                - type: string
                                  description: a string at most 128 character(s) long
                                  title: maxLength(128)
                                  maxLength: 128
                                - type: 'null'
                            additionalProperties: false
                          lines:
                            type: array
                            items:
                              type: object
                              required:
                              - poLineItemId
                              - lineNumber
                              - description
                              - lineItemType
                              - unitOfMeasure
                              - quantity
                              - unitRate
                              - amount
                              - changeType
                              - coLineId
                              - originalQuantity
                              - deltaQuantity
                              - originalUnitRate
                              - deltaUnitRate
                              - originalAmount
                              - changeAmount
                              - revisedLineTotal
                              - extendedAmount
                              - originalExtendedAmount
                              - taxValue
                              - taxType
                              - taxAmount
                              - discountValue
                              - discountType
                              - discountAmount
                              - freightValue
                              - freightType
                              - freightAmount
                              - miscellaneousValue
                              - miscellaneousType
                              - miscellaneousAmount
                              - toleranceAmountValue
                              - toleranceAmountType
                              - toleranceQuantityValue
                              - toleranceQuantityType
                              - toleranceUnitRateValue
                              - toleranceUnitRateType
                              - includeInThreeWayMatch
                              - includeAmountInMatch
                              - referenceNumber
                              - displayId
                              - acceptedQuantity
                              - splits
                              properties:
                                poLineItemId:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                lineNumber:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                description:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                lineItemType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                unitOfMeasure:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                quantity:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                unitRate:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                amount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                changeType:
                                  anyOf:
                                  - $ref: '#/components/schemas/CoChangeType'
                                  - type: 'null'
                                coLineId:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                originalQuantity:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                deltaQuantity:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                originalUnitRate:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                deltaUnitRate:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                originalAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                changeAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                revisedLineTotal:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                extendedAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                originalExtendedAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                taxValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                taxType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                taxAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                discountValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                discountType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                discountAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                freightValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                freightType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                freightAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                miscellaneousValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                miscellaneousType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                miscellaneousAmount:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceAmountValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceAmountType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceQuantityValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceQuantityType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceUnitRateValue:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                toleranceUnitRateType:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                includeInThreeWayMatch:
                                  anyOf:
                                  - type: boolean
                                  - type: 'null'
                                includeAmountInMatch:
                                  anyOf:
                                  - type: boolean
                                  - type: 'null'
                                referenceNumber:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                displayId:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                acceptedQuantity:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                changeKind:
                                  anyOf:
                                  - $ref: '#/components/schemas/CoChangeKind'
                                  - type: 'null'
                                splits:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - poLineItemSplitId
                                    - accountNumber
                                    - amount
                                    - projectAccountNumber
                                    - projectAccountDescription
                                    - coLineSplitId
                                    - originalAmount
                                    - deltaAmount
                                    - revisedAmount
                                    - percentAmount
                                    - displayId
                                    - reimbursable
                                    - eProjectAccountId
                                    - accountPseudoKey
                                    - encumberedAmount
                                    - encLiquidatedAccrualAmount
                                    - openEncumbranceAmount
                                    properties:
                                      poLineItemSplitId:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      accountNumber:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      amount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      projectAccountNumber:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      projectAccountDescription:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      coLineSplitId:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      originalAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      deltaAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      revisedAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      percentAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      displayId:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      reimbursable:
                                        anyOf:
                                        - type: boolean
                                        - type: 'null'
                                      eProjectAccountId:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      accountPseudoKey:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      encumberedAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      encLiquidatedAccrualAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      openEncumbranceAmount:
                                        anyOf:
                                        - type: string
                                        - type: 'null'
                                      changeKind:
                                        anyOf:
                                        - $ref: '#/components/schemas/CoChangeKind'
                                        - type: 'null'
                                    additionalProperties: false
                              additionalProperties: false
                          hasHeaderAttachmentChanges:
                            type: boolean
                          lineAttachmentChangesByLineId:
                            type: object
                            required: []
                            properties: {}
                            additionalProperties:
                              type: object
                              required:
                              - added
                              - removed
                              - unchanged
                              properties:
                                added:
                                  type: number
                                removed:
                                  type: number
                                unchanged:
                                  type: number
                              additionalProperties: false
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Returns the Change Order with enriched PO snapshot, all PO lines annotated with changeType (LineModified, LineAdded, or null), and nested splits. Implements BR-CR05 reason nullification for Draft COs.
      summary: Get a change order with full PO context
    put:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.updateChangeOrder
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: coId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - changeOrder
                    properties:
                      changeOrder:
                        type: object
                        required:
                        - id
                        - entityId
                        - poPurchaseOrderId
                        - coNumber
                        - coSequence
                        - coDate
                        - status
                        - label
                        - coReasonId
                        - coReasonLabel
                        - changeDescription
                        - originalPoTotal
                        - changeInTotal
                        - revisedPoTotal
                        - currency
                        - poNumber
                        - vendorName
                        - fiscalYear
                        - nonFinancialChanges
                        - effectiveDate
                        - revisedEndDate
                        - createdBy
                        - createdAt
                        - updatedBy
                        - updatedAt
                        properties:
                          id:
                            type: number
                          entityId:
                            type: string
                          poPurchaseOrderId:
                            type: number
                          coNumber:
                            type: string
                          coSequence:
                            type: number
                          coDate:
                            type: string
                          status:
                            type: string
                          label:
                            anyOf:
                            - type: string
                            - type: 'null'
                          coReasonId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          coReasonLabel:
                            anyOf:
                            - type: string
                            - type: 'null'
                          changeDescription:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalPoTotal:
                            type: string
                          changeInTotal:
                            type: string
                          revisedPoTotal:
                            type: string
                          currency:
                            type: string
                          poNumber:
                            type: string
                          vendorName:
                            anyOf:
                            - type: string
                            - type: 'null'
                          fiscalYear:
                            anyOf:
                            - type: number
                            - type: 'null'
                          nonFinancialChanges:
                            $id: /schemas/unknown
                            title: unknown
                          effectiveDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedEndDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdBy:
                            type: string
                          createdAt:
                            type: string
                          updatedBy:
                            type: string
                          updatedAt:
                            type: string
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '409':
          description: ConflictError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  code:
                    type: string
                    description: Machine-readable error code
                    example: IDEMPOTENCY_CONFLICT
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: A request with this idempotency key is currently being processed. Retry after the in-flight request completes.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Updates a Draft Change Order header fields including non-financial changes. Only the CO creator (or elevated user) can update. Returns 200 with updated CO on success.
      summary: Update a Draft change order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                coReasonId:
                  anyOf:
                  - type: number
                  - type: 'null'
                changeDescription:
                  anyOf:
                  - type: string
                  - type: 'null'
                effectiveDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                revisedEndDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                nonFinancialChanges:
                  $id: /schemas/unknown
                  title: unknown
                poPurchaseOrderId:
                  type: number
              additionalProperties: false
        required: true
    delete:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.deleteChangeOrder
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: coId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '204':
          description: Success
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '409':
          description: ConflictError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  code:
                    type: string
                    description: Machine-readable error code
                    example: IDEMPOTENCY_CONFLICT
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: A request with this idempotency key is currently being processed. Retry after the in-flight request completes.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Soft-deletes a Draft Change Order and clears the PO's hasPendingCo flag. Only the CO creator (or elevated user) can delete. Returns 204 No Content on success.
      summary: Delete a Draft change order
  /api/v1/po/entities/{entityId}/purchase-orders/{poId}/change-orders/{coId}/lines:
    post:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.addChangeOrderLine
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: coId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - line
                    properties:
                      line:
                        type: object
                        required:
                        - id
                        - poChangeOrderId
                        - poLineItemId
                        - changeType
                        - lineItemType
                        - description
                        - unitOfMeasure
                        - originalQuantity
                        - originalUnitRate
                        - originalAmount
                        - originalExtendedAmount
                        - extendedAmount
                        - deltaQuantity
                        - deltaUnitRate
                        - deltaAmount
                        - changeAmount
                        - revisedLineTotal
                        - taxValue
                        - taxType
                        - taxAmount
                        - discountValue
                        - discountType
                        - discountAmount
                        - freightValue
                        - freightType
                        - freightAmount
                        - miscellaneousValue
                        - miscellaneousType
                        - miscellaneousAmount
                        - toleranceAmountValue
                        - toleranceAmountType
                        - includeInThreeWayMatch
                        - includeAmountInMatch
                        - referenceNumber
                        - displayId
                        - effectiveDate
                        - revisedEndDate
                        - createdAt
                        - updatedAt
                        properties:
                          id:
                            type: number
                          poChangeOrderId:
                            type: number
                          poLineItemId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          changeType:
                            $ref: '#/components/schemas/CoChangeType'
                          lineItemType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          description:
                            anyOf:
                            - type: string
                            - type: 'null'
                          unitOfMeasure:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalQuantity:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalUnitRate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalExtendedAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          extendedAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaQuantity:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaUnitRate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          changeAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedLineTotal:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          toleranceAmountValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          toleranceAmountType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          includeInThreeWayMatch:
                            anyOf:
                            - type: boolean
                            - type: 'null'
                          includeAmountInMatch:
                            anyOf:
                            - type: boolean
                            - type: 'null'
                          referenceNumber:
                            anyOf:
                            - type: string
                            - type: 'null'
                          displayId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          effectiveDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedEndDate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Machine-readable error code
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Per-field validation errors (present for 400 validation errors)
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Dot-path to the field
                          example: lineItems.0.lineItemSplits.1
                        detail:
                          type: string
                          description: Human-readable validation message
                          example: 'Account 101-5100 has insufficient budget: requested 500.00, available 200.00'
                        code:
                          type: string
                          description: Machine-readable rule identifier
                          example: BUDGET_INSUFFICIENT
                        data:
                          type: object
                          description: Structured context for the error (account codes, amounts, IDs, etc.)
                          additionalProperties: true
                          example:
                            accountNumber: 101-5100
                            accountPseudoKey: GF-101-5100
                            requestedAmount: 500
                            availableAmount: 200
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthenticationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Authentication is required to access this resource.
                required:
                - status
                - code
                - detail
        '403':
          description: UnauthorizedError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  code:
                    type: string
                    description: Machine-readable error code
                    example: AuthorizationError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: You do not have permission to perform this action.
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  code:
                    type: string
                    description: Machine-readable error code
                    example: PurchaseOrderNotFound
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: Purchase order with id 123 was not found.
                required:
                - status
                - code
                - detail
        '409':
          description: ConflictError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  code:
                    type: string
                    description: Machine-readable error code
                    example: IDEMPOTENCY_CONFLICT
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: A request with this idempotency key is currently being processed. Retry after the in-flight request completes.
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  code:
                    type: string
                    description: Machine-readable error code
                    example: InternalServerError
                  detail:
                    type: string
                    description: Human-readable error description. For 400 ValidationError with exactly one field issue, matches that field's `detail`; otherwise a summary (e.g. multiple validation issues).
                    example: An unexpected error occurred while processing your request. Please try again later.
                required:
                - status
                - code
                - detail
      description: Adds a line to a Draft CO — either modifying an existing PO line (LineModified) or adding a new line (LineAdded). Enforces line-type validation rules (BR-L01, BR-L02, BR-L03, BR-L06, BR-L12, BR-L13, BR-L14). Returns 201 with Location header on success.
      summary: Add a line to a Draft change order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - changeType
              properties:
                changeType:
                  $ref: '#/components/schemas/CoChangeType'
                poLineItemId:
                  anyOf:
                  - type: number
                  - type: 'null'
                lineItemType:
                  $ref: '#/components/schemas/LineItemType'
                description:
                  anyOf:
                  - type: string
                  - type: 'null'
                unitOfMeasure:
                  anyOf:
                  - type: string
                  - type: 'null'
                quantity:
                  anyOf:
                  - type: string
                  - type: 'null'
                unitRate:
                  anyOf:
                  - type: string
                  - type: 'null'
                deltaQuantity:
                  anyOf:
                  - type: string
                  - type: 'null'
                deltaUnitRate:
                  anyOf:
                  - type: string
                  - type: 'null'
                deltaAmount:
                  anyOf:
                  - type: string
                  - type: 'null'
                effectiveDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                revisedEndDate:
                  anyOf:
                  - $ref: '#/components/schemas/ISODate'
                  - type: 'null'
                splits:
                  type: array
                  items:
                    type: object
                    required:
                    - amount
                    properties:
                      poLineItemSplitId:
                        anyOf:
                        - type: number
                        - type: 'null'
                      accountNumber:
                        anyOf:
                        - type: string
                        - type: 'null'
                      projectAccountNumber:
                        anyOf:
                        - type: string
                        - type: 'null'
                      projectAccountDescription:
                        anyOf:
                        - type: string
                        - type: 'null'
                      amount:
                        type: string
                      percentAmount:
                        anyOf:
                        - type: string
                        - type: 'null'
                      eProjectAccountId:
                        anyOf:
                        - type: string
                        - type: 'null'
                      accountPseudoKey:
                        anyOf:
                        - type: string
                        - type: 'null'
                      reimbursable:
                        anyOf:
                        - type: boolean
                        - type: 'null'
                    additionalProperties: false
                taxValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                taxType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                discountValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                discountType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                freightValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                freightType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                miscellaneousValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                miscellaneousType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                toleranceAmountValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                toleranceAmountType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                toleranceQuantityValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                toleranceQuantityType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                toleranceUnitRateValue:
                  anyOf:
                  - type: string
                  - type: 'null'
                toleranceUnitRateType:
                  anyOf:
                  - $ref: '#/components/schemas/ValueOrPercent'
                  - type: 'null'
                includeInThreeWayMatch:
                  anyOf:
                  - type: boolean
                  - type: 'null'
                includeAmountInMatch:
                  anyOf:
                  - type: boolean
                  - type: 'null'
                referenceNumber:
                  anyOf:
                  - type: string
                  - type: 'null'
              additionalProperties: false
        required: true
  /api/v1/po/entities/{entityId}/purchase-orders/{poId}/change-orders/{coId}/lines/{lineId}:
    put:
      tags:
      - changeOrderByPo
      operationId: changeOrderByPo.updateChangeOrderLine
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        required: true
        description: The UUID of the Platform entity
      - name: poId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: coId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      - name: lineId
        in: path
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - line
                    properties:
                      line:
                        type: object
                        required:
                        - id
                        - poChangeOrderId
                        - poLineItemId
                        - changeType
                        - lineItemType
                        - description
                        - unitOfMeasure
                        - originalQuantity
                        - originalUnitRate
                        - originalAmount
                        - originalExtendedAmount
                        - extendedAmount
                        - deltaQuantity
                        - deltaUnitRate
                        - deltaAmount
                        - changeAmount
                        - revisedLineTotal
                        - taxValue
                        - taxType
                        - taxAmount
                        - discountValue
                        - discountType
                        - discountAmount
                        - freightValue
                        - freightType
                        - freightAmount
                        - miscellaneousValue
                        - miscellaneousType
                        - miscellaneousAmount
                        - toleranceAmountValue
                        - toleranceAmountType
                        - includeInThreeWayMatch
                        - includeAmountInMatch
                        - referenceNumber
                        - displayId
                        - effectiveDate
                        - revisedEndDate
                        - createdAt
                        - updatedAt
                        properties:
                          id:
                            type: number
                          poChangeOrderId:
                            type: number
                          poLineItemId:
                            anyOf:
                            - type: number
                            - type: 'null'
                          changeType:
                            $ref: '#/components/schemas/CoChangeType'
                          lineItemType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          description:
                            anyOf:
                            - type: string
                            - type: 'null'
                          unitOfMeasure:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalQuantity:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalUnitRate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          originalExtendedAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          extendedAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaQuantity:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaUnitRate:
                            anyOf:
                            - type: string
                            - type: 'null'
                          deltaAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          changeAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          revisedLineTotal:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          taxAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          discountAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          freightAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousValue:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousType:
                            anyOf:
                            - type: string
                            - type: 'null'
                          miscellaneousAmount:
                            anyOf:
                            - type: string
                            - type: 'null'
                          toleranceAmountValue:
                            anyOf:
                            - type: string
                            - type: 'null'
[...]
