openapi: 3.2.0
info:
  title: Opengov Event Types API
  version: v1
  x-logo:
    url: https://viewpointcloud.blob.core.windows.net/profile-pictures/Frame_778_Sun_Nov_12_2023_17:18:36_GMT+0000_(Coordinated_Universal_Time).png
  description: 'Operations tagged Event Types across 2 of this provider''s published API definitions: opengov-permitting-licensing-v1-openapi-original.yml, opengov-permitting-licensing-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
security:
- bearerAuth: []
tags:
- name: Event Types
  description: This is a list of all the types of events we currently send. We may add more at any time, so in developing and maintaining your code, you should not assume that only these types exist.
paths: {}
webhooks:
  step_status_changed:
    post:
      summary: Step status changed
      description: Occurs when the status of a step in a record's workflow changes
      operationId: step_status_changed
      tags:
      - Event Types
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/event_common_props'
              - $ref: '#/components/schemas/step_status_changed'
      responses:
        '200':
          description: Return 200 status for successfully acknowledging the webhook delivery
    servers:
    - url: https://api.plce.opengov.com/plce
      description: Production
components:
  schemas:
    step_status_changed:
      type: object
      properties:
        details:
          type: object
          properties:
            object:
              type: object
              properties:
                object_type:
                  type: string
                  description: Type of the resource whose activity triggered the event
                  enum:
                  - record_step
                object_id:
                  type: string
                  description: ID of the workflow step whose status changed
                  example: 1234
                object_url:
                  type: string
                  format: url
                  description: URL of the record step whose activity triggered the event
                  example: https://plce.api.opengov.com/plce/v1/community/records/73543/workflow-steps/1234
                type:
                  $ref: '#/components/schemas/step_type'
                  example: APPROVAL
                template_id:
                  type: number
                  description: Unique identifier for the workflow step template
                status:
                  $ref: '#/components/schemas/step_status'
                  example: ACTIVE
            previous:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/step_status'
                  description: Previous status of the workflow step
                  example: COMPLETE
    step_status:
      type: string
      enum:
      - REJECTED
      - INACTIVE
      - ACTIVE
      - COMPLETE
      - SKIPPED
      - ON_HOLD
      description: Status of the workflow step
    event_common_props:
      type: object
      properties:
        id:
          type: string
          description: An ID that uniquely identifies the occurrence of an event
          example: b1d98e92-38cc-11ed-a261-0242ac120002
        type:
          type: string
          description: A value that describes the event. See for the complete list of event types
          example: workflow.step.status_changed
        occurred_at:
          type: string
          format: date-time
          description: Timestamp (UTC) when the event has occurred
        community:
          type: string
          description: Name of the community where the event occurred
          example: demo-support
        record:
          type: object
          description: Details of the record whose activity triggered the event
          properties:
            id:
              type: string
              description: ID of the record whose activity triggered the event
            type_id:
              type: string
              description: Type of the record whose activity triggered the event
            url:
              type: string
              format: url
              description: URL of the record whose activity triggered the event
              example: https://plce.api.opengov.com/plce/v1/community/records/73543
        details:
          type: object
          description: An object that describes the details of the event
          properties:
            object:
              type: object
              description: Details of the resource whose activity triggered the event
            previous:
              type: object
    step_type:
      type: string
      enum:
      - APPROVAL
      - PAYMENT
      - INSPECTION
      - DOCUMENT
      description: A value that indicates the kind of process that this step represents
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- opengov-permitting-licensing-v1-openapi-original.yml
- opengov-permitting-licensing-v1-openapi.yml
x-og-spec-id: bnp-api-v1
x-og-env-servers:
  production: https://api.bnp.opengov.com
  development: https://api.bnp.ogintegration.us
