openapi: 3.2.0
info:
  title: Opengov Tags API
  x-logo:
    url: https://assets.procurement.opengov.com/brand/pro-logo-padded.png
  version: '1.0'
  description: 'Operations tagged Tags across 2 of this provider''s published API definitions: opengov-procurement-v1-openapi.yml, opengov-procurement-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.procurement.opengov.com
  description: Production
tags:
- name: Tags
  x-displayName: Tags
paths:
  /public/api/v1/contracts/tags/contact:
    get:
      description: Returns a list of unique "Contact" tag names for the caller's organization.
      operationId: TagsV1Controller_getContactTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contact tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagsResponseDto'
              examples:
                default:
                  summary: Typical contact tags
                  value:
                    tags:
                    - Vendor
                    - Prime
                    - Subcontractor
                    - MWBE
                    - SBE
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contact tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contact tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/contracts:
    get:
      description: Returns a list of unique "Contract" tag names for the caller's organization.
      operationId: TagsV1Controller_getContractTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractTagsResponseDto'
              examples:
                default:
                  summary: Typical contract tags
                  value:
                    tags:
                    - Construction
                    - IT Services
                    - Renewal FY2025
                    - Emergency Procurement
                    - Sole Source
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/contract-attachments:
    get:
      description: Returns a list of unique "Contract Attachment" tag names for the caller's organization.
      operationId: TagsV1Controller_getContractAttachmentTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract Attachment tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAttachmentTagsResponseDto'
              examples:
                default:
                  summary: Typical contract attachment tags
                  value:
                    tags:
                    - RFP
                    - SOW
                    - COI
                    - Addendum
                    - Signed Contract
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Attachment tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Attachment tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/contract-insurances:
    get:
      description: Returns a list of unique "Contract Insurance" tag names for the caller's organization.
      operationId: TagsV1Controller_getContractInsuranceTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract Insurance tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInsuranceTagsResponseDto'
              examples:
                default:
                  summary: Typical contract insurance tags
                  value:
                    tags:
                    - General Liability
                    - Workers' Compensation
                    - Auto Liability
                    - Professional Liability
                    - Umbrella
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Insurance tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Insurance tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/delivery-codes:
    get:
      description: Returns a list of unique "Delivery Code" tag names for the caller's organization.
      operationId: TagsV1Controller_getDeliveryCodeTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Delivery Code tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryCodeTagsResponseDto'
              examples:
                default:
                  summary: Typical delivery code tags
                  value:
                    tags:
                    - FOB Origin
                    - FOB Destination
                    - Expedited
                    - Overnight
                    - Drop-ship
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Delivery Code tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Delivery Code tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/fiscal-years:
    get:
      description: Returns a list of unique "Fiscal Year" tag names for the caller's organization.
      operationId: TagsV1Controller_getFiscalYearTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Fiscal Year tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalYearTagsResponseDto'
              examples:
                default:
                  summary: Typical fiscal year tags
                  value:
                    tags:
                    - FY2023
                    - FY2024
                    - FY2025
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Fiscal Year tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Fiscal Year tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/funding-sources:
    get:
      description: Returns a list of unique "Funding Source" tag names for the caller's organization.
      operationId: TagsV1Controller_getFundingSourceTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Funding Source tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourceTagsResponseDto'
              examples:
                default:
                  summary: Typical funding source tags
                  value:
                    tags:
                    - General Fund
                    - Capital Projects Fund
                    - 'Grant: ARPA'
                    - 'Grant: CDBG'
                    - Bond Proceeds
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Funding Source tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Funding Source tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/payment-terms:
    get:
      description: Returns a list of unique "Payment Terms" tag names for the caller's organization.
      operationId: TagsV1Controller_getPaymentTermsTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Payment Terms tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTermsTagsResponseDto'
              examples:
                default:
                  summary: Typical payment terms tags
                  value:
                    tags:
                    - Net 30
                    - Net 45
                    - Due Upon Receipt
                    - 2/10 Net 30
                    - Milestone-based
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Payment Terms tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Payment Terms tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v1/contracts/tags/procurement-classifications:
    get:
      description: Returns a list of unique "Procurement Classification" tag names for the caller's organization.
      operationId: TagsV1Controller_getProcurementClassificationTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Procurement Classification tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcurementClassificationTagsResponseDto'
              examples:
                default:
                  summary: Typical procurement classification tags
                  value:
                    tags:
                    - RFP
                    - IFB
                    - RFQ
                    - Sole Source
                    - Cooperative Purchase
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Procurement Classification tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Procurement Classification tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/contact:
    get:
      description: Returns a list of unique "Contact" tag names for the caller's organization.
      operationId: TagsV2Controller_getContactTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Contact tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagsResponseDto'
              examples:
                default:
                  summary: Typical contact tags
                  value:
                    tags:
                    - Vendor
                    - Prime
                    - Subcontractor
                    - MWBE
                    - SBE
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contact tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contact tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/contracts:
    get:
      description: Returns a list of unique "Contract" tag names for the caller's organization.
      operationId: TagsV2Controller_getContractTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Contract tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractTagsResponseDto'
              examples:
                default:
                  summary: Typical contract tags
                  value:
                    tags:
                    - Construction
                    - IT Services
                    - Renewal FY2025
                    - Emergency Procurement
                    - Sole Source
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/contract-attachments:
    get:
      description: Returns a list of unique "Contract Attachment" tag names for the caller's organization.
      operationId: TagsV2Controller_getContractAttachmentTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Contract Attachment tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAttachmentTagsResponseDto'
              examples:
                default:
                  summary: Typical contract attachment tags
                  value:
                    tags:
                    - RFP
                    - SOW
                    - COI
                    - Addendum
                    - Signed Contract
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Attachment tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Attachment tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/contract-insurances:
    get:
      description: Returns a list of unique "Contract Insurance" tag names for the caller's organization.
      operationId: TagsV2Controller_getContractInsuranceTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Contract Insurance tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInsuranceTagsResponseDto'
              examples:
                default:
                  summary: Typical contract insurance tags
                  value:
                    tags:
                    - General Liability
                    - Workers' Compensation
                    - Auto Liability
                    - Professional Liability
                    - Umbrella
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Insurance tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Insurance tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/delivery-codes:
    get:
      description: Returns a list of unique "Delivery Code" tag names for the caller's organization.
      operationId: TagsV2Controller_getDeliveryCodeTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Delivery Code tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryCodeTagsResponseDto'
              examples:
                default:
                  summary: Typical delivery code tags
                  value:
                    tags:
                    - FOB Origin
                    - FOB Destination
                    - Expedited
                    - Overnight
                    - Drop-ship
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Delivery Code tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Delivery Code tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/fiscal-years:
    get:
      description: Returns a list of unique "Fiscal Year" tag names for the caller's organization.
      operationId: TagsV2Controller_getFiscalYearTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Fiscal Year tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalYearTagsResponseDto'
              examples:
                default:
                  summary: Typical fiscal year tags
                  value:
                    tags:
                    - FY2023
                    - FY2024
                    - FY2025
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Fiscal Year tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Fiscal Year tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/funding-sources:
    get:
      description: Returns a list of unique "Funding Source" tag names for the caller's organization.
      operationId: TagsV2Controller_getFundingSourceTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Funding Source tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourceTagsResponseDto'
              examples:
                default:
                  summary: Typical funding source tags
                  value:
                    tags:
                    - General Fund
                    - Capital Projects Fund
                    - 'Grant: ARPA'
                    - 'Grant: CDBG'
                    - Bond Proceeds
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Funding Source tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Funding Source tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/payment-terms:
    get:
      description: Returns a list of unique "Payment Terms" tag names for the caller's organization.
      operationId: TagsV2Controller_getPaymentTermsTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Payment Terms tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTermsTagsResponseDto'
              examples:
                default:
                  summary: Typical payment terms tags
                  value:
                    tags:
                    - Net 30
                    - Net 45
                    - Due Upon Receipt
                    - 2/10 Net 30
                    - Milestone-based
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Payment Terms tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Payment Terms tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
  /public/api/v2/entities/{entityUuid}/contracts/tags/procurement-classifications:
    get:
      description: Returns a list of unique "Procurement Classification" tag names for the caller's organization.
      operationId: TagsV2Controller_getProcurementClassificationTags
      parameters:
      - required: true
        name: entityUuid
        description: UUID of the OpenGov entity (typically an agency) the request is acting on
        schema:
          type: string
          format: uuid
        in: path
      responses:
        '200':
          description: Successfully retrieved Procurement Classification tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcurementClassificationTagsResponseDto'
              examples:
                default:
                  summary: Typical procurement classification tags
                  value:
                    tags:
                    - RFP
                    - IFB
                    - RFQ
                    - Sole Source
                    - Cooperative Purchase
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: 'User or entity information incomplete: userUUID=undefined, entityUUID=undefined'
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: 'Required entitlements not found: PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT'
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Procurement Classification tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Procurement Classification tags
      tags:
      - Tags
      security:
      - BearerToken: []
      - APIKey: []
    servers:
    - url: https://api.procurement.opengov.com
      description: Production
components:
  schemas:
    PaymentTermsTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique payment-terms-related tag names.
          example:
          - Net 30
          - Net 45
          - Due Upon Receipt
          - 2/10 Net 30
          - Milestone-based
          type: array
          items:
            type: string
      required:
      - tags
    ContractAttachmentTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique contract attachment-related tag names.
          example:
          - RFP
          - SOW
          - COI
          - Addendum
          - Signed Contract
          type: array
          items:
            type: string
      required:
      - tags
    ContractTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique contract-related tag names.
          example:
          - Construction
          - IT Services
          - Renewal FY2025
          - Emergency Procurement
          - Sole Source
          type: array
          items:
            type: string
      required:
      - tags
    ContactTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique contact-related tag names.
          example:
          - Vendor
          - Prime
          - Subcontractor
          - MWBE
          - SBE
          type: array
          items:
            type: string
      required:
      - tags
    ProcurementClassificationTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique procurement classification-related tag names.
          example:
          - RFP
          - IFB
          - RFQ
          - Sole Source
          - Cooperative Purchase
          type: array
          items:
            type: string
      required:
      - tags
    ContractInsuranceTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique contract insurance-related tag names.
          example:
          - General Liability
          - Workers' Compensation
          - Auto Liability
          - Professional Liability
          - Umbrella
          type: array
          items:
            type: string
      required:
      - tags
    FiscalYearTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique fiscal year-related tag names.
          example:
          - FY2023
          - FY2024
          - FY2025
          type: array
          items:
            type: string
      required:
      - tags
    DeliveryCodeTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique delivery code-related tag names.
          example:
          - FOB Origin
          - FOB Destination
          - Expedited
          - Overnight
          - Drop-ship
          type: array
          items:
            type: string
      required:
      - tags
    FundingSourceTagsResponseDto:
      type: object
      properties:
        tags:
          description: Unique funding source-related tag names.
          example:
          - General Fund
          - Capital Projects Fund
          - 'Grant: ARPA'
          - 'Grant: CDBG'
          - Bond Proceeds
          type: array
          items:
            type: string
      required:
      - tags
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    xApiKeyHeaderAuth:
      type: apiKey
      in: header
      name: x-api-key
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: `Token your-api-key-here`'
    BearerToken:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Enter Bearer Token without Bearer prefix
x-refined-from:
- opengov-procurement-v1-openapi.yml
- opengov-procurement-v2-openapi.yml
x-og-spec-id: bnp-api-v1
x-og-env-servers:
  production: https://api.bnp.opengov.com
  development: https://api.bnp.ogintegration.us
