openapi: 3.2.0
info:
  title: Open Data CKAN Action System API
  version: '2.9'
  description: Open Data CKAN's Action API is a powerful, RPC-style API that exposes several features.
  contact:
    name: CKAN Community
    url: https://ckan.org/community
  license:
    name: GNU Affero General Public License (AGPL) v3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
- url: https://cloudcity.ogopendata.com/api/3/action
  description: Cloud City Open Data
tags:
- name: System
paths:
  /status_show:
    get:
      operationId: statusShow
      summary: Get the CKAN version and a list of installed extensions
      tags:
      - System
      parameters: []
      responses:
        '200':
          description: Status envelope
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    result:
                      type: object
                      additionalProperties: true
              examples:
                success:
                  summary: Successful status show
                  value:
                    help: https://demo.ckan.org/api/3/action/help_show?name=status_show
                    success: true
                    result:
                      site_title: CKAN Demo
                      site_url: https://demo.ckan.org
                      extensions:
                      - stats
                      - resource_proxy
                      - image_view
                      - webpage_view
                      - datastore
                      ckan_version: 2.9.11
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AuthorizationError'
        '500':
          $ref: '#/components/responses/ServerError'
      security: []
components:
  responses:
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    AuthorizationError:
      description: Authorization error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            authorization_error:
              summary: Authorization error
              value:
                help: https://demo.ckan.org/api/3/action/help_show?name={action_name}
                success: false
                error:
                  __type: Authorization Error
                  message: 'Access denied: User not authorized to perform this action'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    ErrorEnvelope:
      type: object
      required:
      - help
      - success
      - error
      properties:
        help:
          type: string
        success:
          type: boolean
          default: false
        error:
          type: object
          additionalProperties: true
          properties:
            __type:
              type: string
            message:
              type: string
    Envelope:
      type: object
      required:
      - help
      - success
      properties:
        help:
          type: string
        success:
          type: boolean
        result:
          type: object
          additionalProperties: true
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: Authorization
