openapi: 3.2.0
info:
  title: OpenGov Receipt Receipt Activity API
  version: 1.0.0
  description: API for managing receipts.
servers:
- url: https://api-receipts.procurement.opengov.com
  description: Production
- url: https://api-receipts.procurement.ogstaging.us
  description: Staging
- url: https://api-receipts.procurement.ogintegration.us
  description: Integration
security: []
tags:
- name: receiptActivity
paths:
  /api/v1/entities/{entityId}/receipts/{id}/activity:
    get:
      tags:
      - receiptActivity
      operationId: receiptActivity.listFeed
      parameters:
      - name: entityId
        in: path
        schema:
          type: string
          description: The UUID of the Platform entity
          default: 04eb277c-f9cd-42b0-9610-0f068f6aaea1
        required: true
        description: The UUID of the Platform entity
      - name: id
        in: path
        schema:
          type: string
          description: a string to be decoded into a number
        required: true
        description: a string to be decoded into a number
      - name: entryTypes
        in: query
        schema:
          type: string
        required: false
      - name: visibilityScope
        in: query
        schema:
          $ref: '#/components/schemas/VisibilityScope'
        required: false
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - NewestFirst
          - OldestFirst
        required: false
      - name: cursor
        in: query
        schema:
          type: string
        required: false
      - name: pageSize
        in: query
        schema:
          $ref: '#/components/schemas/NumberFromString'
        required: false
      security:
      - platformApiKey: []
      - platformBearerToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    required:
                    - activities
                    properties:
                      activities:
                        type: array
                        items:
                          type: object
                          required:
                          - activityId
                          - entryType
                          - commentId
                          - visibilityScope
                          - body
                          - author
                          - attachments
                          - createdAt
                          - isEdited
                          properties:
                            activityId:
                              type: integer
                              description: an integer
                              title: int
                            entryType:
                              $ref: '#/components/schemas/ActivityLogEntryType'
                            commentId:
                              anyOf:
                              - type: integer
                                description: an integer
                                title: int
                              - type: 'null'
                            visibilityScope:
                              $ref: '#/components/schemas/VisibilityScope'
                            body:
                              anyOf:
                              - type: object
                                required:
                                - html
                                properties:
                                  html:
                                    type: string
                                additionalProperties: false
                              - type: 'null'
                            author:
                              type: object
                              required:
                              - userId
                              - displayName
                              properties:
                                userId:
                                  type: string
                                  description: a Universally Unique Identifier
                                  format: uuid
                                  pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                                displayName:
                                  type: string
                              additionalProperties: false
                            attachments:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - fileName
                                - mimeType
                                - sizeBytes
                                - downloadPath
                                properties:
                                  id:
                                    type: integer
                                    description: an integer
                                    title: int
                                  fileName:
                                    type: string
                                  mimeType:
                                    type: string
                                  sizeBytes:
                                    type: number
                                  downloadPath:
                                    type: string
                                additionalProperties: false
                            createdAt:
                              type: string
                            isEdited:
                              type: boolean
                            logMessage:
                              anyOf:
                              - type: string
                              - type: 'null'
                          additionalProperties: false
                    additionalProperties: false
                  meta:
                    type: object
                    required:
                    - nextCursor
                    properties:
                      nextCursor:
                        anyOf:
                        - type: string
                        - type: 'null'
                      hasMore:
                        type: boolean
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Error code identifier
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Field-specific validation errors
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Field path that failed validation
                          example: status
                        detail:
                          type: string
                          description: Specific validation error message
                          example: Expected one of ["Draft", "Submitted", "Cancelled"], received "Draft112"
                        code:
                          type: string
                          description: Optional error code
                          example: INVALID_ENUM_VALUE
                        data:
                          type: object
                          description: Optional additional error context
                          additionalProperties: true
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Error code identifier
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Field-specific validation errors
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Field path that failed validation
                          example: status
                        detail:
                          type: string
                          description: Specific validation error message
                          example: Expected one of ["Draft", "Submitted", "Cancelled"], received "Draft112"
                        code:
                          type: string
                          description: Optional error code
                          example: INVALID_ENUM_VALUE
                        data:
                          type: object
                          description: Optional additional error context
                          additionalProperties: true
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '403':
          description: Receipt permission denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Error code identifier
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Field-specific validation errors
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Field path that failed validation
                          example: status
                        detail:
                          type: string
                          description: Specific validation error message
                          example: Expected one of ["Draft", "Submitted", "Cancelled"], received "Draft112"
                        code:
                          type: string
                          description: Optional error code
                          example: INVALID_ENUM_VALUE
                        data:
                          type: object
                          description: Optional additional error context
                          additionalProperties: true
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Error code identifier
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Field-specific validation errors
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Field path that failed validation
                          example: status
                        detail:
                          type: string
                          description: Specific validation error message
                          example: Expected one of ["Draft", "Submitted", "Cancelled"], received "Draft112"
                        code:
                          type: string
                          description: Optional error code
                          example: INVALID_ENUM_VALUE
                        data:
                          type: object
                          description: Optional additional error context
                          additionalProperties: true
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  code:
                    type: string
                    description: Error code identifier
                    example: ValidationError
                  detail:
                    type: string
                    description: Human-readable error description
                    example: The request body failed validation.
                  fieldErrors:
                    type: array
                    description: Field-specific validation errors
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: Field path that failed validation
                          example: status
                        detail:
                          type: string
                          description: Specific validation error message
                          example: Expected one of ["Draft", "Submitted", "Cancelled"], received "Draft112"
                        code:
                          type: string
                          description: Optional error code
                          example: INVALID_ENUM_VALUE
                        data:
                          type: object
                          description: Optional additional error context
                          additionalProperties: true
                      required:
                      - parameter
                      - detail
                required:
                - status
                - code
                - detail
      description: Returns a paginated, filtered, sortable chronological feed of comments, attachments, and status-transition events from rcp_activity_logs. Supports cursor-based infinite scroll. Comments and attachments are hydrated server-side so the FE renders in one pass.
      summary: List the activity feed for a receipt
components:
  schemas:
    ActivityLogEntryType:
      type: string
      enum:
      - COMMENT
      - COMMENT_DELETED
      - ATTACHMENT
      - ATTACHMENT_DELETED
      - ATTACHMENT_GROUP
      - ATTACHMENT_TRANSFER_FAILED
      - RECEIPT_SUBMITTED
      - RECEIPT_CANCELLED
      - RECEIPT_APPROVED
      - RECEIPT_REJECTED
      title: Activity log entry type
    VisibilityScope:
      type: string
      enum:
      - INTERNAL
      - EXTERNAL
      title: Comment visibility scope
    NumberFromString:
      type: string
      description: a string to be decoded into a number
  securitySchemes:
    platformApiKey:
      description: OpenGov Platform API Key
      type: apiKey
      name: Authorization
      in: header
    platformBearerToken:
      type: http
      scheme: bearer
