openapi: 3.2.0
info:
  title: Opengov Record Contacts API
  version: v1
  x-logo:
    url: https://viewpointcloud.blob.core.windows.net/profile-pictures/Frame_778_Sun_Nov_12_2023_17:18:36_GMT+0000_(Coordinated_Universal_Time).png
  description: 'Operations tagged Record Contacts across 2 of this provider''s published API definitions: opengov-permitting-licensing-v1-openapi-original.yml, opengov-permitting-licensing-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
security:
- bearerAuth: []
tags:
- name: Record Contacts
  description: 'A Record can have one **Applicant** and up to 99 **Guests**.


    The Applicant is the public user who submitted a Record. The Applicant or any employee user can add Guests to a Record.


    '
paths:
  /v1/{community}/records/{recordID}/contacts:
    get:
      summary: List record contacts
      operationId: listRecordContacts
      tags:
      - Record Contacts
      parameters:
      - $ref: '#/components/parameters/community'
      - $ref: '#/components/parameters/recordID'
      responses:
        '200':
          description: Returns record contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordContact'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.plce.opengov.com/plce
      description: Production
components:
  parameters:
    recordID:
      name: recordID
      in: path
      description: ID of the record
      required: true
      schema:
        type: integer
    community:
      name: community
      in: path
      description: Name of the community
      required: true
      schema:
        type: string
  schemas:
    RecordContact:
      x-tags:
      - Record Contacts
      type: object
      title: The record contact object
      example:
        type: record_contact
        id: '31598'
        attributes:
          function: APPLICANT
          userID: auth0|56x7x955xxx3x5454x1xxx65
          firstName: Jane
          lastName: Smith
          email: jsmith@gmail.com
      properties:
        type:
          type: string
          enum:
          - record_contact
        id:
          type: string
          description: The Record ID
        attributes:
          type: object
          properties:
            function:
              type: string
              description: Describes the function of a contact in a record
              enum:
              - APPLICANT
              - GUEST
            userID:
              type: string
              description: User ID of the contact
            firstName:
              type: string
              description: First name of the contact
            lastName:
              type: string
              description: Last name of the contact
            email:
              type: string
              description: Email of the contact
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- opengov-permitting-licensing-v1-openapi-original.yml
- opengov-permitting-licensing-v1-openapi.yml
x-og-spec-id: bnp-api-v1
x-og-env-servers:
  production: https://api.bnp.opengov.com
  development: https://api.bnp.ogintegration.us
