openapi: 3.0.3
info:
  title: Vendor Management API
  description: |-
    A comprehensive API for managing vendors in the OpenGov platform.

    ## Authentication
    All endpoints require JWT Bearer token authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```

    ## Features
    - **Vendor Management**: Create, read, update, and delete vendors
    - **Health Check**: Monitor service health

    ## Rate Limiting
    API calls are subject to rate limiting based on your subscription tier.
  version: 1.0.0
  contact:
    name: OpenGov API Support
    email: api-support@opengov.com
  license:
    name: Proprietary
    url: https://opengov.com/terms
servers:
  - url: https://api.vendor.opengov.com
    description: Production Server
  - url: https://api.vendor.ogstaging.us
    description: Staging Server
  - url: https://api-vendor.procurement.ogintegration.us
    description: Integration Server
paths:
  /api/v1/entities/{entityId}/vendors/{vendorKey}:
    get:
      tags:
        - vendors
      operationId: vendors.getVendorById
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
        - name: include
          in: query
          schema:
            type: string
          required: false
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorModel'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
    patch:
      tags:
        - vendors
      operationId: vendors.updateVendor
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorModel'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                legalCompanyName:
                  $ref: '#/components/schemas/NonEmptyString'
                doingBusinessAs:
                  anyOf:
                    - type: string
                    - type: 'null'
                businessType:
                  anyOf:
                    - type: string
                    - type: 'null'
                localProfiles:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                ethnicity:
                  anyOf:
                    - type: string
                    - type: 'null'
                stateOfIncorporation:
                  anyOf:
                    - type: string
                    - type: 'null'
                companyWebsite:
                  anyOf:
                    - type: string
                    - type: 'null'
                companyDescription:
                  anyOf:
                    - type: string
                    - type: 'null'
                externalSystemCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                vendorParent:
                  anyOf:
                    - type: number
                    - type: 'null'
                vendorParentName:
                  anyOf:
                    - type: string
                    - type: 'null'
                additionalLanguages:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                vendorPublicProfileId:
                  anyOf:
                    - type: string
                    - type: 'null'
                taxType:
                  anyOf:
                    - type: string
                    - type: 'null'
                taxId:
                  anyOf:
                    - type: string
                    - type: 'null'
                is1099Applicable:
                  type: boolean
                uei:
                  anyOf:
                    - type: string
                    - type: 'null'
                duns:
                  anyOf:
                    - type: string
                    - type: 'null'
                vendorCreationSource:
                  type: string
                vendorCreationSourceId:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTermRefId:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTerm:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTermDesc:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneCountryCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneNumber:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneExt:
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxCountryCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxNumber:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxExt:
                  anyOf:
                    - type: string
                    - type: 'null'
                customFields:
                  anyOf:
                    - type: object
                      required: []
                      properties: {}
                      additionalProperties:
                        title: unknown
                    - type: 'null'
                addresses:
                  type: array
                  items:
                    type: object
                    required:
                      - addressLine1
                      - city
                      - state
                      - zipCode
                      - country
                    properties:
                      addressLine1:
                        type: string
                      addressLine2:
                        anyOf:
                          - type: string
                          - type: 'null'
                      city:
                        type: string
                      state:
                        type: string
                      zipCode:
                        type: string
                      country:
                        type: string
                      defaultFor:
                        anyOf:
                          - type: array
                            items:
                              type: string
                              enum:
                                - PRIMARY
                                - REMIT TO
                                - ORDER FROM
                          - type: 'null'
                      addressId:
                        $ref: '#/components/schemas/AddressId'
                    additionalProperties: false
                contacts:
                  type: array
                  items:
                    type: object
                    required: []
                    properties:
                      firstName:
                        anyOf:
                          - type: string
                          - type: 'null'
                      lastName:
                        anyOf:
                          - type: string
                          - type: 'null'
                      jobTitle:
                        anyOf:
                          - type: string
                          - type: 'null'
                      phoneCountryCode:
                        anyOf:
                          - type: string
                          - type: 'null'
                      phoneNumber:
                        anyOf:
                          - type: string
                          - type: 'null'
                      phoneExt:
                        anyOf:
                          - type: string
                          - type: 'null'
                      email:
                        anyOf:
                          - type: string
                          - type: 'null'
                      note:
                        anyOf:
                          - type: string
                          - type: 'null'
                      contactId:
                        $ref: '#/components/schemas/ContactId'
                    additionalProperties: false
                paymentMethods:
                  type: array
                  items:
                    type: object
                    required:
                      - paymentMethodRefId
                      - paymentMethodType
                      - paymentMethodDetails
                      - isDefault
                    properties:
                      paymentLabel:
                        anyOf:
                          - type: string
                          - type: 'null'
                      paymentMethodRefId:
                        type: string
                      paymentMethodType:
                        type: string
                      paymentMethodDetails:
                        title: unknown
                      isDefault:
                        type: boolean
                      paymentId:
                        $ref: '#/components/schemas/PaymentId'
                    additionalProperties: false
                certificates:
                  type: array
                  items:
                    type: object
                    required: []
                    properties:
                      attachmentId:
                        anyOf:
                          - type: number
                          - type: 'null'
                      certificateType:
                        anyOf:
                          - type: string
                          - type: 'null'
                      certificateCategory:
                        anyOf:
                          - type: string
                          - type: 'null'
                      certificateDetails:
                        title: unknown
                      certificateId:
                        $ref: '#/components/schemas/CertificateId'
                    additionalProperties: false
                categories:
                  type: array
                  items:
                    $ref: '#/components/schemas/VendorCategoriesModel.jsonUpdate'
              additionalProperties: false
        required: true
    delete:
      tags:
        - vendors
      operationId: vendors.deleteVendor
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Success
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendors:
    post:
      tags:
        - vendors
      operationId: vendors.createVendor
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorModel'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - legalCompanyName
                - vendorCreationSource
              properties:
                legalCompanyName:
                  $ref: '#/components/schemas/NonEmptyString'
                doingBusinessAs:
                  anyOf:
                    - type: string
                    - type: 'null'
                businessType:
                  anyOf:
                    - type: string
                    - type: 'null'
                localProfiles:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                ethnicity:
                  anyOf:
                    - type: string
                    - type: 'null'
                stateOfIncorporation:
                  anyOf:
                    - type: string
                    - type: 'null'
                companyWebsite:
                  anyOf:
                    - type: string
                    - type: 'null'
                companyDescription:
                  anyOf:
                    - type: string
                    - type: 'null'
                externalSystemCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                vendorParent:
                  anyOf:
                    - type: number
                    - type: 'null'
                vendorParentName:
                  anyOf:
                    - type: string
                    - type: 'null'
                additionalLanguages:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                vendorPublicProfileId:
                  anyOf:
                    - type: string
                    - type: 'null'
                taxType:
                  anyOf:
                    - type: string
                    - type: 'null'
                taxId:
                  anyOf:
                    - type: string
                    - type: 'null'
                is1099Applicable:
                  type: boolean
                uei:
                  anyOf:
                    - type: string
                    - type: 'null'
                duns:
                  anyOf:
                    - type: string
                    - type: 'null'
                vendorCreationSource:
                  type: string
                vendorCreationSourceId:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTermRefId:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTerm:
                  anyOf:
                    - type: string
                    - type: 'null'
                paymentTermDesc:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneCountryCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneNumber:
                  anyOf:
                    - type: string
                    - type: 'null'
                phoneExt:
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxCountryCode:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxNumber:
                  anyOf:
                    - type: string
                    - type: 'null'
                faxExt:
                  anyOf:
                    - type: string
                    - type: 'null'
                customFields:
                  anyOf:
                    - type: object
                      required: []
                      properties: {}
                      additionalProperties:
                        title: unknown
                    - type: 'null'
                addresses:
                  type: array
                  items:
                    $ref: '#/components/schemas/AddressModel.jsonCreate'
                contacts:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactModel.jsonCreate'
                paymentMethods:
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentMethodModel.jsonCreate'
                certificates:
                  type: array
                  items:
                    $ref: '#/components/schemas/CertificateModel.jsonCreate'
                categories:
                  type: array
                  items:
                    $ref: '#/components/schemas/VendorCategoriesModel.jsonCreate'
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/{vendorKey}/submit:
    post:
      tags:
        - vendors
      operationId: vendors.submitVendor
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorModel'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendors/{vendorKey}/promote:
    post:
      tags:
        - vendors
      operationId: vendors.promoteVendor
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorModel'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - begin_review
                    - approve
                    - reject
                    - request_changes
                comment:
                  type: string
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/{vendorKey}/availability:
    post:
      tags:
        - vendors
      operationId: vendors.updateVendorAvailability
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VendorModel
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/VendorModel'
                  - type: object
                    required:
                      - readyToDeactivate
                    properties:
                      readyToDeactivate:
                        type: boolean
                      blockingReasons:
                        type: array
                        items:
                          type: object
                          required:
                            - source
                            - reason
                          properties:
                            source:
                              type: string
                            reason:
                              type: string
                            count:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - reactivate
                    - deactivate
                reason:
                  type: string
                validation:
                  type: boolean
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/stats:
    get:
      tags:
        - vendor-search
      operationId: vendor-search.getVendorsStats
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalVendors
                  - draft
                  - awaitingReview
                  - inReview
                  - approved
                  - notApproved
                  - deactivated
                  - changeRequested
                properties:
                  totalVendors:
                    type: number
                  draft:
                    type: number
                  awaitingReview:
                    type: number
                  inReview:
                    type: number
                  approved:
                    type: number
                  notApproved:
                    type: number
                  deactivated:
                    type: number
                  changeRequested:
                    type: number
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendors/search:
    post:
      tags:
        - vendor-search
      operationId: vendor-search.searchVendors
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - vendorKey
                        - entityId
                        - vendorId
                        - legalCompanyName
                        - vendorCreationSource
                        - status
                        - createdBy
                        - updatedBy
                        - confidenceScore
                      properties:
                        vendorKey:
                          $ref: '#/components/schemas/VendorKey'
                        entityId:
                          type: string
                        vendorId:
                          type: string
                        legalCompanyName:
                          $ref: '#/components/schemas/NonEmptyString'
                        doingBusinessAs:
                          anyOf:
                            - type: string
                            - type: 'null'
                        businessType:
                          anyOf:
                            - type: string
                            - type: 'null'
                        localProfiles:
                          anyOf:
                            - type: array
                              items:
                                type: string
                            - type: 'null'
                        ethnicity:
                          anyOf:
                            - type: string
                            - type: 'null'
                        stateOfIncorporation:
                          anyOf:
                            - type: string
                            - type: 'null'
                        companyWebsite:
                          anyOf:
                            - type: string
                            - type: 'null'
                        companyDescription:
                          anyOf:
                            - type: string
                            - type: 'null'
                        externalSystemCode:
                          anyOf:
                            - type: string
                            - type: 'null'
                        vendorParent:
                          anyOf:
                            - type: number
                            - type: 'null'
                        vendorParentName:
                          anyOf:
                            - type: string
                            - type: 'null'
                        additionalLanguages:
                          anyOf:
                            - type: array
                              items:
                                type: string
                            - type: 'null'
                        vendorPublicProfileId:
                          anyOf:
                            - type: string
                            - type: 'null'
                        taxType:
                          anyOf:
                            - type: string
                            - type: 'null'
                        taxId:
                          anyOf:
                            - type: string
                            - type: 'null'
                        is1099Applicable:
                          type: boolean
                        uei:
                          anyOf:
                            - type: string
                            - type: 'null'
                        duns:
                          anyOf:
                            - type: string
                            - type: 'null'
                        vendorCreationSource:
                          type: string
                        vendorCreationSourceId:
                          anyOf:
                            - type: string
                            - type: 'null'
                        status:
                          type: string
                          enum:
                            - Draft
                            - Awaiting_Review
                            - In_Review
                            - Approved
                            - Not_Approved
                            - Deactivated
                            - Change_Requested
                        paymentTermRefId:
                          anyOf:
                            - type: string
                            - type: 'null'
                        paymentTerm:
                          anyOf:
                            - type: string
                            - type: 'null'
                        paymentTermDesc:
                          anyOf:
                            - type: string
                            - type: 'null'
                        phoneCountryCode:
                          anyOf:
                            - type: string
                            - type: 'null'
                        phoneNumber:
                          anyOf:
                            - type: string
                            - type: 'null'
                        phoneExt:
                          anyOf:
                            - type: string
                            - type: 'null'
                        email:
                          anyOf:
                            - type: string
                            - type: 'null'
                        faxCountryCode:
                          anyOf:
                            - type: string
                            - type: 'null'
                        faxNumber:
                          anyOf:
                            - type: string
                            - type: 'null'
                        faxExt:
                          anyOf:
                            - type: string
                            - type: 'null'
                        customFields:
                          anyOf:
                            - type: object
                              required: []
                              properties: {}
                              additionalProperties:
                                title: unknown
                            - type: 'null'
                        createdBy:
                          type: string
                        updatedBy:
                          type: string
                        isDeleted:
                          anyOf:
                            - type: boolean
                            - type: 'null'
                        deletedAt:
                          anyOf:
                            - type: string
                              format: date-time
                            - type: 'null'
                        createdAt:
                          anyOf:
                            - type: string
                              format: date-time
                            - type: 'null'
                        updatedAt:
                          anyOf:
                            - type: string
                              format: date-time
                            - type: 'null'
                        addresses:
                          anyOf:
                            - type: array
                              items:
                                $ref: '#/components/schemas/AddressModel.json'
                            - type: 'null'
                        paymentMethods:
                          anyOf:
                            - type: array
                              items:
                                $ref: '#/components/schemas/PaymentMethodModel.json'
                            - type: 'null'
                        contacts:
                          anyOf:
                            - type: array
                              items:
                                $ref: '#/components/schemas/ContactModel.json'
                            - type: 'null'
                        certificates:
                          anyOf:
                            - type: array
                              items:
                                $ref: '#/components/schemas/CertificateModel.json'
                            - type: 'null'
                        categories:
                          anyOf:
                            - type: array
                              items:
                                $ref: '#/components/schemas/VendorCategoriesModel.json'
                            - type: 'null'
                        confidenceScore:
                          type: number
                      additionalProperties: false
                  meta:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - paging
                - sortBy
              properties:
                query:
                  type: object
                  required:
                    - searchString
                    - columns
                  properties:
                    searchString:
                      type: string
                    columns:
                      type: array
                      items:
                        type: string
                    addressSearchScope:
                      type: string
                      enum:
                        - primary
                        - all
                    fuzzyMatch:
                      type: boolean
                  additionalProperties: false
                conditions:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - operator
                    properties:
                      field:
                        type: string
                      operator:
                        type: string
                        enum:
                          - eq
                          - neq
                          - contains
                          - notContains
                          - startsWith
                          - endsWith
                          - gt
                          - gte
                          - lt
                          - lte
                          - between
                          - in
                          - notIn
                          - isNull
                          - isNotNull
                          - isEmpty
                          - isNotEmpty
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                    additionalProperties: false
                paging:
                  type: object
                  required:
                    - offset
                    - limit
                  properties:
                    offset:
                      type: number
                    limit:
                      type: number
                  additionalProperties: false
                sortBy:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - order
                    properties:
                      field:
                        type: string
                      order:
                        type: string
                        enum:
                          - asc
                          - desc
                    additionalProperties: false
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/searchByVendorKeys:
    post:
      tags:
        - vendor-search
      operationId: vendor-search.searchVendorsByVendorKeys
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - vendors
                properties:
                  vendors:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/VendorModel'
                        - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - vendorKeys
              properties:
                vendorKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/VendorKey'
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/export:
    post:
      tags:
        - vendor-search
      operationId: vendor-search.exportVendorsCsv
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: a string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - sortBy
              properties:
                query:
                  type: object
                  required:
                    - searchString
                    - columns
                  properties:
                    searchString:
                      type: string
                    columns:
                      type: array
                      items:
                        type: string
                    addressSearchScope:
                      type: string
                      enum:
                        - primary
                        - all
                    fuzzyMatch:
                      type: boolean
                  additionalProperties: false
                conditions:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - operator
                    properties:
                      field:
                        type: string
                      operator:
                        type: string
                        enum:
                          - eq
                          - neq
                          - contains
                          - notContains
                          - startsWith
                          - endsWith
                          - gt
                          - gte
                          - lt
                          - lte
                          - between
                          - in
                          - notIn
                          - isNull
                          - isNotNull
                          - isEmpty
                          - isNotEmpty
                      value:
                        anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                    additionalProperties: false
                sortBy:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - order
                    properties:
                      field:
                        type: string
                      order:
                        type: string
                        enum:
                          - asc
                          - desc
                    additionalProperties: false
                exportColumns:
                  type: array
                  items:
                    type: object
                    required:
                      - colId
                      - name
                    properties:
                      colId:
                        type: string
                      name:
                        type: string
                    additionalProperties: false
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendors/{vendorKey}/taskmaster/actions:
    get:
      tags:
        - vendor-taskmaster
      operationId: vendor-taskmaster.getVendorTaskMasterActions
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - taskId
                    - label
                    - link
                  properties:
                    taskId:
                      type: number
                    label:
                      type: string
                    link:
                      type: string
                    outcome:
                      anyOf:
                        - type: string
                        - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendors/{vendorKey}/approval-pending:
    get:
      tags:
        - vendor-taskmaster
      operationId: vendor-taskmaster.getVendorApprovalPending
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - pending
                properties:
                  pending:
                    type: boolean
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendors/{vendorKey}/taskmaster/outcome:
    post:
      tags:
        - vendor-taskmaster
      operationId: vendor-taskmaster.submitVendorTaskMasterOutcome
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: vendorKey
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - link
                  - responseCode
                properties:
                  link:
                    type: string
                  responseCode:
                    type: number
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - taskId
                - action
              properties:
                taskId:
                  type: number
                action:
                  type: string
                comment:
                  type: string
              additionalProperties: false
        required: true
  /api/v1/entities/{entityId}/vendor-imports/presigned-upload:
    post:
      tags:
        - vendor-imports
      operationId: vendor-imports.requestPresignedUpload
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: PresignedUploadResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadResponse'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
                  - $ref: '#/components/schemas/ValidationFailedHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNotFoundError'
        '413':
          description: PayloadTooLargeHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadTooLargeHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignedUploadRequest'
        required: true
  /api/v1/entities/{entityId}/vendor-imports:
    post:
      tags:
        - vendor-imports
      operationId: vendor-imports.processImport
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - importType
                  - status
                properties:
                  jobId:
                    type: string
                  importType:
                    type: string
                    enum:
                      - standard
                      - ai
                  status:
                    type: string
                    enum:
                      - parsing
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
                  - $ref: '#/components/schemas/ValidationFailedHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '413':
          description: PayloadTooLargeHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadTooLargeHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessImportRequest'
        required: true
    get:
      tags:
        - vendor-imports
      operationId: vendor-imports.listImports
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: limit
          in: query
          schema:
            type: string
          required: false
        - name: offset
          in: query
          schema:
            type: string
          required: false
        - name: status
          in: query
          schema:
            type: string
          required: false
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - importId
                        - fileName
                        - fileType
                        - uploadedBy
                        - totalRecords
                        - successCount
                        - failureCount
                        - errorCount
                        - duplicateCount
                        - status
                        - createdAt
                        - completedAt
                      properties:
                        importId:
                          type: string
                        fileName:
                          type: string
                        fileType:
                          type: string
                          enum:
                            - xlsx
                            - csv
                            - txt
                        uploadedBy:
                          type: string
                        totalRecords:
                          type: number
                        successCount:
                          type: number
                        failureCount:
                          type: number
                        errorCount:
                          type: number
                        duplicateCount:
                          type: number
                        status:
                          type: string
                          enum:
                            - parsing
                            - parsed
                            - validating
                            - validated
                            - importing
                            - imported
                            - failed
                        errorReportDownloadUrl:
                          type: string
                        originalFileDownloadUrl:
                          type: string
                        createdAt:
                          type: string
                        completedAt:
                          anyOf:
                            - type: string
                            - type: 'null'
                      additionalProperties: false
                  meta:
                    type: object
                    required:
                      - total
                      - limit
                      - offset
                    properties:
                      total:
                        type: number
                      limit:
                        type: number
                      offset:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNotFoundError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendor-imports/{importId}/import:
    post:
      tags:
        - vendor-imports
      operationId: vendor-imports.triggerImport
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: importId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - status
                  - totalRecords
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
                    enum:
                      - importing
                  totalRecords:
                    type: number
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
                  - $ref: '#/components/schemas/ValidationFailedHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '413':
          description: PayloadTooLargeHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadTooLargeHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendor-imports/{importId}:
    get:
      tags:
        - vendor-imports
      operationId: vendor-imports.getImportDetail
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: importId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - importId
                  - fileName
                  - uploadedBy
                  - status
                  - totalVendors
                  - validVendorCount
                  - invalidVendorCount
                  - errorCount
                  - duplicateCount
                  - createdAt
                  - completedAt
                  - processingTimeMs
                properties:
                  importId:
                    type: string
                  fileName:
                    type: string
                  uploadedBy:
                    type: string
                  importType:
                    type: string
                    enum:
                      - standard
                      - ai
                  status:
                    type: string
                    enum:
                      - parsing
                      - parsed
                      - validating
                      - validated
                      - importing
                      - imported
                      - failed
                  totalVendors:
                    type: number
                  validVendorCount:
                    type: number
                  invalidVendorCount:
                    type: number
                  errorCount:
                    type: number
                  duplicateCount:
                    type: number
                  errorReportDownloadUrl:
                    type: string
                  originalFileDownloadUrl:
                    type: string
                  filledTemplateDownloadUrl:
                    type: string
                  successReportDownloadUrl:
                    type: string
                  createdAt:
                    type: string
                  completedAt:
                    anyOf:
                      - type: string
                      - type: 'null'
                  processingTimeMs:
                    anyOf:
                      - type: number
                      - type: 'null'
                  currentStep:
                    type: string
                  preview:
                    type: object
                    required: []
                    properties: {}
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        required: []
                        properties: {}
                        additionalProperties:
                          title: unknown
                  unmapped:
                    type: object
                    required:
                      - sourceUnmappedColumns
                      - targetUnmappedColumns
                    properties:
                      sourceUnmappedColumns:
                        type: array
                        items:
                          type: string
                      targetUnmappedColumns:
                        type: array
                        items:
                          type: string
                    additionalProperties: false
                  requiredColumns:
                    type: object
                    required: []
                    properties: {}
                    additionalProperties:
                      type: array
                      items:
                        type: string
                  validationResult:
                    type: object
                    required:
                      - isValid
                      - errors
                      - sheetSummary
                    properties:
                      isValid:
                        type: boolean
                      errors:
                        type: array
                        items:
                          type: object
                          required:
                            - severity
                            - code
                            - message
                          properties:
                            severity:
                              type: string
                              enum:
                                - error
                                - warning
                            code:
                              type: string
                            message:
                              type: string
                            sheet:
                              type: string
                            row:
                              type: number
                            column:
                              type: string
                            vendorImportKey:
                              type: string
                          additionalProperties: false
                      sheetSummary:
                        type: object
                        required: []
                        properties: {}
                        additionalProperties:
                          type: object
                          required:
                            - rowCount
                            - hasRequiredColumns
                          properties:
                            rowCount:
                              type: number
                            hasRequiredColumns:
                              type: boolean
                            missingColumns:
                              type: array
                              items:
                                type: string
                          additionalProperties: false
                    additionalProperties: false
                  error:
                    type: string
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/EntityNotFoundError'
                  - $ref: '#/components/schemas/NotFoundHttpError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendor-imports/template:
    get:
      tags:
        - vendor-imports
      operationId: vendor-imports.downloadTemplate
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Template download response with presigned URL and structured instructions for UI display
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDownloadResponse'
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HttpApiDecodeError'
                  - $ref: '#/components/schemas/BadRequestHttpError'
        '401':
          description: AuthError
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AuthError'
                  - $ref: '#/components/schemas/UnauthenticatedHttpError'
        '403':
          description: UnauthorizedHttpError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedHttpError'
        '404':
          description: EntityNotFoundError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNotFoundError'
        '500':
          description: InfrastructureError
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    required:
                      - message
                      - _tag
                    properties:
                      message:
                        type: string
                      cause:
                        not: {}
                        title: never
                      _tag:
                        type: string
                        enum:
                          - InfrastructureError
                    additionalProperties: false
                  - $ref: '#/components/schemas/InternalServerHttpError'
  /api/v1/entities/{entityId}/vendor-imports/{jobId}/validate:
    post:
      tags:
        - vendor-imports
      operationId: vendor-imports.validateJob
      parameters:
        - name: Authorization
          in: header
          description: JWT Bearer token for authentication
          required: true
          schema:
            type: string
            default: Bearer <your-jwt-token>
          example: Bearer <your-jwt-token>
        - name: entityId
          in: path
          schema:
            type: string
          required: true
        - name: jobId
          in: path
          schema:
            type: string
          required: true
      security:
        - bearerAuth: []
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - status
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
[...]
