openapi: 3.2.0
info:
  version: v2
  title: Permitting & Licensing Issued Documents API
  contact:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
    email: developers@opengov.com
  description: "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n"
  license:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
  x-og-envs:
  - production
  - staging
  - development
  - local
security:
- bearerAuth: []
- basicHttpAuthentication: []
- auth0Prod: []
- auth0Dev: []
tags:
- name: Issued Documents
paths:
  /v2/{community}/document-steps/{documentStepID}/documents:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: documentStepID
      in: path
      description: ID of a document step
      required: true
      schema:
        type: string
    get:
      summary: List documents
      description: 'List documents for a given document step.

        ### Permissions Required

        `Workflow Read`'
      operationId: listDocuments
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Issued Documents
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      responses:
        '200':
          description: Documents
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Documents
                      title: Document
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - document
                          example: document
                        id:
                          type: string
                          description: Unique internal ID of the document
                          example: 200001
                        attributes:
                          type: object
                          properties:
                            documentTitle:
                              type: string
                              description: Title of the document
                              example: Building Permit
                            documentType:
                              type: string
                              description: Type or category of the document
                              example: Permit/License
                            dateIssued:
                              type: string
                              format: date-time
                              description: Date and time (UTC) when the document was issued
                              example: '2024-08-25T15:00:00Z'
                            html:
                              type: string
                              nullable: true
                              description: HTML content of the document
                              example: <html><body><h1>Building Permit</h1><p>This certificate is issued....</p></body></html>
                            createdAt:
                              type: string
                              format: date-time
                              description: Date and time (UTC) when the document was created
                              readOnly: true
                              example: '2024-08-25T15:00:00Z'
                            lastUpdatedByUserID:
                              type: string
                              nullable: true
                              description: User ID of the last person who updated the document
                              example: auth0|asdf12345
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date and time (UTC) of the last update
                              readOnly: true
                              example: '2024-08-25T15:00:00Z'
                        relationships:
                          type: object
                          required:
                          - documentStep
                          properties:
                            documentStep:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The document step this document is associated with
                            file:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The file associated with this document, if Document Management Integration is enabled for the provided community. Otherwise, this relationship is omitted.
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/document-steps/{documentStepID}/documents/{documentID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/parameters/1'
    - name: documentID
      in: path
      description: ID of a document
      required: true
      schema:
        type: string
    get:
      summary: Get a document
      description: 'Retrieve a document by ID.

        ### Permissions Required

        `Workflow Read`'
      operationId: getDocument
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Issued Documents
      responses:
        '200':
          description: Document
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Documents
                    title: Document
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - document
                        example: document
                      id:
                        type: string
                        description: Unique internal ID of the document
                        example: 200001
                      attributes:
                        type: object
                        properties:
                          documentTitle:
                            type: string
                            description: Title of the document
                            example: Building Permit
                          documentType:
                            type: string
                            description: Type or category of the document
                            example: Permit/License
                          dateIssued:
                            type: string
                            format: date-time
                            description: Date and time (UTC) when the document was issued
                            example: '2024-08-25T15:00:00Z'
                          html:
                            type: string
                            nullable: true
                            description: HTML content of the document
                            example: <html><body><h1>Building Permit</h1><p>This certificate is issued....</p></body></html>
                          createdAt:
                            type: string
                            format: date-time
                            description: Date and time (UTC) when the document was created
                            readOnly: true
                            example: '2024-08-25T15:00:00Z'
                          lastUpdatedByUserID:
                            type: string
                            nullable: true
                            description: User ID of the last person who updated the document
                            example: auth0|asdf12345
                          updatedAt:
                            type: string
                            format: date-time
                            description: Date and time (UTC) of the last update
                            readOnly: true
                            example: '2024-08-25T15:00:00Z'
                      relationships:
                        type: object
                        required:
                        - documentStep
                        properties:
                          documentStep:
                            $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/documentStep'
                          file:
                            $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/file'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
components:
  securitySchemes:
    basicHttpAuthentication:
      type: http
      scheme: basic
      description: 'Basic HTTP Authentication

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        Access tokens are obtained by making a POST request to `https://accounts.viewpointcloud.com/oauth/token`

        '
    auth0Prod:
      type: openIdConnect
      openIdConnectUrl: https://accounts.viewpointcloud.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
    auth0Dev:
      type: openIdConnect
      openIdConnectUrl: https://login.vpctest.com/.well-known/openid-configuration
      description: 'The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.

        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

        '
x-og-spec-id: plc-api-v2
x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read
x-tagGroups:
- name: Records
  tags:
  - Record
  - Record Applicant
  - Record Guests
  - Record Primary Location
  - Record Additional Locations
  - Record Forms
  - Record Change Requests
  - Record Attachments
  - Record Workflow Steps
  - Record Workflow Step Comments
- name: Locations
  tags:
  - Locations
  - Location Flags
- name: Users
  tags:
  - Users
  - User Flags
- name: Approvals
  tags:
  - Approval Steps
- name: Documents
  tags:
  - Document Steps
  - Issued Documents
- name: Inspections
  tags:
  - Inspection Steps
  - Inspection Types
  - Inspection Events
  - Inspection Results
  - Checklist Results
- name: Payments
  tags:
  - Payment Steps
  - Fees
  - Transactions
  - Ledger Entries
- name: Projects
  tags:
  - Projects
- name: Files
  tags:
  - Files
- name: Configuration
  tags:
  - Organization
  - Departments
  - Record Types
  - Record Type Form
  - Record Type Attachments
  - Record Type Document Templates
  - Record Type Fees
  - Record Type Workflow
  - Inspection Type Templates
  - Checklist Templates
- name: Activity Logs
  tags:
  - Activity Logs
