openapi: 3.1.0
info:
  version: v1
  title: Procurement & Contract Management APIs
  x-logo:
    url: https://assets.procurement.opengov.com/brand/pro-logo-padded.png
  description: >
    This documentation describes the v1 OpenGov Procurement public APIs. A new
    v2 surface

    is also available — use the version selector above to view it.


    ### Why v2 exists


    v1 paths (`/gateway/datasets/v1/...`, `/gateway/contract-orders/v1`) act on
    the entity

    that your API key was issued for. If your OpenGov account has access to more
    than one

    entity, v1 cannot choose between them — it always uses the entity associated
    with the

    API key.


    v2 takes the entity explicitly as a path parameter, so the same API key can
    act on any

    entity your account has access to:


    `/gateway/v2/entities/{entityUuid}/datasets/contracts`


    If your account only has access to one entity, you can continue to use v1
    with no

    behavior change. New integrations should target v2.


    ### Migration signals on v1 responses


    If your OpenGov account has access to more than one entity, v1 success
    responses include

    the following headers as a migration hint:


    - `Deprecation: true`

    - `Link:
    <https://api.procurement.opengov.com/gateway/v2/entities/{your-entity-uuid}/...>;
    rel="successor-version"`

    - `Warning: 299 - "This API key has access to multiple entities. Use
    /gateway/v2/entities/:entityUuid/... to target a specific one."`


    The `Link` header points at the v2 equivalent of the request you just made,
    with the

    entity associated with your API key pre-filled — use it as your migration
    target.

    Accounts with access to a single entity will not see these headers.
servers:
  - url: https://api.procurement.opengov.com
    description: Production
tags:
  - name: Datasets
    description: >
      **Datasets** are collections of data that can be retrieved using the API.


      Datasets can be retrieved by using `GET` requests. The base url for
      datasets is `https://api.procurement.opengov.com/gateway/datasets/v1/`


      Note: All dates and times returned by this API are in the time zone
      selected by the agency.

      ## Datasets Legacy Authentication Methods

      In addition to the OpenGov standard Authorization header, for historic
      purposes we support two additional ways for the Datasets APIs.

      ### 1. HTTP Basic Auth


      Use your OpenGov account email as the username and your API key as the
      password.


      ```bash curl -u "alice@example.com:YOUR_API_KEY" \
      https://api.procurement.opengov.com/gateway/datasets/v1/solicitations ```

      ### 2. X-api-key header


      You may also authenticate using the `x-api-key` request header:

      ```bash curl -H "x-api-key: YOUR_API_KEY" \
      https://api.procurement.opengov.com/gateway/datasets/v1/solicitations ```

      > **Security note:** Some third-party systems may log or store custom
      headers in plaintext.  


      To obtain an API key, please follow the steps outlined in this guide
      [OpenGov Procurement API
      Reference](https://opengov.my.site.com/support/s/article/87a452ae-254c-4b62-8336-d475c2e30723)
      or contact OpenGov support.


      The API will return a 401 error if the key is invalid.
    x-displayName: Datasets
  - name: Contracts
    x-displayName: Contracts
  - name: Categories
    x-displayName: Categories
  - name: Tags
    x-displayName: Tags
paths:
  /gateway/contract-orders/v1:
    post:
      tags:
        - Contracts
      summary: Import Contract Orders
      operationId: importContractOrders
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      requestBody:
        description: A JSON array of Contract Orders to be imported.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContractOrder'
      responses:
        '200':
          description: Successfully updated one or more Contract Orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdCount:
                    type: integer
                    example: 2
                    description: Number of Contract Orders created.
                  updatedCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders updated.
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '201':
          description: Successfully created one or more Contract Orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdCount:
                    type: integer
                    example: 2
                    description: Number of Contract Orders created.
                  updatedCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders updated.
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '400':
          description: Bad request, invalid or empty body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No valid contract orders to import
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '401':
          description: Unauthorized, invalid or missing token.
        '403':
          description: Forbidden, user does not have permission to import contract orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Only contract admins can import contract orders
        '404':
          description: Not Found, feature is not available in this environment.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/contracts:
    get:
      tags:
        - Datasets
      summary: Contracts
      operationId: getContractsDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of contracts data. 

        Example:
        | Column name | Example value |
        | --- | --- |
        | vendor_name | Acme Corp |
        | vendor_email | contact@acme.nil |
        | vendor_city | New York |
        | vendor_state | NY |
        | vendor_country | USA |
        | vendor_zip_code | 10001 |
        | external_vendor_id | VENDOR-001 |
        | vendor_number | ACME-001 |
        | internal_contract_id | 456 |
        | contract_title | Office Supplies Contract |
        | contract_id | CON-789 |
        | external_reference_id | EXT-CON-001 |
        | requisition_id | REQ-101 |
        | term_type | Continuos |
        | status | Active |
        | start_date | 2024-01-01 |
        | end_date | 2024-12-31 |
        | initial_term_length | 12 |
        | initial_term_unit | Months |
        | has_renewal_option | 1 |
        | renewals | 2 |
        | renewals_remaining | 1 |
        | contract_amount | 10000.00 |
        | amount_spent | 5000.00 |
        | department | Finance |
        | project_contact | John Doe |
        | procurement_contact | Jane Smith |
        | contract_type | General |
        | procurement_classification | Goods |
        | category_codes | 1234 |
        | notes | Notes about the contract |
        | is_active_for_financial_transactions | 1 |
        | is_public | 1 |
        | allows_cooperative | 1 |
        | will_rebid | 0 |
        | is_emergency | 0 |
        | assembled_contract_document_count | 5 |
        | contract_document_count | 10 |
        | created_at | 2024-01-01 09:00:00 |
        | updated_at | 2023-01-25 09:00:00 |
      responses:
        '200':
          description: Successfully retrieved Contracts dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/Contract'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/contract-documents:
    get:
      tags:
        - Datasets
      summary: Contract Documents
      operationId: getContractDocumentsDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of contract document projects. 


        Example:
        | Column name | Example value |
        | --- | --- |
        | internal_project_id | 12345 |
        | title | Carroll Bog Boardwalk Construction |
        | project_id | P-2024-001 |
        | template | Standard Construction Template |
        | template_abbreviation | SCT |
        | requisition_id | REQ-45678 |
        | department | Facilities Management |
        | project_contact | John Doe |
        | procurement_contact | Jane Smith |
        | status | Review |
        | status_sort | 2 |
        | workload_points_remaining | 50.5 |
        | created_by | admin_user |
        | created_at | 2024-03-01 22:20:31 |
        | last_updated_at | 2024-03-03 23:29:00 |
        | procurement_classification | Invitation to Bid |
        | category_codes | 05500, 06006, 06516, 06523 |
        | is_emergency | 0 |
        | internal_contract_id | 12345 |
      responses:
        '200':
          description: Successfully retrieved Contract Documents dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/ContractDocument'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/contracts-with-spend:
    get:
      tags:
        - Datasets
      summary: Contracts with Spend
      operationId: getContractsWithSpendDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of contracts with spend data. 


        Example:
        | Column name | Example value |
        | --- | --- |
        | vendor_name | Acme Corp |
        | vendor_email | contact@acme.nil |
        | vendor_city | New York |
        | vendor_state | NY |
        | vendor_country | USA |
        | vendor_zip_code | 10001 |
        | external_vendor_id | VENDOR-001 |
        | vendor_number | ACME-001 |
        | internal_contract_id | 456 |
        | contract_title | Office Supplies Contract |
        | contract_id | CON-789 |
        | external_reference_id | EXT-CON-001 |
        | requisition_id | REQ-101 |
        | term_type | Continuos |
        | status | Active |
        | start_date | 2024-01-01 |
        | end_date | 2024-12-31 |
        | initial_term_length | 12 |
        | initial_term_unit | Months |
        | has_renewal_option | 1 |
        | renewals | 2 |
        | renewals_remaining | 1 |
        | contract_amount | 10000.00 |
        | amount_spent | 5000.00 |
        | department | Finance |
        | project_contact | John Doe |
        | procurement_contact | Jane Smith |
        | contract_type | General |
        | procurement_classification | Goods |
        | category_codes | 1234 |
        | notes | Notes about the contract |
        | is_active_for_financial_transactions | 1 |
        | is_public | 1 |
        | allows_cooperative | 1 |
        | will_rebid | 0 |
        | is_emergency | 0 |
        | assembled_contract_document_count | 5 |
        | contract_document_count | 10 |
        | internal_po_id | 12345 |
        | po_issue_date | 2024-01-15 |
        | po_fiscal_year | FY2024 |
        | po_department | Finance |
        | po_created_by | John Doe |
        | po_order_status | Approved |
        | po_order_amount | 5000.75 |
        | po_amount_paid | 3000.50 |
        | po_number | PO-67890 |
        | po_description | Purchase of office furniture |
        | po_comments | Urgent request due to office expansion. |
        | po_created_at | 2024-01-01 09:00:00 |
        | po_updated_at | 2024-01-02 09:00:00 |
      responses:
        '200':
          description: Successfully retrieved Contracts with Spend dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/ContractWithSpend'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/intakes:
    get:
      tags:
        - Datasets
      summary: Intakes
      operationId: getIntakesDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of intake projects. 

        Example:
        | Column name | Example value |
        | --- | --- |
        | internal_project_id | 12345 |
        | title | New Office Building Construction |
        | project_id | FIN-2024-001 |
        | type | Construction |
        | requisition_id | REQ-78910 |
        | department | Public Works |
        | project_contact | John Doe |
        | procurement_contact | Jane Smith |
        | release_project_date | 2024-03-01 00:00:00 |
        | pre_proposal_date | 2024-03-15 10:00:00 |
        | question_submission_deadline | 2024-03-20 00:00:00 |
        | question_response_deadline | 2024-03-25 00:00:00 |
        | proposal_submission_deadline | 2024-04-01 00:00:00 |
        | reverse_auction_start_date | 2024-04-05 14:00:00 |
        | reverse_auction_end_date | 2024-04-05 16:00:00 |
        | contractor_selection_date | 2024-04-10 00:00:00 |
        | status | Draft |
        | workload_points_remaining | 50 |
        | created_by | alice_admin |
        | created_at | 2024-02-15 08:30:00 |
        | last_updated_at | 2024-02-20 12:00:00 |
        | assigned_to | Bob Approver |
        | assigned_at | 2024-02-21 09:00:00 |
        | budget_amount | 500000.00 |
        | budget_account | ACC-123456 |
        | budget_description | Office construction fund |
        | procurement_classification | Construction |
        | category_codes | 05500, 06006, 06516, 06523 |
        | is_emergency | false |
      responses:
        '200':
          description: Successfully retrieved Intakes dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/Intake'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/solicitations:
    get:
      tags:
        - Datasets
      summary: Solicitations
      operationId: getSolicitationDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of solicitation projects. 

        Example:
        | Column name | Example value |
        | --- | --- |
        | internal_project_id | 12345 |
        | title | New Office Building Construction |
        | project_id | RFP-2024-001 |
        | template | Standard RFP Template |
        | template_abbreviation | RFP-T |
        | requisition_id | REQ-78910 |
        | department | Public Works |
        | project_contact | John Doe |
        | procurement_contact | Jane Smith |
        | release_project_date | 2024-03-01 00:00:00 |
        | pre-proposal_meeting | 2024-03-15 10:00:00 |
        | question_submission_deadline | 2024-03-20 00:00:00 |
        | question_response_deadline | 2024-03-25 00:00:00 |
        | proposal_submission_deadline | 2024-04-01 00:00:00 |
        | reverse_auction_starting_date | 2024-04-05 14:00:00 |
        | reverse_auction_ending_date | 2024-04-05 16:00:00 |
        | contractor_selection_date | 2024-04-10 00:00:00 |
        | contract_end_date | 2025-04-01 00:00:00 |
        | status | Open |
        | status_sort | 1 |
        | workload_points_remaining | 50 |
        | created_by | alice_admin |
        | created_at | 2024-02-15 08:30:00 |
        | last_updated_at | 2024-02-20 12:00:00 |
        | budget_amount | 500000.00 |
        | budget_account | ACC-123456 |
        | budget_description | Office construction fund |
        | procurement_classification | Construction |
        | category_codes | 05500, 06006, 06516, 06523 |
        | is_emergency | false |
        | notified | 152 |
        | viewed | 0 |
        | followers | 34 |
        | downloaders | 30 |
        | applicants | 10 |
        | no_bids | 2 |
        | submissions | 8 |
      responses:
        '200':
          description: Successfully retrieved Solicitations dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/Solicitation'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/vendor-companies:
    get:
      tags:
        - Datasets
      summary: Vendor Companies
      operationId: getVendorCompaniesDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        Generates a csv of vendor companies.

        Example:
        | Column name | Example value |
        | --- | --- |
        | internal_vendor_id | 9876 |
        | date_added | 2024-03-01 |
        | vendor_name | Acme Supplies, Inc. |
        | doing_business_as | Acme |
        | uei | UEI-ABC123 |
        | duns | 123456789 |
        | nigp_categories | 05500, 06006 |
        | naics_categories | 541330 |
        | unspsc_categories | 80141600 |
        | state_of_incorporation | CA |
        | business_type | LLC |
        | languages | English, Spanish |
        | no_dbe | WBE |
        | self_reported_certifications | MBE, WBE |
        | verified_certifications | WBE |
        | primary_address_line_1 | 123 Main St |
        | primary_address_line_2 | Suite 200 |
        | primary_city | San Francisco |
        | primary_state | CA |
        | primary_postal_code | 94105 |
        | primary_country | US |
        | billing_address_line_1 | 456 Market St |
        | billing_address_line_2 | Floor 3 |
        | billing_city | San Francisco |
        | billing_state | CA |
        | billing_postal_code | 94105 |
        | billing_country | US |
        | website | https://acme.nil |
        | phone | +1 (415) 555-9876 |
        | fax_phone | +1 (415) 555-0000 |
      responses:
        '200':
          description: Successfully retrieved Vendor Companies dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/VendorCompany'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /gateway/datasets/v1/vendor-subscribers:
    get:
      tags:
        - Datasets
      summary: Vendor Subscribers
      operationId: getVendorSubscribersDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
        - xApiKeyHeaderAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in
            the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: >
        Generates a csv of vendor subscribers joined with vendor company profile
        data.


        Example:

        | Column name | Example value |

        | --- | --- |

        | subscriber_id | u_12345 |

        | subscriber_name | Alice Johnson |

        | subscriber_title | Purchasing Manager |

        | subscriber_email | alice@example.nil |

        | subscriber_phone | +1 (415) 555-1234 x22 |

        | subscriber_status | Active |

        | internal_vendor_id | 9876 |

        | date_added | 2024-03-01 |

        | vendor_name | Acme Supplies, Inc. |

        | doing_business_as | Acme |

        | uei | UEI-ABC123 |

        | duns | 123456789 |

        | nigp_categories | 05500, 06006 |

        | naics_categories | 541330 |

        | unspsc_categories | 80141600 |

        | state_of_incorporation | CA |

        | business_type | LLC |

        | languages | English, Spanish |

        | no_dbe | WBE |

        | self_reported_certifications | MBE, WBE |

        | verified_certifications | WBE |

        | primary_address_line_1 | 123 Main St |

        | primary_address_line_2 | Suite 200 |

        | primary_city | San Francisco |

        | primary_state | CA |

        | primary_postal_code | 94105 |

        | primary_country | US |

        | billing_address_line_1 | 456 Market St |

        | billing_address_line_2 | Floor 3 |

        | billing_city | San Francisco |

        | billing_state | CA |

        | billing_postal_code | 94105 |

        | billing_country | US |

        | website | https://acme.nil |

        | phone | +1 (415) 555-9876 |

        | fax_phone | +1 (415) 555-0000 |
      responses:
        '200':
          description: Successfully retrieved Vendor Subscribers dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/VendorSubscriber'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /public/api/v1/contracts/categories:
    get:
      description: >-
        This endpoint fetches a paginated list of categories for a given
        category set (NIGP, NAICS, or UNSPSC), ordered by ID, with cursor-based
        pagination.
      operationId: CategoriesV1Controller_listCategories
      parameters:
        - name: set
          required: true
          in: query
          description: The category set to retrieve.
          schema:
            example: nigp
            type: string
            enum:
              - nigp
              - naics
              - unspsc
        - name: first
          required: false
          in: query
          description: The number of categories to return.
          schema:
            default: 10
            example: 10
            type: number
        - name: after
          required: false
          in: query
          description: A cursor for use in pagination.
          schema:
            example: Y2F0ZWdvcnkuaWQ9MQ==
            type: string
      responses:
        '200':
          description: A paginated list of categories was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCategoriesResponseDto'
        '400':
          description: The request parameters are invalid.
          content:
            application/json:
              examples:
                Invalid `set` parameter:
                  value:
                    statusCode: 400
                    message:
                      - >-
                        `set` query parameter must be one of: nigp, naics,
                        unspsc
                    error: Bad Request
                Invalid `first` parameter (not an integer):
                  value:
                    statusCode: 400
                    message:
                      - '`first` query parameter must be an integer'
                    error: Bad Request
                Invalid `first` parameter (negative value):
                  value:
                    statusCode: 400
                    message:
                      - '`first` query parameter must be a non-negative number'
                    error: Bad Request
                Malformed `after` cursor:
                  value:
                    statusCode: 400
                    message: >-
                      Invalid `after` cursor, please only use cursors generated
                      by this API
                    error: Bad Request
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
          description: ''
      summary: List Categories
      tags:
        - Categories
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts:
    get:
      description: >-
        This endpoint fetches a list of contracts, ordered by their ID, and
        supports cursor-based pagination.
      operationId: ListContractsV1Controller_listContracts
      parameters:
        - name: first
          required: false
          in: query
          description: The number of contracts to return.
          schema:
            default: 5
            example: 10
            type: number
        - name: after
          required: false
          in: query
          description: A cursor for use in pagination.
          schema:
            example: Y29udHJhY3QuaWQ9MQ==
            type: string
        - name: startDateAfter
          required: false
          in: query
          description: Filters out all contracts with startDate after this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: startDateBefore
          required: false
          in: query
          description: Filters out all contracts with startDate before this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: createdDateAfter
          required: false
          in: query
          description: Filters out all contracts with created_at after this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: createdDateBefore
          required: false
          in: query
          description: >-
            Filters out all contracts with created_at before this date
            (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: endDateAfter
          required: false
          in: query
          description: Filters out all contracts with endDate after this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: endDateBefore
          required: false
          in: query
          description: Filters out all contracts with endDate before this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: updatedDateAfter
          required: false
          in: query
          description: Filters out all contracts updated after this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: updatedDateBefore
          required: false
          in: query
          description: Filters out all contracts updated before this date (ISO8601).
          schema:
            example: '2025-01-01'
            type: string
        - name: sortByAsc
          required: false
          in: query
          description: >-
            Sorts, in ascending order, the final list by the valid contract
            field
          schema:
            example: title
            type: string
        - name: sortByDesc
          required: false
          in: query
          description: >-
            Sorts, in descending order, the final list by the valid contract
            field
          schema:
            example: title
            type: string
        - name: externalVendorId
          required: false
          in: query
          description: >-
            Filters contracts by External Vendor ID (case-insensitive substring
            match).
          schema:
            example: vendor-123
            type: string
      responses:
        '200':
          description: A paginated list of contracts was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractsResponseDto'
        '400':
          description: The request parameters are invalid.
          content:
            application/json:
              examples:
                Invalid `first` parameter (not an integer):
                  value:
                    statusCode: 400
                    message:
                      - '`first` query parameter must be an integer'
                    error: Bad Request
                Invalid `first` parameter (negative value):
                  value:
                    statusCode: 400
                    message:
                      - '`first` query parameter must be a non-negative number'
                    error: Bad Request
                Malformed `after` cursor:
                  value:
                    statusCode: 400
                    message: >-
                      Invalid `after` cursor, please only use cursors generated
                      by this API
                    error: Bad Request
                Filtering startDate misordered:
                  value:
                    statusCode: 400
                    message: startDateBefore is earlier than startDateAfter
                    error: Bad Request
                Attempting to sort by invalid field:
                  value:
                    statusCode: 400
                    message: Attempting to sort by invalid field id
                    error: Bad Request
                Attempting to sort both ascending and descending:
                  value:
                    statusCode: 400
                    message: Provide only one of sortByAsc or sortByDesc
                    error: Bad Request
                General request validation errors:
                  value:
                    statusCode: 400
                    message: Validation error on query parameter property
                    error: Bad Request
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
          description: ''
      summary: List of Contracts
      tags:
        - Contracts
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/{id}:
    get:
      description: This endpoint fetches a contract based on its unique ID.
      operationId: ListContractsV1Controller_getContractById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: The contract was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractByIdResponseDetails'
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          description: The contract with the specified ID was not found.
          content:
            application/json:
              examples:
                Contract Not Found:
                  value:
                    statusCode: 404
                    message: Contract not found
                    error: Not Found
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
        '500':
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
          description: ''
      summary: Contract by ID
      tags:
        - Contracts
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/{id}/attachments:
    get:
      description: >-
        This endpoint fetches all attachments associated with a contract by
        contract ID.
      operationId: ListContractsV1Controller_getContractAttachments
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: The attachment metadata were successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentResponseDto'
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          description: No Contract found matching Contract ID
          content:
            application/json:
              examples:
                Contract Not Found:
                  value:
                    statusCode: 404
                    message: Contract not found
                    error: Not Found
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
        '500':
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
          description: ''
      summary: Attachments
      tags:
        - Contracts
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/{id}/contacts:
    get:
      description: >-
        This endpoint returns the customizable contacts associated with a
        contract (Contacts subtab).
      operationId: ListContractsV1Controller_getContractContacts
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: The contacts were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsResponseDto'
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          description: Contract not found
          content:
            application/json:
              examples:
                Contract Not Found:
                  value:
                    statusCode: 404
                    message: Contract not found
                    error: Not Found
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
        '500':
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
          description: ''
      summary: Contacts
      tags:
        - Contracts
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/contact:
    get:
      description: >-
        Returns a list of unique "Contact" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getContactTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contact tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagsResponseDto'
              examples:
                default:
                  summary: Typical contact tags
                  value:
                    tags:
                      - Vendor
                      - Prime
                      - Subcontractor
                      - MWBE
                      - SBE
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contact tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contact tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/contracts:
    get:
      description: >-
        Returns a list of unique "Contract" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getContractTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractTagsResponseDto'
              examples:
                default:
                  summary: Typical contract tags
                  value:
                    tags:
                      - Construction
                      - IT Services
                      - Renewal FY2025
                      - Emergency Procurement
                      - Sole Source
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/contract-attachments:
    get:
      description: >-
        Returns a list of unique "Contract Attachment" tag names for the
        caller's organization.
      operationId: TagsV1Controller_getContractAttachmentTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract Attachment tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAttachmentTagsResponseDto'
              examples:
                default:
                  summary: Typical contract attachment tags
                  value:
                    tags:
                      - RFP
                      - SOW
                      - COI
                      - Addendum
                      - Signed Contract
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Attachment tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Attachment tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/contract-insurances:
    get:
      description: >-
        Returns a list of unique "Contract Insurance" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getContractInsuranceTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Contract Insurance tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInsuranceTagsResponseDto'
              examples:
                default:
                  summary: Typical contract insurance tags
                  value:
                    tags:
                      - General Liability
                      - Workers' Compensation
                      - Auto Liability
                      - Professional Liability
                      - Umbrella
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Contract Insurance tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Contract Insurance tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/delivery-codes:
    get:
      description: >-
        Returns a list of unique "Delivery Code" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getDeliveryCodeTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Delivery Code tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryCodeTagsResponseDto'
              examples:
                default:
                  summary: Typical delivery code tags
                  value:
                    tags:
                      - FOB Origin
                      - FOB Destination
                      - Expedited
                      - Overnight
                      - Drop-ship
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Delivery Code tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Delivery Code tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/fiscal-years:
    get:
      description: >-
        Returns a list of unique "Fiscal Year" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getFiscalYearTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Fiscal Year tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalYearTagsResponseDto'
              examples:
                default:
                  summary: Typical fiscal year tags
                  value:
                    tags:
                      - FY2023
                      - FY2024
                      - FY2025
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Fiscal Year tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Fiscal Year tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/funding-sources:
    get:
      description: >-
        Returns a list of unique "Funding Source" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getFundingSourceTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Funding Source tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourceTagsResponseDto'
              examples:
                default:
                  summary: Typical funding source tags
                  value:
                    tags:
                      - General Fund
                      - Capital Projects Fund
                      - 'Grant: ARPA'
                      - 'Grant: CDBG'
                      - Bond Proceeds
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Funding Source tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Funding Source tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/payment-terms:
    get:
      description: >-
        Returns a list of unique "Payment Terms" tag names for the caller's
        organization.
      operationId: TagsV1Controller_getPaymentTermsTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Payment Terms tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTermsTagsResponseDto'
              examples:
                default:
                  summary: Typical payment terms tags
                  value:
                    tags:
                      - Net 30
                      - Net 45
                      - Due Upon Receipt
                      - 2/10 Net 30
                      - Milestone-based
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: Internal server error while retrieving Payment Terms tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Payment Terms tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
  /public/api/v1/contracts/tags/procurement-classifications:
    get:
      description: >-
        Returns a list of unique "Procurement Classification" tag names for the
        caller's organization.
      operationId: TagsV1Controller_getProcurementClassificationTags
      parameters: []
      responses:
        '200':
          description: Successfully retrieved Procurement Classification tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcurementClassificationTagsResponseDto'
              examples:
                default:
                  summary: Typical procurement classification tags
                  value:
                    tags:
                      - RFP
                      - IFB
                      - RFQ
                      - Sole Source
                      - Cooperative Purchase
                empty:
                  summary: No tags found
                  value:
                    tags: []
        '401':
          content:
            application/json:
              examples:
                Missing Authorization Header:
                  value:
                    statusCode: 401
                    message: Authorization header not found
                    error: Unauthorized
                Missing Authorization Value:
                  value:
                    statusCode: 401
                    message: Authorization header value not found
                    error: Unauthorized
                Invalid Authorization Header:
                  value:
                    statusCode: 401
                    message: Invalid authorization header
                    error: Unauthorized
                Token Verification Failed:
                  value:
                    statusCode: 401
                    message: Token verification failed
                    error: Unauthorized
                API Key Authentication Failed:
                  value:
                    statusCode: 401
                    message: API key authentication failed
                    error: Unauthorized
                Incomplete User Information:
                  value:
                    statusCode: 401
                    message: >-
                      User or entity information incomplete: userUUID=undefined,
                      entityUUID=undefined
                    error: Unauthorized
                Failed to Get Entitlements:
                  value:
                    statusCode: 401
                    message: Failed to get entitlements
                    error: Unauthorized
          description: ''
        '403':
          content:
            application/json:
              examples:
                Missing Required Entitlements:
                  value:
                    statusCode: 403
                    message: >-
                      Required entitlements not found:
                      PLATFORM_ADMIN_SETTINGS_ENTITLEMENT, PRO_ENTITLEMENT
                    error: Forbidden
                Not a Member of Requested Entity:
                  value:
                    statusCode: 403
                    message: User is not a member of the requested entity
                    error: Forbidden
                No Associated Government Organization:
                  value:
                    statusCode: 403
                    message: No associated government organization found for user
                    error: Forbidden
          description: ''
        '404':
          content:
            application/json:
              examples:
                Requested Entity Not Found:
                  value:
                    statusCode: 404
                    message: Requested entity not found
                    error: Not Found
          description: ''
        '500':
          description: >-
            Internal server error while retrieving Procurement Classification
            tags.
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    statusCode: 500
                    message: Internal server error
                    error: Internal Server Error
      summary: Procurement Classification tags
      tags:
        - Tags
      security:
        - BearerToken: []
        - APIKey: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    xApiKeyHeaderAuth:
      type: apiKey
      in: header
      name: x-api-key
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: `Token your-api-key-here`'
    BearerToken:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Enter Bearer Token without Bearer prefix
  schemas:
    Contract:
      x-tags:
        - Datasets
      type: object
      properties:
        vendor_name:
          type: string
          description: >
            If vendor subscriber is chosen as the Associated Vendor during
            contract record creation, this will be the company name from the
            vendor's company profile.


            If no vendor subscriber is chosen, this is the Vendor Name as
            entered into the new contract form.
          example: Acme Corp
        vendor_email:
          type: string
          description: >
            If vendor subscriber is chosen as the Associated Vendor during
            contract creation, this is copied from that vendor subscriber's user
            profile.


            If no vendor subscriber is chosen, this is the Vendor Email as
            entered into the new contract form.
          example: contact@acme.nil
        vendor_city:
          type: string
          description: >-
            Vendor company city; only available when vendor subscriber is chosen
            as the Associated Vendor during contract creation.
          example: New York
        vendor_state:
          type: string
          description: >-
            Vendor company state; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: NY
        vendor_country:
          type: string
          description: >-
            Vendor company country; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: USA
        vendor_zip_code:
          type: string
          description: >-
            Vendor company zip code; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: 10001
        external_vendor_id:
          type: string
          description: >-
            The optional External Vendor ID that identifies the Vendor in your
            financial system.
          example: VENDOR-001
        vendor_number:
          type: string
          description: >-
            The optional Vendor Assigned Number that identifies the Vendor in
            your ERP.
          example: ACME-001
        internal_contract_id:
          type: integer
          description: The internal OpenGov contract ID.
          example: 456
        contract_title:
          type: string
          description: The title of the contract.
          example: Office Supplies Contract
        contract_id:
          type: string
          description: The public-facing contract ID or code.
          example: CON-789
        external_reference_id:
          type: string
          description: >-
            The optional External Reference ID that identifies the Contract in
            your financial system.
          example: EXT-CON-001
        requisition_id:
          type: string
          description: The requisition ID.
          example: REQ-101
        term_type:
          type: string
          description: 'One of: Limited Term, Continuous, or Upon Completion.'
          example: Continuous
        status:
          type: string
          description: 'One of: upcoming, active, ended.'
          example: active
        start_date:
          type: string
          format: date
          description: The start date of the contract.
          example: '2024-01-01'
        end_date:
          type: string
          format: date
          description: The end date of the contract.
          example: '2024-12-31'
        initial_term_length:
          type: integer
          description: The initial term length of the contract.
          example: 12
        initial_term_unit:
          type: string
          description: >-
            The unit of the initial term length. One of: years, months, weeks,
            days
          example: Months
        has_renewal_option:
          type: boolean
          description: >-
            If any renewal options have not been activated, value is 1.
            Otherwise 0.
          example: 1
        renewals:
          type: integer
          description: Count of all renewal options (both activated and not activated).
          example: 2
        renewals_remaining:
          type: integer
          description: Count of renewal options that have not been activated.
          example: 1
        contract_amount:
          type: number
          format: double
          description: The total amount of the contract.
          example: 10000
        amount_spent:
          type: number
          format: double
          description: Contract Spend - total of Amount Issued for all orders.
          example: 5000
        department:
          type: string
          description: The department primarily responsible for the contract.
          example: Finance
        project_contact:
          type: string
          description: First Name + Last Name of the Project Contact.
          example: John Doe
        procurement_contact:
          type: string
          description: First Name + Last Name of the Procurement Contact.
          example: Jane Smith
        contract_type:
          type: string
          description: >-
            Comma-separated list of Contract Type tags. Each tag name may be up
            to 256 characters.
          example: General
        procurement_classification:
          type: string
          description: >-
            Comma-separated list of Procurement Classification tags. Each tag
            name may be up to 256 characters.
          example: Goods
        category_codes:
          type: string
          description: >-
            Comma-separated list of Category codes. Each code may be up to 8
            characters.
          example: 1234
        notes:
          type: string
          description: Internal notes about the contract. Contains HTML formatting.
          example: Notes about the contract
        is_active_for_financial_transactions:
          type: boolean
          description: >-
            Whether a contract is available for selection in financial
            workflows, such as purchase requests.
          example: 1
        is_public:
          type: boolean
          description: Whether or not the contract is included in the public portal.
          example: 1
        allows_cooperative:
          type: boolean
          description: >-
            Whether or not the contract contains cooperative or “piggyback”
            language.
          example: 1
        acquired_via_cooperative:
          type: boolean
          description: Whether or not the contract was acquired via cooperative purchasing.
        will_rebid:
          type: boolean
          description: Contract will be renewed through a competitive process when it ends.
          example: 0
        is_emergency:
          type: boolean
          description: This is a contract for emergency goods or services.
          example: 0
        assembled_contract_document_count:
          type: integer
          description: >-
            Count of assembled contract documents (linked contract document
            projects).
          example: 5
        contract_document_count:
          type: integer
          description: Count of contract document attachments (both public and non-public).
          example: 10
        created_at:
          type: string
          format: date
          description: The creation date of the contract.
          example: '2024-01-01'
        updated_at:
          type: string
          format: date
          description: The last update date of the contract.
          example: '2024-01-25'
    ContractDocument:
      x-tags:
        - Datasets
      type: object
      properties:
        internal_project_id:
          type: integer
          description: The internal OpenGov contract document ID.
          example: 12345
        title:
          type: string
          description: The title of the document.
          example: Carroll Bog Boardwalk Construction
        project_id:
          type: string
[...]
