openapi: 3.1.0
info:
  version: v2
  title: Permitting & Licensing API
  contact:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
    email: developers@opengov.com
  description: "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n"
  license:
    name: OpenGov Permitting & Licensing API
    url: https://opengov.com
x-og-spec-id: plc-api-v2
x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read
servers:
- url: https://api.plce.opengov.com/plce
  description: Production
  x-og-envs:
  - production
  - staging
  - development
  - local
tags:
- name: Record
  description: A Record represents a single permit or license application, code enforcement case, or business process in OpenGov Permitting & Licensing. Records are created in the Employee Portal and/or Citizen Portal and serve as the central container for all related information. This includes form data, workflows, inspections, fees, approvals, public contacts (such as applicants and guests), and associated locations.
- name: Approval Steps
  description: Approval Steps are one step type that can be found in a record's workflow.
- name: Checklist Results
  description: Inspection Results include Checklist Results for any checklist item that was inspected.
- name: Checklist Templates
  description: A Checklist Template is a single item in an Inspection Type Template's checklist.
- name: Departments
  description: A Department is a group of Record Types.
- name: Document Steps
  description: Document Steps are one step type that can be found in a record's workflow.
- name: Fees
  description: A Payment Step can have one or more Fees.
- name: Files
  description: "Files in OpenGov Permitting & Licensing are managed in a two-step process:\n\n1. **File Upload**\n   - First, create a file entry to receive a pre-signed Azure Blob Storage URL\n   - Use this URL to upload your file directly to Azure Blob Storage\n   - The file is now stored but not yet associated with any entity\n\n2. **File Association**\n   - Associate the uploaded file with an entity (currently only Record Attachments)\n   - The file is cloned when associated, allowing the same file to be reused across different entities\n   - Each association creates a new file object with its own lifecycle\n\nThis design allows for efficient file reuse while maintaining independent file management for each entity.\n"
- name: Inspection Events
  description: An Inspection Event is a single inspection appointment, during which one or more Inspection Results are typically created.
- name: Inspection Results
  description: An Inspection Result is created for each Inspection Type inspected during an Inspection Event.
- name: Inspection Steps
  description: Inspection Steps are one step type that can be found in a record's workflow.
- name: Inspection Type Templates
  description: Inspection Type Templates can be added to Inspection Workflow Step Templates.
- name: Inspection Types
  description: An Inspection Record Workflow Step has one or more Inspection Types.
- name: Ledger Entries
  description: A Leger Entry is created for each Fee paid or refunded in a Transaction.
- name: Location Flags
  description: Location Flags can be added to individual Locations to tag them with certain characteristics.
- name: Locations
  description: A Location can be added as the Primary Location or an Additional Location of a Record. A Location can be a Point, Segment, or Parcel.
- name: Organization
  description: The Organization represents the entity as a whole.
- name: Payment Steps
  description: Payment Steps are one step type that can be found in a record's workflow.
- name: Projects
  description: Project APIs allow you to work with projects that group related records
- name: Record Additional Locations
  description: 'A Record can be associated with up to 99 Additional Locations.


    Record Locations reference Locations.

    '
- name: Record Applicant
  description: "The Applicant is the public user who submitted a Record and/or the primary public contact for the Record. \n\n"
- name: Record Attachments
  description: 'A Record can have attachments which either reference a Record Type Attachment or are ad-hoc. Each attachment can have one or more versions.


    '
- name: Record Change Requests
  description: A Record Change Request represents a request from an employee to the applicant for changes to the form or attachments.
- name: Record Forms
  description: 'A Record''s Form is based on its Record Type.


    A Form is comprised of Fields which are contained within Sections. Each Field is of a specific data Type, and has a Label and a Value.


    '
- name: Record Guests
  description: 'Record Guests are additional users who need visibility into the permit/license process. This could include

    contractors, architects, property owners, or other stakeholders who need to track the application''s progress,

    receive updates, or help manage the application. For example, a homeowner (Applicant) might add their

    contractor (Guest) to a building permit to help upload revised plans or respond to inspector comments.


    A record can have up to 10 Guests. The Applicant or any employee user can add Guests to a Record.


    '
- name: Record Primary Location
  description: 'A Record can be associated with one Primary Location.


    Record Locations reference Locations.

    '
- name: Record Type Attachments
  description: Record Type Attachments are templates that define the required and optional Attachments for a Record of a particular Record Type.
- name: Record Type Document Templates
  description: Record Type Document Templates provide the format and content of a particular document that should be issued in a Document Step.
- name: Record Type Fees
  description: Record Type Fees define the calculation structure for individual fees charged on Payment Steps.
- name: Record Type Form
  description: The Record Type Form is the form template for records of that Record Type.
- name: Record Type Workflow
  description: The Record Type Workflow is the workflow template for records of that Record Type.
- name: Record Types
  description: A Record Type defines the configuration for individual Records of that Record Type.
- name: Record Workflow Step Comments
  description: Step Comments APIs allow you to retrieve, add or remove comments on workflow steps of a record.
- name: Record Workflow Steps
  description: 'A Record''s Workflow is represented as a collection of **Steps**. Steps are automatically created on a Record at the time it is submitted, based on the Record Type Workflow defined for that Record''s Type.


    Steps are instantiated on Records and can be added or deleted on individual Records, so a given Record''s Steps may not always match its Workflow Template.

    '
- name: Transactions
  description: A Transaction represents an individual payment or refund transaction on a Record.
- name: User Flags
  description: User Flags can be added to individual Users to tag them with certain characteristics.
- name: Users
  description: Users can be attached to Records as the Applicant or as a Guest.
- name: Activity Logs
  description: Activity Log APIs allow you to retrieve historical changes and actions performed on entities in the system. Activity logs track create, update, soft delete, and hard delete operations. Employee access required.
x-tagGroups:
- name: Records
  tags:
  - Record
  - Record Applicant
  - Record Guests
  - Record Primary Location
  - Record Additional Locations
  - Record Forms
  - Record Change Requests
  - Record Attachments
  - Record Workflow Steps
  - Record Workflow Step Comments
- name: Locations
  tags:
  - Locations
  - Location Flags
- name: Users
  tags:
  - Users
  - User Flags
- name: Approvals
  tags:
  - Approval Steps
- name: Documents
  tags:
  - Document Steps
  - Issued Documents
- name: Inspections
  tags:
  - Inspection Steps
  - Inspection Types
  - Inspection Events
  - Inspection Results
  - Checklist Results
- name: Payments
  tags:
  - Payment Steps
  - Fees
  - Transactions
  - Ledger Entries
- name: Projects
  tags:
  - Projects
- name: Files
  tags:
  - Files
- name: Configuration
  tags:
  - Organization
  - Departments
  - Record Types
  - Record Type Form
  - Record Type Attachments
  - Record Type Document Templates
  - Record Type Fees
  - Record Type Workflow
  - Inspection Type Templates
  - Checklist Templates
- name: Activity Logs
  tags:
  - Activity Logs
paths:
  /v2/{community}/approval-steps:
    parameters:
    - name: community
      in: path
      description: Subdomain of the community
      required: true
      schema:
        type: string
    get:
      summary: List approval steps
      description: 'Retrieve approval steps that match the specified filters.

        ### Permissions Required

        `Workflow Read`'
      operationId: listApprovalTasks
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Approval Steps
      parameters:
      - name: page[number]
        in: query
        description: Which page to return (1-based)
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        example: 1
      - name: page[size]
        in: query
        description: Number of records to return per page
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 20
      - name: filter[recordID]
        in: query
        description: Filter by a recordID
        required: false
        schema:
          type: string
      - name: filter[label]
        in: query
        description: Filter by record step label
        required: false
        schema:
          type: string
      - name: filter[status]
        in: query
        description: Filter by record step status
        required: false
        schema:
          type: string
          enum:
          - REJECTED
          - INACTIVE
          - ACTIVE
          - COMPLETE
          - SKIPPED
          - ON_HOLD
          description: Status of the workflow step
      - name: filter[completedAt]
        in: query
        description: Filter by date at which the record step was completed
        required: false
        style: deepObject
        explode: true
        schema:
          oneOf:
          - type: string
          - type: object
            properties:
              lt:
                type: string
                description: Less than the specified date
              lte:
                type: string
                description: Less than or equal to the specified date
              gt:
                type: string
                description: Greater than the specified date
              gte:
                type: string
                description: Greater than or equal to the specified date
      - name: filter[activatedAt]
        in: query
        description: Filter by date at which the record step was activated
        required: false
        style: deepObject
        explode: true
        schema:
          oneOf:
          - type: string
          - type: object
            properties:
              lt:
                type: string
                description: Less than the specified date
              lte:
                type: string
                description: Less than or equal to the specified date
              gt:
                type: string
                description: Greater than the specified date
              gte:
                type: string
                description: Greater than or equal to the specified date
      - name: filter[assigneeID]
        in: query
        description: Filter by the user ID of the record step assignee
        required: false
        schema:
          type: string
      - name: filter[dueBy]
        in: query
        description: Filter by date at which the record step is due
        required: false
        style: deepObject
        explode: true
        schema:
          oneOf:
          - type: string
          - type: object
            properties:
              lt:
                type: string
                description: Less than the specified date
              lte:
                type: string
                description: Less than or equal to the specified date
              gt:
                type: string
                description: Greater than the specified date
              gte:
                type: string
                description: Greater than or equal to the specified date
      responses:
        '200':
          description: Approval step
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Approvals
                      title: Approval Step
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - approvalStep
                          example: approvalStep
                        id:
                          type: string
                          example: approval-step-100001
                        attributes:
                          type: object
                          properties:
                            label:
                              type: string
                              nullable: true
                              description: Short text that describes the workflow step
                              example: Plan Review and Approval
                            stepType:
                              type: string
                              enum:
                              - APPROVAL
                              - PAYMENT
                              - INSPECTION
                              - DOCUMENT
                              - API_INTEGRATION
                              - ASSET_MANAGEMENT
                              - RELATED_RECORD
                              - SHADOW
                              - REVIEW
                              description: A value that indicates the kind of process that this step represents
                              example: APPROVAL
                            ordinal:
                              type: integer
                              description: Order in which the steps are activated in the workflow
                              example: 1
                            sequence:
                              type: boolean
                              description: ''
                              example: true
                            status:
                              $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/4/schema'
                            activatedAt:
                              type: string
                              format: date-time
                              description: When the step was activated
                            completedAt:
                              type: string
                              nullable: true
                              format: date-time
                              description: When the step was completed
                            dueBy:
                              type: string
                              format: date-time
                              nullable: true
                              description: Due date
                        relationships:
                          type: object
                          properties:
                            step:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: ID of the related resource
                                    type:
                                      type: string
                                      description: Type of the related resource
                                  required:
                                  - id
                                  - type
                                  nullable: true
                                links:
                                  type: object
                                  description: Links to related resources
                                  properties:
                                    self:
                                      type: string
                                      format: uri-reference
                                      description: Link to the current resource
                                    related:
                                      type: string
                                      format: uri-reference
                                      description: Link to the related resource
                                  additionalProperties:
                                    type: string
                                    format: uri-reference
                                    description: URL of the related resource
                              description: Relationship to the step entity
                            assignee:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: User assigned to the step
                  links:
                    type: object
                    description: Links to related resources in a collection
                    properties:
                      self:
                        type: string
                        format: uri-reference
                        description: Link to the current resource
                        examples:
                        - https://api.example.com/v2/records?page[number]=2&page[size]=20
                      first:
                        type: string
                        format: uri-reference
                        description: Link to the first page in the collection
                        examples:
                        - https://api.example.com/v2/records?page[number]=1&page[size]=20
                      prev:
                        type: string
                        format: uri-reference
                        description: Link to the previous page in the collection, if applicable
                        examples:
                        - https://api.example.com/v2/records?page[number]=1&page[size]=20
                      next:
                        type: string
                        format: uri-reference
                        description: Link to the next page in the collection, if applicable
                        examples:
                        - https://api.example.com/v2/records?page[number]=3&page[size]=20
                      last:
                        type: string
                        format: uri-reference
                        description: Link to the last page in the collection
                        examples:
                        - https://api.example.com/v2/records?page[number]=10&page[size]=20
                    additionalProperties:
                      type: string
                      format: uri-reference
                      description: URL of the related resource
                  meta:
                    type: object
                    required:
                    - page
                    - size
                    - totalPages
                    - totalRecords
                    properties:
                      page:
                        type: integer
                        description: The current page number
                        example: 2
                      size:
                        type: integer
                        description: Number of records per page
                        example: 20
                      totalPages:
                        type: integer
                        description: Total number of pages available
                        example: 10
                      totalRecords:
                        type: integer
                        description: Total count of records across all pages
                        example: 200
                required:
                - data
                - links
                - meta
        '400':
          description: '**Bad Request**: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.

            '
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    maxItems: 1
                    items:
                      type: object
                      required:
                      - id
                      - status
                      - title
                      - detail
                      properties:
                        id:
                          type: string
                          description: Unique identifier for this particular occurrence of the problem
                          example: error-767778
                        status:
                          type: string
                          description: The HTTP status code applicable to this problem
                          example: '400'
                        title:
                          type: string
                          description: A short summary of the problem
                          example: Validation Error
                        detail:
                          type: string
                          description: Short explanation for the specific occurrence of the problem
                          example: The provided record type ID is invalid or does not exist
        '401':
          description: '**Unauthorized**: The request has not been applied because it lacks valid authentication credentials for the target resource.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                unauthorized:
                  summary: Missing or invalid authentication
                  value:
                    errors:
                    - id: error-401-001
                      code: UNAUTHORIZED
                      detail: Authentication credentials are missing or invalid
                      status: '401'
                      title: Unauthorized
        '403':
          description: '**Forbidden**: The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    errors:
                    - id: error-403-001
                      code: FORBIDDEN
                      detail: You do not have sufficient permissions to access this resource
                      status: '403'
                      title: Forbidden
        '404':
          description: '**Resource not found**: The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                not_found:
                  summary: Resource not found
                  value:
                    errors:
                    - id: error-404-001
                      code: NOT_FOUND
                      detail: The requested resource could not be found
                      status: '404'
                      title: Not Found
        '406':
          description: '**Not Acceptable**: The server cannot produce a response matching the list of acceptable values defined in the request''s proactive content negotiation headers.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                not_acceptable:
                  summary: Content type not acceptable
                  value:
                    errors:
                    - id: error-406-001
                      code: NOT_ACCEPTABLE
                      detail: The requested content type is not supported. Please use application/vnd.api+json
                      source:
                        header: Accept
                      status: '406'
                      title: Not Acceptable
        '500':
          description: '**Internal Server Error**: The server encountered an unexpected condition which prevented it from fulfilling the request.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
  /v2/{community}/approval-steps/{approvalStepID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: approvalStepID
      in: path
      description: ID of an approval step
      required: true
      schema:
        type: string
    get:
      summary: Get approval step
      description: 'Retrieve an approval step by ID.

        ### Permissions Required

        `Workflow Read`'
      operationId: getApprovalTask
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Approval Steps
      responses:
        '200':
          description: Approval step
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Approvals
                    title: Approval Step
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - approvalStep
                        example: approvalStep
                      id:
                        type: string
                        example: approval-step-100001
                      attributes:
                        type: object
                        properties:
                          label:
                            type: string
                            nullable: true
                            description: Short text that describes the workflow step
                            example: Plan Review and Approval
                          stepType:
                            type: string
                            enum:
                            - APPROVAL
                            - PAYMENT
                            - INSPECTION
                            - DOCUMENT
                            - API_INTEGRATION
                            - ASSET_MANAGEMENT
                            - RELATED_RECORD
                            - SHADOW
                            - REVIEW
                            description: A value that indicates the kind of process that this step represents
                            example: APPROVAL
                          ordinal:
                            type: integer
                            description: Order in which the steps are activated in the workflow
                            example: 1
                          sequence:
                            type: boolean
                            description: ''
                            example: true
                          status:
                            $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/4/schema'
                          activatedAt:
                            type: string
                            format: date-time
                            description: When the step was activated
                          completedAt:
                            type: string
                            nullable: true
                            format: date-time
                            description: When the step was completed
                          dueBy:
                            type: string
                            format: date-time
                            nullable: true
                            description: Due date
                      relationships:
                        type: object
                        properties:
                          step:
                            $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step'
                          assignee:
                            $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/assignee'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
    patch:
      summary: Update approval step
      description: 'Update an approval step.

        ### Permissions Required

        `Workflow Write`'
      operationId: updateApprovalTask
      x-og-claims-required:
      - PLC_RECORD_STEP_UPDATE
      tags:
      - Approval Steps
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.api+json
          enum:
          - application/vnd.api+json
          - application/json
        description: 'The Content-Type header must be set to `application/vnd.api+json` for all PUT, PATCH, and POST requests.

          '
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  required:
                  - type
                  - id
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - approvalStep
                      example: approvalStep
                    id:
                      type: string
                      example: approval-step-100003
                    attributes:
                      type: object
                      properties:
                        assigneeID:
                          type: string
                          example: user-reviewer-100004
                        dueBy:
                          type: string
                          format: date-time
                          description: Due date
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items'
                required:
                - data
          description: Approval updated
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '409':
          description: '**Conflict**: The request could not be completed due to a conflict with the current state of the resource.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
        '415':
          description: '**Unsupported Media Type**

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                unsupported_media_type:
                  summary: Unsupported Content-Type header
                  value:
                    errors:
                    - id: error-415-001
                      code: UNSUPPORTED_MEDIA_TYPE
                      detail: The request Content-Type is not supported. Expected application/vnd.api+json
                      source:
                        header: Content-Type
                      status: '415'
                      title: Unsupported Media Type
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/departments:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    get:
      summary: List departments
      description: 'Retrieve a list of departments that match the specified filters.

        ### Permissions Required

        `System Config Read`'
      operationId: getDepartments
      x-og-claims-required:
      - PLC_SYSTEM_CONFIG_READ
      tags:
      - Departments
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      responses:
        '200':
          description: Returns Departments
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Departments
                      title: Department
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                          description: Unique internal ID of a department
                          example: dept-123456
                        type:
                          type: string
                          enum:
                          - department
                          example: department
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              maxLength: 255
                              description: Name of the department.
                              example: Building & Planning
                            isEnabled:
                              type: boolean
                              description: Indicates whether the department is enabled.
                              default: true
                              example: true
                            photo:
                              type: string
                              format: uri-reference
                              nullable: true
                              default: https://viewpointcloud.blob.core.windows.net:443/profile-pictures/Geometric-Wallpaper-13_Mon_Mar_21_2016_19:54:18_GMT+0000_(Coordinated_Universal_Time).jpg
                              description: URL to the department photo in the public portal.
                              example: https://example.com/images/dept-photo.jpg
                            content:
                              type: string
                              nullable: true
                              description: Public portal content related to the department.
                              example: Welcome to the Building & Planning Department. We handle all construction permits and planning applications.
                            orderNo:
                              type: integer
                              nullable: true
                              description: Sorting order number for the department.
                              example: 1
                            applyAccess:
                              type: string
                              enum:
                              - Public
                              - Internal-Only
                              description: Access level required to apply for this department.
                              example: Public
                            updatedAt:
                              type: string
                              description: Date and time (UTC) when the resource was last updated.
                              format: date-time
                              readOnly: true
                            updatedBy:
                              type: string
                              description: ID of the user who last updated this resource.
                              readOnly: true
                              example: user-admin-990001
                        relationships:
                          type: object
                          properties:
                            recordTypes:
                              type: object
                              properties:
                                links:
                                  $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties/links'
                              description: Record Types
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/departments/{departmentID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: departmentID
      in: path
      description: ID of the department
      required: true
      schema:
        type: string
    get:
      summary: Get department
      description: 'Retrieve a department by ID.

        ### Permissions Required

        `System Config Read`'
      operationId: getDepartment
      x-og-claims-required:
      - PLC_SYSTEM_CONFIG_READ
      tags:
      - Departments
      responses:
        '200':
          description: Returns Department
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Departments
                    title: Department
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Unique internal ID of a department
                        example: dept-123456
                      type:
                        type: string
                        enum:
                        - department
                        example: department
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 255
                            description: Name of the department.
                            example: Building & Planning
                          isEnabled:
                            type: boolean
                            description: Indicates whether the department is enabled.
                            default: true
                            example: true
                          photo:
                            type: string
                            format: uri-reference
                            nullable: true
                            default: https://viewpointcloud.blob.core.windows.net:443/profile-pictures/Geometric-Wallpaper-13_Mon_Mar_21_2016_19:54:18_GMT+0000_(Coordinated_Universal_Time).jpg
                            description: URL to the department photo in the public portal.
                            example: https://example.com/images/dept-photo.jpg
                          content:
                            type: string
                            nullable: true
                            description: Public portal content related to the department.
                            example: Welcome to the Building & Planning Department. We handle all construction permits and planning applications.
                          orderNo:
                            type: integer
                            nullable: true
                            description: Sorting order number for the department.
                            example: 1
                          applyAccess:
                            type: string
                            enum:
                            - Public
                            - Internal-Only
                            description: Access level required to apply for this department.
                            example: Public
                          updatedAt:
                            $ref: '#/paths/~1v2~1{community}~1departments/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/attributes/properties/updatedAt'
                          updatedBy:
                            $ref: '#/paths/~1v2~1{community}~1departments/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/attributes/properties/updatedBy'
                      relationships:
                        type: object
                        properties:
                          recordTypes:
                            $ref: '#/paths/~1v2~1{community}~1departments/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/recordTypes'
                  included:
                    type: array
                    description: Related resources
                    items:
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          additionalProperties: true
                    minItems: 0
                    maxItems: 5
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/document-steps:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    get:
      summary: List document generation steps
      description: 'List document generation steps that match the specified filters.

        ### Permissions Required

        `Workflow Read`'
      operationId: listDocumentGenerationTasks
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Document Steps
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/2'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/3'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/4'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/5'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/6'
      responses:
        '200':
          description: Document generation task
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Issued Documents
                      title: Document
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - documentStep
                          example: documentStep
                        id:
                          type: string
                          example: document-step-200001
                        attributes:
                          type: object
                          properties:
                            label:
                              type: string
                              nullable: true
                              description: Short text that describes the workflow step
                              example: Building Permit Certificate Generation
                            stepType:
                              type: string
                              enum:
                              - APPROVAL
                              - PAYMENT
                              - INSPECTION
                              - DOCUMENT
                              - API_INTEGRATION
                              - ASSET_MANAGEMENT
                              - RELATED_RECORD
                              - SHADOW
                              - REVIEW
                              description: A value that indicates the kind of process that this step represents
                              example: DOCUMENT
                            ordinal:
                              type: integer
                              description: Order in which the steps are activated in the workflow
                              example: 4
                            sequence:
                              type: boolean
                              description: ''
                              example: true
                            status:
                              $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/4/schema'
                            activatedAt:
                              type: string
                              format: date-time
                              description: When the step was activated
                            completedAt:
                              type: string
                              nullable: true
                              format: date-time
                              description: When the step was completed
                            documentTitle:
                              type: string
                              description: Document title
                              example: Building Permit Certificate BP-2024-001234
                            dateIssued:
                              type: string
                              format: date-time
                              description: Date issued
                            expiresAt:
                              type: string
                              format: date-time
                              description: Expiration date
                            documentType:
                              type: string
                              enum:
                              - Permit/License
                              - Letter
                              - Certificate
                              - Other
                              description: Type of document
                            html:
                              type: string
                              nullable: true
                              description: HTML content of the document
                              example: <html><body><h1>Building Permit Certificate</h1><p>This certificate is issued for permit {{permit_number}} at {{address}}.</p></body></html>
                            portrait:
                              type: boolean
                              nullable: true
                              description: Whether the document is in portrait format
                              example: true
                            publicCanPrint:
                              type: boolean
                              nullable: true
                              description: Indicates if the document can be printed by the public
                              example: true
                            createdAt:
                              type: string
                              format: date-time
                              description: Date the document was created
                              readOnly: true
                            lastUpdatedByUserID:
                              type: string
                              nullable: true
                              description: User ID of the last person who updated the document
                              example: user-admin-200002
                            updatedAt:
                              type: string
                              format: date-time
                              description: Timestamp of the last update
                              readOnly: true
                        relationships:
                          type: object
                          properties:
                            step:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: Relationship to the step entity
                            documents:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1departments/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/recordTypes/properties'
                              description: Related documents
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/document-steps/{documentStepID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: documentStepID
      in: path
      description: ID of a document step
      required: true
      schema:
        type: string
    get:
      summary: Get a document generation step
      description: 'Retrieve a document generation step.

        ### Permissions Required

        `Workflow Read`'
      operationId: getDocumentGenerationTask
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Document Steps
      responses:
        '200':
          description: Document generation task
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Issued Documents
                    title: Document
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - documentStep
                        example: documentStep
                      id:
                        type: string
                        example: document-step-200001
                      attributes:
                        type: object
                        properties:
                          label:
                            type: string
                            nullable: true
                            description: Short text that describes the workflow step
                            example: Building Permit Certificate Generation
                          stepType:
                            type: string
                            enum:
                            - APPROVAL
                            - PAYMENT
                            - INSPECTION
                            - DOCUMENT
                            - API_INTEGRATION
                            - ASSET_MANAGEMENT
                            - RELATED_RECORD
                            - SHADOW
                            - REVIEW
                            description: A value that indicates the kind of process that this step represents
                            example: DOCUMENT
                          ordinal:
                            type: integer
                            description: Order in which the steps are activated in the workflow
                            example: 4
                          sequence:
                            type: boolean
                            description: ''
                            example: true
                          status:
                            $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/4/schema'
                          activatedAt:
                            type: string
                            format: date-time
                            description: When the step was activated
                          completedAt:
                            type: string
                            nullable: true
                            format: date-time
                            description: When the step was completed
                          documentTitle:
                            type: string
                            description: Document title
                            example: Building Permit Certificate BP-2024-001234
                          dateIssued:
                            type: string
                            format: date-time
                            description: Date issued
                          expiresAt:
                            type: string
                            format: date-time
                            description: Expiration date
                          documentType:
                            type: string
                            enum:
                            - Permit/License
                            - Letter
                            - Certificate
                            - Other
                            description: Type of document
                          html:
                            type: string
                            nullable: true
                            description: HTML content of the document
                            example: <html><body><h1>Building Permit Certificate</h1><p>This certificate is issued for permit {{permit_number}} at {{address}}.</p></body></html>
                          portrait:
                            type: boolean
                            nullable: true
                            description: Whether the document is in portrait format
                            example: true
                          publicCanPrint:
                            type: boolean
                            nullable: true
                            description: Indicates if the document can be printed by the public
                            example: true
                          createdAt:
                            type: string
                            format: date-time
                            description: Date the document was created
                            readOnly: true
                          lastUpdatedByUserID:
                            type: string
                            nullable: true
                            description: User ID of the last person who updated the document
                            example: user-admin-200002
                          updatedAt:
                            type: string
                            format: date-time
                            description: Timestamp of the last update
                            readOnly: true
                      relationships:
                        type: object
                        properties:
                          step:
                            $ref: '#/paths/~1v2~1{community}~1document-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step'
                          documents:
                            $ref: '#/paths/~1v2~1{community}~1document-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/documents'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/document-steps/{documentStepID}/documents:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: documentStepID
      in: path
      description: ID of a document step
      required: true
      schema:
        type: string
    get:
      summary: List documents
      description: 'List documents for a given document step.

        ### Permissions Required

        `Workflow Read`'
      operationId: listDocuments
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Issued Documents
      parameters:
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/0'
      - $ref: '#/paths/~1v2~1{community}~1approval-steps/get/parameters/1'
      responses:
        '200':
          description: Documents
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Documents
                      title: Document
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - document
                          example: document
                        id:
                          type: string
                          description: Unique internal ID of the document
                          example: 200001
                        attributes:
                          type: object
                          properties:
                            documentTitle:
                              type: string
                              description: Title of the document
                              example: Building Permit
                            documentType:
                              type: string
                              description: Type or category of the document
                              example: Permit/License
                            dateIssued:
                              type: string
                              format: date-time
                              description: Date and time (UTC) when the document was issued
                              example: '2024-08-25T15:00:00Z'
                            html:
                              type: string
                              nullable: true
                              description: HTML content of the document
                              example: <html><body><h1>Building Permit</h1><p>This certificate is issued....</p></body></html>
                            createdAt:
                              type: string
                              format: date-time
                              description: Date and time (UTC) when the document was created
                              readOnly: true
                              example: '2024-08-25T15:00:00Z'
                            lastUpdatedByUserID:
                              type: string
                              nullable: true
                              description: User ID of the last person who updated the document
                              example: auth0|asdf12345
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date and time (UTC) of the last update
                              readOnly: true
                              example: '2024-08-25T15:00:00Z'
                        relationships:
                          type: object
                          required:
                          - documentStep
                          properties:
                            documentStep:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The document step this document is associated with
                            file:
                              type: object
                              properties:
                                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/step/properties'
                              description: The file associated with this document, if Document Management Integration is enabled for the provided community. Otherwise, this relationship is omitted.
                  links:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/meta'
                required:
                - data
                - links
                - meta
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/document-steps/{documentStepID}/documents/{documentID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/parameters/1'
    - name: documentID
      in: path
      description: ID of a document
      required: true
      schema:
        type: string
    get:
      summary: Get a document
      description: 'Retrieve a document by ID.

        ### Permissions Required

        `Workflow Read`'
      operationId: getDocument
      x-og-claims-required:
      - PLC_RECORD_STEP_READ
      tags:
      - Issued Documents
      responses:
        '200':
          description: Document
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    x-tags:
                    - Documents
                    title: Document
                    required:
                    - type
                    - id
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - document
                        example: document
                      id:
                        type: string
                        description: Unique internal ID of the document
                        example: 200001
                      attributes:
                        type: object
                        properties:
                          documentTitle:
                            type: string
                            description: Title of the document
                            example: Building Permit
                          documentType:
                            type: string
                            description: Type or category of the document
                            example: Permit/License
                          dateIssued:
                            type: string
                            format: date-time
                            description: Date and time (UTC) when the document was issued
                            example: '2024-08-25T15:00:00Z'
                          html:
                            type: string
                            nullable: true
                            description: HTML content of the document
                            example: <html><body><h1>Building Permit</h1><p>This certificate is issued....</p></body></html>
                          createdAt:
                            type: string
                            format: date-time
                            description: Date and time (UTC) when the document was created
                            readOnly: true
                            example: '2024-08-25T15:00:00Z'
                          lastUpdatedByUserID:
                            type: string
                            nullable: true
                            description: User ID of the last person who updated the document
                            example: auth0|asdf12345
                          updatedAt:
                            type: string
                            format: date-time
                            description: Date and time (UTC) of the last update
                            readOnly: true
                            example: '2024-08-25T15:00:00Z'
                      relationships:
                        type: object
                        required:
                        - documentStep
                        properties:
                          documentStep:
                            $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/documentStep'
                          file:
                            $ref: '#/paths/~1v2~1{community}~1document-steps~1{documentStepID}~1documents/get/responses/200/content/application~1vnd.api+json/schema/properties/data/items/properties/relationships/properties/file'
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '404':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/404'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
  /v2/{community}/files:
    parameters:
    - name: community
      in: path
      description: Subdomain of the community
      required: true
      schema:
        type: string
    post:
      summary: Upload a file
      description: "Creates a new file entry and returns a pre-signed URL for uploading.\n\n##### Upload Process\n1. Call this endpoint with the file metadata to receive:\n   - A `fileID` for referencing the file\n   - A pre-signed URL for uploading\n2. Use the pre-signed URL to upload your file:\n   - Send a `PUT` request to the URL\n   - Include the file content in the request body\n   - Set the `Content-Type` header to match the file type\n   - Include the header `x-ms-blob-type` with the value `BlockBlob`\n3. Once uploaded, the file can be associated with entities:\n   - Currently supports association with [Record Attachments](operation:external/plce-api/plce-api.oas/record-attachments/addRecordAttachment)\n   - Each association creates a clone of the original file\n   - The same file can be reused across multiple entities\n\nThe pre-signed URL expires after 1 hour.\n\nFor more information on uploading files, see the [Azure Blob Service REST API documentation](https://learn.microsoft.com/en-us/rest/api/storageservices/put-blob)\n\n### Permissions Required\n`File Write`"
      operationId: createFileUpload
      x-og-claims-required:
      - PLC_FILE_WRITE
      tags:
      - Files
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.api+json
          enum:
          - application/vnd.api+json
          - application/json
        description: 'The Content-Type header must be set to `application/vnd.api+json` for all PUT, PATCH, and POST requests.

          '
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - file
                      example: file
                    attributes:
                      type: object
                      required:
                      - fileName
                      - contentType
                      properties:
                        fileName:
                          type: string
                          description: Name of the file
                          example: construction_plans.pdf
        required: true
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Number of requests allowed
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of remaining requests
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    title: File
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Unique internal ID of the file
                        example: file-post-response-585960
                      type:
                        type: string
                        enum:
                        - file
                        example: file
                      attributes:
                        type: object
                        required:
                        - fileName
                        - fileDate
                        - uploadedByUserID
                        - isEnabled
                        - containerName
                        - lastUpdatedByUserID
                        - lastUpdatedDate
                        - blobName
                        - sharedUrl
                        - thumbnailUrl
                        - uploadUrl
                        - urlExpiresAt
                        - entityType
                        - entityPrimaryKey
                        properties:
                          fileName:
                            type: string
                            description: Name of the file
                            example: structural_drawings.pdf
                          fileDate:
                            type: string
                            format: date-time
                            description: Date when the file was created/uploaded
                          uploadedByUserID:
                            type: string
                            maxLength: 100
                            description: ID of the user who uploaded the file
                            example: user-uploader-616263
                          isEnabled:
                            type: boolean
                            description: Whether the file is enabled or not
                            example: true
                          containerName:
                            type: string
                            description: Name of the container where the file is stored
                            example: permit-documents
                          lastUpdatedByUserID:
                            type: string
                            description: ID of the user who last updated the file
                            example: user-updater-646566
                          lastUpdatedDate:
                            type: string
                            format: date-time
                            description: Date when the file was last updated
                          blobName:
                            type: string
                            description: Name of the blob in storage
                            example: 20241201_structural_drawings_616263.pdf
                          sharedUrl:
                            type: string
                            description: URL for sharing the file
                            nullable: true
                            example: https://storage.example.com/shared/structural_drawings_xyz789
                          thumbnailUrl:
                            type: string
                            description: URL for the file's thumbnail
                            nullable: true
                            example: https://storage.example.com/thumbnails/structural_drawings_thumb.jpg
                          uploadUrl:
                            type: string
                            description: Pre-signed URL for uploading the file (valid for 1 hour). Will be null when retrieving files in a list.
                            nullable: true
                            example: https://storage.example.com/upload/structural_drawings?token=abc123xyz
                          urlExpiresAt:
                            type: string
                            format: date-time
                            description: Expiration timestamp for the pre-signed URL. Will be null when retrieving files in a list.
                            nullable: true
                          entityType:
                            type: string
                            enum:
                            - resource
                            description: Type identifier for the associated entity
                            example: resource
                          entityPrimaryKey:
                            type: string
                            description: Primary key of the associated entity
                            nullable: true
                            example: resource-key-676869
                required:
                - data
        '400':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400'
        '401':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/401'
        '403':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/403'
        '406':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/406'
        '409':
          description: '**Conflict**: The request could not be completed due to a conflict with the current state of the resource.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
        '415':
          description: '**Unsupported Media Type**

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                unsupported_media_type:
                  summary: Unsupported Content-Type header
                  value:
                    errors:
                    - id: error-415-001
                      code: UNSUPPORTED_MEDIA_TYPE
                      detail: The request Content-Type is not supported. Expected application/vnd.api+json
                      source:
                        header: Content-Type
                      status: '415'
                      title: Unsupported Media Type
        '500':
          $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/500'
    get:
      summary: List files
      description: 'Returns a paginated list of files. Note that download URLs are not included in list responses.

        To get a download URL for a specific file, use the single file endpoint.


        ### Permissions Required

        `File Read`'
      operationId: listFiles
      x-og-claims-required:
      - PLC_FILE_READ
      tags:
      - Files
      parameters:
      - name: page[number]
        in: query
        description: Which page to return (1-based)
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        example: 1
      - name: page[size]
        in: query
        description: Number of records to return per page
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        example: 20
      - name: filter[fileName]
        in: query
        description: Filter by the name of a file
        required: false
        schema:
          type: string
      - name: filter[fileDate]
        in: query
        description: Filter by file creation/upload date
        required: false
        style: deepObject
        explode: true
        schema:
          oneOf:
          - type: string
          - type: object
            properties:
              lt:
                type: string
                description: Less than the specified date
              lte:
                type: string
                description: Less than or equal to the specified date
              gt:
                type: string
                description: Greater than the specified date
              gte:
                type: string
                description: Greater than or equal to the specified date
      - name: filter[isEnabled]
        in: query
        description: Filter by file enabled status
        required: false
        schema:
          type: boolean
      - name: filter[uploadedByUserID]
        in: query
        description: Filter by the ID of the user who uploaded the file
        required: false
        schema:
          type: string
      - name: filter[entityType]
        in: query
        description: Filter by the type of the entity the file is associated with
        required: false
        schema:
          type: string
          enum:
          - user
          - location
          - form_field
          - form_section
          - attachment
          - record_step
          - fee_item
          - step_assignment
          - record
          - multi_entry_item
          - flag
          - template_step
          - step_fee_item
          - record_attachment
          - checklist_item_result
          - inspection_event
          - doc
          - record_snapshot
          - multi_entry_item_entry
          - form_field_entry
          - record_type
          - step_inspection_type_result
          - segment
          - resource
          description: Type identifier for the associated entity
      responses:
        '200':
          description: Returns list of files
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Number of requests allowed
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of remaining requests
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      x-tags:
                      - Files
                      title: File
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                          description: Unique internal ID of the file
                          example: file-123456789
                        type:
                          type: string
                          enum:
                          - file
                          example: file
                        attributes:
                          type: object
                          required:
                          - fileName
                          - fileDate
                          - uploadedByUserID
                          - isEnabled
                          - containerName
                          - lastUpdatedByUserID
                          - lastUpdatedDate
                          - blobName
                          - sharedUrl
                          - thumbnailUrl
                          - downloadUrl
                          - urlExpiresAt
                          - entityType
                          - entityPrimaryKey
                          properties:
                            fileName:
                              type: string
                              description: Name of the file
                              example: permit_application.pdf
                            fileDate:
                              type: string
                              format: date-time
                              description: Date when the file was created/uploaded
                            uploadedByUserID:
                              type: string
                              maxLength: 100
                              description: ID of the user who uploaded the file
                              example: user-789012
                            isEnabled:
                              type: boolean
                              description: Whether the file is enabled or not
                              example: true
                            containerName:
                              type: string
                              description: Name of the container where the file is stored
                              example: documents-container
                            lastUpdatedByUserID:
                              type: string
                              description: ID of the user who last updated the file
                              example: user-345678
                            lastUpdatedDate:
                              type: string
                              format: date-time
                              description: Date when the file was last updated
                            blobName:
                              type: string
                              description: Name of the blob in storage
                              example: 20241201_permit_application_123456.pdf
                            sharedUrl:
                              type: string
                              description: URL for sharing the file
                              nullable: true
                              example: https://storage.example.com/files/shared/abc123
                            thumbnailUrl:
                              type: string
                              description: URL for the file's thumbnail
                              nullable: true
                              example: https://storage.example.com/thumbnails/abc123_thumb.jpg
                            downloadUrl:
                              type: string
                              description: Pre-signed URL for downloading the file (valid for 1 hour). Will be null when retrieving files in a list.
                              nullable: true
                              example: https://storage.example.com/download/abc123?token=xyz789
                            urlExpiresAt:
                              type: string
                              format: date-time
                              description: Expiration timestamp for the pre-signed URL. Will be null when retrieving files in a list.
                              nullable: true
                            entityType:
                              type: string
                              enum:
                              - user
                              - location
                              - form_field
                              - form_section
                              - attachment
                              - record_step
                              - fee_item
                              - step_assignment
                              - record
                              - multi_entry_item
                              - flag
                              - template_step
                              - step_fee_item
                              - record_attachment
                              - checklist_item_result
                              - inspection_event
                              - doc
                              - record_snapshot
                              - multi_entry_item_entry
                              - form_field_entry
                              - record_type
                              - step_inspection_type_result
                              - segment
                              - resource
                              description: Type identifier for the associated entity
                              example: record_attachment
                            entityPrimaryKey:
                              type: string
                              description: Primary key of the associated entity
                              nullable: true
                              example: rec-456789
                  links:
                    type: object
                    description: Links to related resources in a collection
                    properties:
                      self:
                        $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links/properties/self'
                      first:
                        $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links/properties/first'
                      prev:
                        $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links/properties/prev'
                      next:
                        $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links/properties/next'
                      last:
                        $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/200/content/application~1vnd.api+json/schema/properties/links/properties/last'
                    additionalProperties:
                      type: string
                      format: uri-reference
                      description: URL of the related resource
                  meta:
                    type: object
                    required:
                    - page
                    - size
                    - totalPages
                    - totalRecords
                    properties:
                      page:
                        type: integer
                        description: The current page number
                        example: 2
                      size:
                        type: integer
                        description: Number of records per page
                        example: 20
                      totalPages:
                        type: integer
                        description: Total number of pages available
                        example: 10
                      totalRecords:
                        type: integer
                        description: Total count of records across all pages
                        example: 200
                required:
                - data
                - links
                - meta
        '400':
          description: '**Bad Request**: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
        '401':
          description: '**Unauthorized**: The request has not been applied because it lacks valid authentication credentials for the target resource.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                unauthorized:
                  summary: Missing or invalid authentication
                  value:
                    errors:
                    - id: error-401-001
                      code: UNAUTHORIZED
                      detail: Authentication credentials are missing or invalid
                      status: '401'
                      title: Unauthorized
        '403':
          description: '**Forbidden**: The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    errors:
                    - id: error-403-001
                      code: FORBIDDEN
                      detail: You do not have sufficient permissions to access this resource
                      status: '403'
                      title: Forbidden
        '406':
          description: '**Not Acceptable**: The server cannot produce a response matching the list of acceptable values defined in the request''s proactive content negotiation headers.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
              examples:
                not_acceptable:
                  summary: Content type not acceptable
                  value:
                    errors:
                    - id: error-406-001
                      code: NOT_ACCEPTABLE
                      detail: The requested content type is not supported. Please use application/vnd.api+json
                      source:
                        header: Accept
                      status: '406'
                      title: Not Acceptable
        '500':
          description: '**Internal Server Error**: The server encountered an unexpected condition which prevented it from fulfilling the request.

            '
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/paths/~1v2~1{community}~1approval-steps/get/responses/400/content/application~1vnd.api+json/schema'
  /v2/{community}/files/{fileID}:
    parameters:
    - $ref: '#/paths/~1v2~1{community}~1approval-steps/parameters/0'
    - name: fileID
      in: path
      description: ID of a file
      required: true
      schema:
        type: string
    get:
      summary: Get file
      description: 'Returns file information including a pre-signed Azure Blob Storage URL for downloading.


        The pre-signed URL:

        - Is valid for 1 hour

        - Can be shared with multiple clients

        - Should be used with a GET request to download the file

        - Will include the original Content-Type of the file


        ### Permissions Required

        `File Read`'
      operationId: getFile
      x-og-claims-required:
      - PLC_FILE_READ
      tags:
      - Files
      responses:
        '200':
          description: Returns file information and a pre-signed URL
          headers:
            X-RateLimit-Limit:
[...]
