openapi: 3.1.0
info:
  version: "v2"
  title: "Permitting & Licensing API"
  contact:
    name: "OpenGov Permitting & Licensing API"
    url: "https://opengov.com"
    email: "developers@opengov.com"
  description: |
    The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. 

    The API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.

  # TODO: Check what should be here
  license:
    name: "OpenGov Permitting & Licensing API"
    url: "https://opengov.com"

x-og-spec-id: plc-api-v2

x-og-claims:
  PLC_RECORD_READ: Record Read
  PLC_RECORD_WRITE: Record Write
  PLC_RECORD_ARCHIVE: Record Archive
  PLC_RECORD_STEP_READ: Workflow Read
  PLC_RECORD_STEP_CREATE: Workflow Write
  PLC_RECORD_STEP_UPDATE: Workflow Write
  PLC_RECORD_STEP_COMMENT_READ: Comment Read
  PLC_RECORD_STEP_COMMENT_WRITE: Comment Write
  PLC_USER_READ: User Read
  PLC_USER_WRITE: User Write
  PLC_RECORD_TYPE_READ: Record Type Read
  PLC_SYSTEM_CONFIG_READ: System Config Read
  PLC_LOCATION_READ: Location Read
  PLC_LOCATION_WRITE: Location Write
  PLC_PAYMENT_READ: Payment Read
  PLC_PAYMENT_WRITE: Payment Write
  PLC_FILE_READ: File Read
  PLC_FILE_WRITE: File Write
  PLC_ACTIVITY_LOG_READ: Activity Log Read

servers:
  - url: "https://api.plce.opengov.com/plce"
    description: Production
    x-og-envs: [production, staging, development, local]
  - url: "https://api.plce.ogstaging.us/plce"
    description: Staging
    x-og-envs: [staging, development, local]
  - url: "http://localhost:8081/plce"
    x-og-envs: [local]
    description: Local

tags:
  - name: Record
    description: "A Record represents a single permit or license application, code enforcement case, or business process in OpenGov Permitting & Licensing. Records are created in the Employee Portal and/or Citizen Portal and serve as the central container for all related information. This includes form data, workflows, inspections, fees, approvals, public contacts (such as applicants and guests), and associated locations."

  - name: Approval Steps
    description: "Approval Steps are one step type that can be found in a record's workflow."

  - name: Checklist Results
    description: "Inspection Results include Checklist Results for any checklist item that was inspected."

  - name: Checklist Templates
    description: "A Checklist Template is a single item in an Inspection Type Template's checklist."

  - name: Departments
    description: "A Department is a group of Record Types."

  - name: Document Steps
    description: "Document Steps are one step type that can be found in a record's workflow."

  - name: Fees
    description: "A Payment Step can have one or more Fees."

  - name: Files
    description: |
      Files in OpenGov Permitting & Licensing are managed in a two-step process:

      1. **File Upload**
         - First, create a file entry to receive a pre-signed Azure Blob Storage URL
         - Use this URL to upload your file directly to Azure Blob Storage
         - The file is now stored but not yet associated with any entity

      2. **File Association**
         - Associate the uploaded file with an entity (currently only Record Attachments)
         - The file is cloned when associated, allowing the same file to be reused across different entities
         - Each association creates a new file object with its own lifecycle

      This design allows for efficient file reuse while maintaining independent file management for each entity.

  - name: Inspection Events
    description: "An Inspection Event is a single inspection appointment, during which one or more Inspection Results are typically created."

  - name: Inspection Results
    description: "An Inspection Result is created for each Inspection Type inspected during an Inspection Event."

  - name: Inspection Steps
    description: "Inspection Steps are one step type that can be found in a record's workflow."

  - name: Inspection Type Templates
    description: "Inspection Type Templates can be added to Inspection Workflow Step Templates."

  - name: Inspection Types
    description: "An Inspection Record Workflow Step has one or more Inspection Types."

  - name: Ledger Entries
    description: "A Leger Entry is created for each Fee paid or refunded in a Transaction."

  - name: Location Flags
    description: "Location Flags can be added to individual Locations to tag them with certain characteristics."

  - name: Locations
    description: "A Location can be added as the Primary Location or an Additional Location of a Record. A Location can be a Point, Segment, or Parcel."

  - name: Organization
    description: "The Organization represents the entity as a whole."

  - name: Payment Steps
    description: "Payment Steps are one step type that can be found in a record's workflow."

  - name: Projects
    description: "Project APIs allow you to work with projects that group related records"

  - name: Record Additional Locations
    description: |
      A Record can be associated with up to 99 Additional Locations.

      Record Locations reference Locations.

  - name: Record Applicant
    description: |+
      The Applicant is the public user who submitted a Record and/or the primary public contact for the Record. 

  - name: Record Attachments
    description: |+
      A Record can have attachments which either reference a Record Type Attachment or are ad-hoc. Each attachment can have one or more versions.

  - name: Record Change Requests
    description: "A Record Change Request represents a request from an employee to the applicant for changes to the form or attachments."

  - name: Record Forms
    description: |+
      A Record's Form is based on its Record Type.

      A Form is comprised of Fields which are contained within Sections. Each Field is of a specific data Type, and has a Label and a Value.

  - name: Record Guests
    description: |+
      Record Guests are additional users who need visibility into the permit/license process. This could include
      contractors, architects, property owners, or other stakeholders who need to track the application's progress,
      receive updates, or help manage the application. For example, a homeowner (Applicant) might add their
      contractor (Guest) to a building permit to help upload revised plans or respond to inspector comments.

      A record can have up to 10 Guests. The Applicant or any employee user can add Guests to a Record.

  - name: Record Primary Location
    description: |
      A Record can be associated with one Primary Location.

      Record Locations reference Locations.

  - name: Record Type Attachments
    description: "Record Type Attachments are templates that define the required and optional Attachments for a Record of a particular Record Type."

  - name: Record Type Document Templates
    description: "Record Type Document Templates provide the format and content of a particular document that should be issued in a Document Step."

  - name: Record Type Fees
    description: "Record Type Fees define the calculation structure for individual fees charged on Payment Steps."

  - name: Record Type Form
    description: "The Record Type Form is the form template for records of that Record Type."

  - name: Record Type Workflow
    description: "The Record Type Workflow is the workflow template for records of that Record Type."

  - name: Record Types
    description: "A Record Type defines the configuration for individual Records of that Record Type."

  - name: Record Workflow Step Comments
    description: "Step Comments APIs allow you to retrieve,
      add or remove comments on workflow steps of a record."

  - name: Record Workflow Steps
    description: |
      A Record's Workflow is represented as a collection of **Steps**. Steps are automatically created on a Record at the time it is submitted, based on the Record Type Workflow defined for that Record's Type.

      Steps are instantiated on Records and can be added or deleted on individual Records, so a given Record's Steps may not always match its Workflow Template.

  - name: Transactions
    description: "A Transaction represents an individual payment or refund transaction on a Record."

  - name: User Flags
    description: "User Flags can be added to individual Users to tag them with certain characteristics."

  - name: Users
    description: "Users can be attached to Records as the Applicant or as a Guest."

  - name: Activity Logs
    description: "Activity Log APIs allow you to retrieve historical changes and actions performed on entities in the system. Activity logs track create, update, soft delete, and hard delete operations. Employee access required."

x-tagGroups:
  - name: Records
    tags:
      - Record
      - Record Applicant
      - Record Guests
      - Record Primary Location
      - Record Additional Locations
      - Record Forms
      - Record Change Requests
      - Record Attachments
      - Record Workflow Steps
      - Record Workflow Step Comments
  - name: Locations
    tags:
      - Locations
      - Location Flags
  - name: Users
    tags:
      - Users
      - User Flags
  - name: Approvals
    tags:
      - Approval Steps
  - name: Documents
    tags:
      - Document Steps
      - Issued Documents
  - name: Inspections
    tags:
      - Inspection Steps
      - Inspection Types
      - Inspection Events
      - Inspection Results
      - Checklist Results
  - name: Payments
    tags:
      - Payment Steps
      - Fees
      - Transactions
      - Ledger Entries
  - name: Projects
    tags:
      - Projects
  - name: Files
    tags:
      - Files
  - name: Configuration
    tags:
      - Organization
      - Departments
      - Record Types
      - Record Type Form
      - Record Type Attachments
      - Record Type Document Templates
      - Record Type Fees
      - Record Type Workflow
      - Inspection Type Templates
      - Checklist Templates
  - name: Activity Logs
    tags:
      - Activity Logs

paths:
  "/v2/{community}/approval-steps":
    $ref: components/pathItems/approvalTaskCollection.yaml

  "/v2/{community}/approval-steps/{approvalStepID}":
    $ref: components/pathItems/approvalTask.yaml

  "/v2/{community}/departments":
    $ref: components/pathItems/departmentCollection.yaml

  "/v2/{community}/departments/{departmentID}":
    $ref: components/pathItems/department.yaml

  "/v2/{community}/document-steps":
    $ref: components/pathItems/documentGenerationTaskCollection.yaml

  "/v2/{community}/document-steps/{documentStepID}":
    $ref: components/pathItems/documentGenerationTask.yaml

  "/v2/{community}/document-steps/{documentStepID}/documents":
    $ref: components/pathItems/documentCollection.yaml

  "/v2/{community}/document-steps/{documentStepID}/documents/{documentID}":
    $ref: components/pathItems/document.yaml

  "/v2/{community}/files":
    $ref: components/pathItems/fileCollection.yaml

  "/v2/{community}/files/{fileID}":
    $ref: components/pathItems/file.yaml

  "/v2/{community}/inspection-events/{inspectionEventID}":
    $ref: components/pathItems/inspectionEvent.yaml

  "/v2/{community}/inspection-events":
    $ref: components/pathItems/inspectionEventCollection.yaml

  "/v2/{community}/inspection-results":
    $ref: components/pathItems/inspectionResultCollection.yaml

  "/v2/{community}/inspection-results/{inspectionResultID}":
    $ref: components/pathItems/inspectionResult.yaml

  "/v2/{community}/inspection-results/{inspectionResultID}/checklist-results":
    $ref: components/pathItems/checklistResultCollection.yaml

  "/v2/{community}/inspection-results/{inspectionResultID}/checklist-results/{checklistResultID}":
    $ref: components/pathItems/checklistResult.yaml

  "/v2/{community}/inspection-steps":
    $ref: components/pathItems/inspectionTaskCollection.yaml

  "/v2/{community}/inspection-steps/{inspectionStepID}":
    $ref: components/pathItems/inspectionTask.yaml

  "/v2/{community}/inspection-steps/{inspectionStepID}/inspection-types":
    $ref: components/pathItems/inspectionTypeCollection.yaml

  "/v2/{community}/inspection-type-templates":
    $ref: components/pathItems/inspectionTypeTemplateCollection.yaml

  "/v2/{community}/inspection-type-templates/{inspectionTypeTemplateID}":
    $ref: components/pathItems/inspectionTypeTemplate.yaml

  "/v2/{community}/inspection-type-templates/{inspectionTypeTemplateID}/checklist-templates":
    $ref: components/pathItems/checklistTemplateCollection.yaml

  "/v2/{community}/inspection-type-templates/{inspectionTypeTemplateID}/checklist-templates/{checklistTemplateID}":
    $ref: components/pathItems/checklistTemplate.yaml

  "/v2/{community}/ledger-entries":
    $ref: components/pathItems/paymentLedgerCollection.yaml

  "/v2/{community}/ledger-entries/{ledgerID}":
    $ref: components/pathItems/ledgerTask.yaml

  "/v2/{community}/locations":
    $ref: components/pathItems/locationCollection.yaml

  "/v2/{community}/locations/{locationID}":
    $ref: components/pathItems/location.yaml

  "/v2/{community}/locations/{locationID}/flags":
    $ref: components/pathItems/locationFlagCollection.yaml

  "/v2/{community}/organization":
    $ref: components/pathItems/organization.yaml

  "/v2/{community}/payment-steps":
    $ref: components/pathItems/paymentTaskCollection.yaml

  "/v2/{community}/payment-steps/{paymentStepID}":
    $ref: components/pathItems/paymentTask.yaml

  "/v2/{community}/payment-steps/{paymentStepID}/fees":
    $ref: components/pathItems/paymentFeeCollection.yaml

  "/v2/{community}/payment-steps/fees/{paymentFeeID}":
    $ref: components/pathItems/paymentFee.yaml

  "/v2/{community}/projects":
    $ref: components/pathItems/projectCollection.yaml

  "/v2/{community}/projects/{projectID}":
    $ref: components/pathItems/project.yaml

  "/v2/{community}/record-types":
    $ref: components/pathItems/recordTypeCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}":
    $ref: components/pathItems/recordType.yaml

  "/v2/{community}/record-types/{recordTypeID}/attachments":
    $ref: components/pathItems/recordTypeAttachmentCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}/document-templates":
    $ref: components/pathItems/recordTypeDocumentCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}/fees":
    $ref: components/pathItems/recordTypeFeeCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}/form":
    $ref: components/pathItems/recordTypeFormCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}/workflow":
    $ref: components/pathItems/recordTypeWorkflowCollection.yaml

  "/v2/{community}/record-types/{recordTypeID}/workflow/{workflowTemplateID}":
    $ref: components/pathItems/recordTypeWorkflow.yaml

  "/v2/{community}/record-types/attachments/{recordTypeAttachmentID}":
    $ref: components/pathItems/recordTypeAttachment.yaml

  "/v2/{community}/record-types/document-templates/{recordTypeDocumentID}":
    $ref: components/pathItems/recordTypeDocument.yaml

  "/v2/{community}/record-types/fees/{recordTypeFeeID}":
    $ref: components/pathItems/recordTypeFee.yaml

  "/v2/{community}/records":
    $ref: components/pathItems/recordCollection.yaml

  "/v2/{community}/records/{recordID}":
    $ref: components/pathItems/record.yaml

  "/v2/{community}/records/{recordID}/additional-locations":
    $ref: components/pathItems/recordAdditionalLocationCollection.yaml

  "/v2/{community}/records/{recordID}/additional-locations/{locationID}":
    $ref: components/pathItems/recordAdditionalLocation.yaml

  "/v2/{community}/records/{recordID}/applicant":
    $ref: components/pathItems/recordApplicantCollection.yaml

  "/v2/{community}/records/{recordID}/attachments":
    $ref: components/pathItems/recordAttachmentCollection.yaml

  "/v2/{community}/records/{recordID}/attachments/{attachmentID}":
    $ref: components/pathItems/recordAttachment.yaml

  "/v2/{community}/records/{recordID}/attachments/{attachmentID}/versions":
    $ref: components/pathItems/recordAttachmentVersionCollection.yaml

  "/v2/{community}/records/{recordID}/attachments/{attachmentID}/versions/{fileID}":
    $ref: components/pathItems/recordAttachmentVersion.yaml

  "/v2/{community}/records/{recordID}/change-requests":
    $ref: components/pathItems/recordChangeRequestCollection.yaml

  "/v2/{community}/records/{recordID}/change-requests/{changeRequestID}":
    $ref: components/pathItems/recordChangeRequest.yaml

  "/v2/{community}/records/{recordID}/form":
    $ref: components/pathItems/recordFormData.yaml

  "/v2/{community}/records/{recordID}/collections":
    $ref: components/pathItems/recordFormCollectionCollection.yaml

  "/v2/{community}/records/{recordID}/collections/{collectionID}":
    $ref: components/pathItems/recordFormCollection.yaml

  "/v2/{community}/records/{recordID}/collections/{collectionID}/entries":
    $ref: components/pathItems/recordFormCollectionEntries.yaml

  "/v2/{community}/records/{recordID}/collections/{collectionID}/entries/{collectionEntryID}":
    $ref: components/pathItems/recordFormCollectionEntry.yaml

  "/v2/{community}/records/{recordID}/guests":
    $ref: components/pathItems/recordGuestCollection.yaml

  "/v2/{community}/records/{recordID}/guests/{userID}":
    $ref: components/pathItems/recordGuest.yaml

  "/v2/{community}/records/{recordID}/primary-location":
    $ref: components/pathItems/recordPrimaryLocationCollection.yaml

  "/v2/{community}/records/{recordID}/renew":
    $ref: components/pathItems/recordRenewal.yaml

  "/v2/{community}/records/{recordID}/workflow-steps":
    $ref: components/pathItems/recordStepCollection.yaml

  "/v2/{community}/records/{recordID}/workflow-steps/{stepID}":
    $ref: components/pathItems/recordStep.yaml

  "/v2/{community}/records/{recordID}/workflow-steps/{stepID}/comments":
    $ref: components/pathItems/recordStepCommentCollection.yaml

  "/v2/{community}/records/{recordID}/workflow-steps/{stepID}/comments/{commentID}":
    $ref: components/pathItems/recordStepComment.yaml

  "/v2/{community}/transactions":
    $ref: components/pathItems/paymentTransactionCollection.yaml

  "/v2/{community}/transactions/{transactionID}":
    $ref: components/pathItems/transactionTask.yaml

  "/v2/{community}/users":
    $ref: components/pathItems/userCollection.yaml

  "/v2/{community}/users/{userID}":
    $ref: components/pathItems/user.yaml

  "/v2/{community}/users/{userID}/flags":
    $ref: components/pathItems/userFlagCollection.yaml

  "/v2/{community}/activity-logs":
    $ref: components/pathItems/activityLogCollection.yaml

  "/v2/{community}/activity-logs/entities/{entityTypeId}/{entityId}":
    $ref: components/pathItems/entityActivityLogCollection.yaml

components:
  schemas:
    # Webhook Event Schemas
    ApplicantUserIdAddedWebhookV2:
      $ref: components/schemas/events/applicantUserID.added.v2.yaml
    ApplicantUserIdRemovedWebhookV2:
      $ref: components/schemas/events/applicantUserID.removed.v2.yaml
    ApplicantUserIdUpdatedWebhookV2:
      $ref: components/schemas/events/applicantUserID.updated.v2.yaml
    CommentCreatedWebhookV2:
      $ref: components/schemas/events/comment.created.v2.yaml
    RecordArchivedWebhookV2:
      $ref: components/schemas/events/record.archived.v2.yaml
    RecordUnarchivedWebhookV2:
      $ref: components/schemas/events/record.unarchived.v2.yaml
    RecordAttachmentCreatedWebhookV2:
      $ref: components/schemas/events/record.attachment.created.v2.yaml
    RecordAttachmentDeletedWebhookV2:
      $ref: components/schemas/events/record.attachment.deleted.v2.yaml
    RecordAttachmentUpdatedWebhookV2:
      $ref: components/schemas/events/record.attachment.updated.v2.yaml
    #RecordGuestAddedWebhookV2:
    #  $ref: components/schemas/events/record.guest.added.v2.yaml
    #RecordGuestRemovedWebhookV2:
    #  $ref: components/schemas/events/record.guest.removed.v2.yaml
    RecordSubmittedWebhookV2:
      $ref: components/schemas/events/record.submitted.v2.yaml
    #RecordUpdatedWebhookV2:
    #  $ref: components/schemas/events/record.updated.v2.yaml
    ChangeRequestCompletedWebhookV2:
     $ref: components/schemas/events/changeRequest.completed.v2.yaml
    ChangeRequestCreatedWebhookV2:
     $ref: components/schemas/events/changeRequest.created.v2.yaml
    ChangeRequestCanceledWebhookV2:
     $ref: components/schemas/events/changeRequest.canceled.v2.yaml
    FileCreatedWebhookV2:
      $ref: components/schemas/events/file.uploaded.v2.yaml
    InspectionCreatedWebhookV2:
      $ref: components/schemas/events/inspection.created.v2.yaml
    InspectionUpdatedWebhookV2:
      $ref: components/schemas/events/inspection.updated.v2.yaml
    #LocationArchivedWebhookV2:
    #  $ref: components/schemas/events/location.archived.v2.yaml
    LocationCreatedWebhookV2:
      $ref: components/schemas/events/location.created.v2.yaml
    LocationUpdatedWebhookV2:
      $ref: components/schemas/events/location.updated.v2.yaml
    PaymentMadeWebhookV2:
      $ref: components/schemas/events/payment.made.v2.yaml
    PaymentUpdatedWebhookV2:
      $ref: components/schemas/events/payment.updated.v2.yaml
    RecordAdditionalLocationsAddedWebhookV2:
      $ref: components/schemas/events/record.additionalLocations.added.v2.yaml
    RecordAdditionalLocationsRemovedWebhookV2:
      $ref: components/schemas/events/record.additionalLocations.removed.v2.yaml
    #RecordFormUpdatedWebhookV2:
    #  $ref: components/schemas/events/record.form.updated.v2.yaml
    RecordPrimaryLocationAddedWebhookV2:
      $ref: components/schemas/events/record.primaryLocation.added.v2.yaml
    RecordPrimaryLocationRemovedWebhookV2:
      $ref: components/schemas/events/record.primaryLocation.removed.v2.yaml
    RecordPrimaryLocationUpdatedWebhookV2:
      $ref: components/schemas/events/record.primaryLocation.updated.v2.yaml
    WorkflowStepAssignedWebhookV2:
     $ref: components/schemas/events/workflowStep.assigned.v2.yaml
    WorkflowStepCommentCreatedWebhookV2:
      $ref: components/schemas/events/workflowStep.comment.created.v2.yaml
    WorkflowStepCreatedWebhookV2:
     $ref: components/schemas/events/workflowStep.created.v2.yaml
    WorkflowStepDeletedWebhookV2:
     $ref: components/schemas/events/workflowStep.deleted.v2.yaml
    WorkflowStepRestoredWebhookV2:
     $ref: components/schemas/events/workflowStep.restored.v2.yaml
    WorkflowStepStatusChangedWebhookV2:
     $ref: components/schemas/events/workflowStep.status.changed.v2.yaml

  securitySchemes:
    basicHttpAuthentication:
      type: http
      scheme: basic
      description: |
        Basic HTTP Authentication
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.
        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.
        Access tokens are obtained by making a POST request to `https://accounts.viewpointcloud.com/oauth/token`
    auth0Prod:
      type: openIdConnect
      openIdConnectUrl: https://accounts.viewpointcloud.com/.well-known/openid-configuration
      description: |
        The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.
        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.
    auth0Dev:
      type: openIdConnect
      openIdConnectUrl: https://login.vpctest.com/.well-known/openid-configuration
      description: |
        The OpenGov Permitting & Licensing API is authenticated using the OAuth2 Client Credentials flow. Access tokens are provided as a bearer token Authorization header in all API requests.
        To obtain an access token, you must have an OpenGov-provided Client ID and Client Secret.

security:
  - bearerAuth: []
  - basicHttpAuthentication: []
  - auth0Prod: []
  - auth0Dev: []
