openapi: 3.1.0
info:
  version: "v1"
  title: Permitting Licensing & Code Enforcement APIs
  x-logo:
    url: "https://viewpointcloud.blob.core.windows.net/profile-pictures/Frame_778_Sun_Nov_12_2023_17:18:36_GMT+0000_(Coordinated_Universal_Time).png"
  description: |+
    The OpenGov Permitting & Licensing API is organized around REST. The API is based on the JSON API specification and uses standard HTTP response codes, authentication, and verbs.

    ## Authentication
    The OpenGov Permitting & Licensing API is authenticated using the [OAuth2](https://www.rfc-editor.org/rfc/rfc6749) Client Credentials flow. Access tokens are provided as a [bearer token](https://datatracker.ietf.org/doc/html/rfc6750) Authorization header in all API requests.

    To obtain an access token, you must have an OpenGov-provided **Client ID** and **Client Secret** and make a POST request to https://accounts.viewpointcloud.com/oauth/token

    Example request:

    ```bash
    curl --request POST \
      --url https://accounts.viewpointcloud.com/oauth/token \
      --header 'content-type: application/x-www-form-urlencoded' \
      --data 'grant_type=client_credentials' \
      --data 'client_id=YOUR_CLIENT_ID' \
      --data 'client_secret=YOUR_CLIENT_SECRET' \
      --data 'audience=viewpointcloud.com/api/production'
    ```

    The response will include:
    - `access_token`: Access token issued by the authorization server
    - `token_type`: Type of token issued (typically `Bearer`)
    - `expires_in`: The lifetime in seconds of the access token
    <br />
    <br />
    The API will return a 401 error if a token is invalid.
    <br />
    <br />
servers:
  - url: https://api.plce.opengov.com/plce
    description: Production
tags:
  - name: Records
    description: |2+
      **Records** are created in the OpenGov Permitting & Licensing Employee Portal and/or Citizen Portal.
      
      A **Record** can have a **Form**, a **Workflow**, one or more public **Contacts** (the applicant and any guests), and one or more **Locations**.

  - name: Record Form
    description: |2+
      A Record's **Form** is based on its **Record Type**.
      
      A Form is comprised of **Fields** which are contained within **Sections**. Each Field is of a specific data Type, and has a **Label** and a **Value**.
  - name: Record Contacts
    description: |2+
      A Record can have one **Applicant** and up to 99 **Guests**.
      
      The Applicant is the public user who submitted a Record. The Applicant or any employee user can add Guests to a Record.

  - name: Record Locations
    description: |2+
      A Record can be associated with one **Primary Location** and up to 99 **Additional Locations**.
      
      Record Locations reference **Locations**.
  - name: Steps
    description: |2+
      A Record's Workflow is represented as a collection of **Steps**. Steps are automatically created on a Record at the time it is submitted, based on the Workflow Template defined in the Record Type settings of that Record's Type.
      
      Steps are instantiated on Records and can be added or deleted on individual Records, so a given Record's Steps may not always match its Workflow Template.

  - name: Step Comments
    description: |2+
      A Record Step can have **Comments**, which are visible to public Record Contacts, and **Internal Notes**, which are visible to employees only.

      Comments send Notifications to any employee assigned to a step.
  - name: Event Types
    description: This is a list of all the types of events we currently send. We may add more at any time, so in developing and maintaining your code, you should not assume that only these types exist.
x-tagGroups:
  - name: Records
    tags:
      - Records
      - Record Contacts
      - Record Locations
      - Record Form
  - name: Workflow
    tags:
      - Steps
      - Step Comments
  - name: Events
    tags:
      - Event Types
webhooks:
  step_status_changed:
    post:
      summary: Step status changed
      description: Occurs when the status of a step in a record's workflow changes
      operationId: step_status_changed
      tags:
        - Event Types
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/event_common_props"
                - $ref: "#/components/schemas/step_status_changed"
      responses:
        "200":
          description: >-
            Return 200 status for successfully acknowledging the webhook
            delivery
paths:
  /v1/{community}/records/{recordID}:
    get:
      summary: Retrieve a record
      operationId: getRecord
      tags:
        - Records
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
      responses:
        "200":
          description: Returns the record object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Record"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/details:
    get:
      summary: List record form fields
      operationId: getRecordDetails
      tags:
        - Record Form
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
      responses:
        "200":
          description: Returns form fields and sections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RecordDetails"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/locations:
    get:
      summary: List record locations
      operationId: listRecordLocations
      tags:
        - Record Locations
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - name: primary
          in: query
          description: Primary location
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Returns record locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecordLocation"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/contacts:
    get:
      summary: List record contacts
      operationId: listRecordContacts
      tags:
        - Record Contacts
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
      responses:
        "200":
          description: Returns record contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecordContact"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/workflow-steps:
    get:
      summary: List record steps
      operationId: listRecordSteps
      tags:
        - Steps
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
      responses:
        "200":
          description: Returns record steps
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecordStep"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}:
    get:
      summary: Retrieve a record step
      operationId: getStepDetails
      tags:
        - Steps
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - $ref: "#/components/parameters/stepID"
      responses:
        "200":
          description: Returns the record step object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RecordStep"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}/state:
    put:
      summary: Update a record step
      operationId: setStepState
      tags:
        - Steps
      description: Update the status of a workflow step
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - $ref: "#/components/parameters/stepID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: "#/components/schemas/RecordStepState"
      responses:
        "200":
          description: Step Updated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecordStep"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}/comments:
    get:
      summary: List step comments
      operationId: listRecordStepComments
      tags:
        - Step Comments
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - $ref: "#/components/parameters/stepID"
      responses:
        "200":
          description: Returns step comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecordStepComment"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
    post:
      summary: Post a step comment
      operationId: postStepComment
      tags:
        - Step Comments
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - $ref: "#/components/parameters/stepID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: "#/components/schemas/RecordStepCommentMutable"
        required: true
      responses:
        "200":
          description: Returns the step comment object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RecordStepComment"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
  /v1/{community}/records/{recordID}/workflow-steps/{stepID}/comments/{commentID}:
    delete:
      summary: Delete a step comment
      operationId: removeStepComment
      tags:
        - Step Comments
      parameters:
        - $ref: "#/components/parameters/community"
        - $ref: "#/components/parameters/recordID"
        - $ref: "#/components/parameters/stepID"
        - $ref: "#/components/parameters/commentID"
      responses:
        "200":
          description: Comment Deleted
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal Server Error
components:
  schemas:
    Error:
      type: object
      example:
        id: 22cev627-7b57-4938-929c-1afe133d4903
        code: forbidden
        detail: You do not have sufficient access rights to perform this operation
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: >-
                  Unique identifier for this particular occurrence of the
                  problem
              code:
                type: string
                description: Error code
              detail:
                type: string
                description: Short explanation for the specific occurrence of the problem
    relationship:
      type: object
      properties:
        links:
          type: object
          properties:
            related:
              type: string
              description: Link to the related resource
    Record:
      x-tags:
        - Records
      type: object
      title: The record object
      example:
        type: record
        id: "31598"
        attributes:
          number: B-22-15
          histID: null
          histNumber: null
          description: null
          typeID: 53
          typeDescription: Building Permit
          projectID: null
          projectDescription: null
          status: ACTIVE
          createdAt: 2022-07-08T16:29:54.616Z
          updatedAt: 2023-11-11T18:29:40.000Z
          submittedAt: 2022-07-08T16:30:00.000Z
          expiresAt: 2024-11-12T19:32:35.450Z
        relationships:
          recordContacts:
            links:
              related: /plce/v1/community/records/31598/contacts
          recordLocations:
            links:
              related: /plce/v1/community/records/31598/locations
          workflowSteps:
            links:
              related: /plce/v1/community/records/31598/workflow-steps
          recordDetails:
            links:
              related: /plce/v1/community/records/31598/details
      properties:
        type:
          type: string
          enum:
            - record
        id:
          description: Unique internal ID of a record
        attributes:
          type: object
          properties:
            number:
              type: string
              description: External ID of a record
            histID:
              type: string
              description: Unique internal ID of the corresponding historical record
            histNumber:
              type: string
              description: External ID of the corresponding historical record
            description:
              type: string
              description: Description of the record.
            typeID:
              type: string
              description: Unique ID of the record's type.
            typeDescription:
              type: string
              description: Description of the record's type.
            projectID:
              type: string
              description: Unique internal ID of the project this record belongs to.
            projectDescription:
              type: string
              description: Description of the project this record belong to.
            status:
              type: string
              description: Status of the record
              enum:
                - STOPPED
                - DRAFT
                - ACTIVE
                - COMPLETE
            createdAt:
              type: string
              description: Date and time (UTC) when the record is created.
              format: date-time
            updatedAt:
              type: string
              description: Date and time (UTC) when the record is last updated.
              format: date-time
            submittedAt:
              type: string
              description: Date and time (UTC) when the record is submitted
              format: date-time
            expiresAt:
              type: string
              description: Date and time (UTC) when the record expires
              format: date-time
        relationships:
          type: object
          properties:
            recordDetails:
              description: Details of the record
              $ref: "#/components/schemas/relationship"
            recordContacts:
              description: Contacts of the record
              $ref: "#/components/schemas/relationship"
            recordLocations:
              description: Locations of the record
              $ref: "#/components/schemas/relationship"
            workflowSteps:
              description: Steps of the record's workflow
              $ref: "#/components/schemas/relationship"
    RecordDetails:
      x-tags:
        - Record Form
      type: object
      title: The record form object
      example:
        type: record_details
        id: "31598"
        attributes:
          id: "31598"
          sections:
            - id: 6179
              label: Construction Details
              helpText: >
                Provide the following information for your project.  When writing the description below, please remember: 

                1. Include dimensions of structure.
                2. List number of bedrooms and bathrooms if structure is a new home or addition.
                3. If applicable, include building plans/specs, plot or site plans as attachments.
              isRequired: false
              internal: true
              ordinal: 0
          fields:
            - id: 11995
              label: Total Sq. Footage Involved in Project
              type: NUMBER_FIELD
              required: false
              internal: true
              ordinal: 0
              sectionID: 6179
              groupID: "6179S"
              value: "1000"
      properties:
        type:
          type: string
          enum:
            - record_details
        id:
          type: integer
          description: The Record ID
        attributes:
          type: object
          properties:
            id:
              type: integer
              description: The Record ID
            fields:
              type: array
              description: Form fields of a specific record
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: The Form Field ID
                  label:
                    type: string
                    description: The Form Field label
                  type:
                    type: string
                    enum:
                      - CHECKBOX
                      - DATE
                      - DROP_DOWN
                      - E_SIGNATURE
                      - EIN
                      - FILE_UPLOAD
                      - NUMBER
                      - SHORT_TEXT
                      - LONG_TEXT
                      - HELP_TEXT
                      - SSN
                    description: Indicates the type of field
                  required:
                    type: boolean
                    description: Indicates if a field is required
                  internal:
                    type: boolean
                    description: >-
                      When true, indicates that the field is visible only to
                      employees
                  ordinal:
                    type: integer
                    description: Position of a field within a section or field group
                  sectionID:
                    type: integer
                    description: >-
                      The Form Section ID of the field
                  groupID:
                    type: integer
                    description: The Group ID of the field
                  value:
                    type: string
                    description: Value of the field (represented as a string)
            sections:
              type: array
              description: Sections within a form
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: The Form Section ID
                  label:
                    type: string
                    description: The Form Section label
                  internal:
                    type: boolean
                    description: >-
                      When true, indicates that the section is visible only to
                      employees
                  ordinal:
                    type: integer
                    description: Position of a section within the form
    PropertyOwner:
      type: object
      description: >
        Detailed information about the property owner for locations of type
        `PARCEL`
      example:
        name: Proper Properties LLC
        streetNumber: 1200
        streetName: N Main St.
        unit: null
        city: Front Market
        state: VA
        postalCode: 22035
        country: USA
        phoneNo: 635-509-1357
        email: properties@properllc.com
      properties:
        name:
          type: string
          description: Name of the location
        streetNumber:
          type: string
          description: Street Number
        streetName:
          type: string
          description: Street name
        unit:
          type: string
          description: Unit number
        city:
          type: string
          description: City
        state:
          type: string
          description: State
        postalCode:
          type: string
          description: Postal Code
        country:
          type: string
          description: Country
        phoneNo:
          type: string
          description: Phone Number
        email:
          type: string
          description: Email
    RecordLocation:
      x-tags:
        - Record Locations
      type: object
      title: The record location object
      example:
        type: record_location
        id: "61191"
        attributes:
          locationID: "61191"
          name: null
          locationType: PARCEL
          primary: true
          latitude: 79.231204
          longitude: -120.523523
          streetNo: 701
          streetName: Pleasant Ave.
          unit: null
          city: Front Market
          state: VA
          postalCode: 22035
          country: USA
          owner:
            name: Proper Properties LLC
            streetNumber: 1200
            streetName: N Main St.
            unit: null
            city: Front Market
            state: VA
            postalCode: 22035
            country: USA
            phoneNo: 635-509-1357
            email: properties@properllc.com
          secondaryLatitude: null
          secondaryLongitude: null
          segmentPrimaryLabel: null
          segmentSecondaryLabel: null
          segmentLabel: null
          segmentLength: null
      properties:
        type:
          type: string
          enum:
            - record_location
        id:
          type: integer
          description: The Location ID
        attributes:
          type: object
          properties:
            locationID:
              type: integer
              description: The Location ID
            name:
              type: string
              description: User defined name of the location
            latitude:
              type: number
              format: double
              description: Latitude of the location
            longitude:
              type: number
              format: double
              description: Longitude of the location
            locationType:
              type: string
              enum:
                - PARCEL
                - POINT
                - SEGMENT
              description: Type of location Parcel, Point, segment etc.
            primary:
              type: boolean
              description: true for a location that is designated as primary
            owner:
              $ref: "#/components/schemas/PropertyOwner"
            streetNo:
              type: string
              description: Street number of a parcel location
            streetName:
              type: string
              description: Street name of a parcel location
            unit:
              type: string
              description: Unit identifier of a parcel location
            city:
              type: string
              description: City of a parcel location
            state:
              type: string
              description: State of a parcel location
            postalCode:
              type: string
              description: Postal code of a parcel location
            country:
              type: string
              description: Country of a parcel location
            secondaryLatitude:
              type: number
              format: double
              description: Secondary latitude of a segment location
            secondaryLongitude:
              type: number
              format: double
              description: Secondary longitude of a segment location
            segmentPrimaryLabel:
              type: string
              description: Primary label of a segment location
            segmentSecondaryLabel:
              type: string
              description: Secondary label of a segment location
            segmentLabel:
              type: string
              description: Label of a segment location
            segmentLength:
              type: number
              format: double
              description: Length of a segment location
    RecordContact:
      x-tags:
        - Record Contacts
      type: object
      title: The record contact object
      example:
        type: record_contact
        id: "31598"
        attributes:
          function: APPLICANT
          userID: auth0|56x7x955xxx3x5454x1xxx65
          firstName: Jane
          lastName: Smith
          email: jsmith@gmail.com
      properties:
        type:
          type: string
          enum:
            - record_contact
        id:
          type: string
          description: The Record ID
        attributes:
          type: object
          properties:
            function:
              type: string
              description: Describes the function of a contact in a record
              enum:
                - APPLICANT
                - GUEST
            userID:
              type: string
              description: User ID of the contact
            firstName:
              type: string
              description: First name of the contact
            lastName:
              type: string
              description: Last name of the contact
            email:
              type: string
              description: Email of the contact
    step_status:
      type: string
      enum:
        - REJECTED
        - INACTIVE
        - ACTIVE
        - COMPLETE
        - SKIPPED
        - ON_HOLD
      description: Status of the workflow step
    RecordStep:
      x-tags:
        - Steps
      type: object
      title: The record step object
      example:
        type: record_step
        id: "59577"
        attributes:
          id: 59577
          label: Intake Review
          type: APPROVAL
          templateID: 962
          ordinal: 0
          sequence: "true"
          status: COMPLETED
          assigneeID: auth0|56x389536x623x407x134487
          activatedAt: "2022-07-08T16:30:12.120Z"
          dueBy: null
        relationships:
          comments:
            links:
              related: /plce/v1/community/records/31598/workflow-steps/59577/comments
      properties:
        type:
          type: string
          enum:
            - record_step
        id:
          type: integer
        attributes:
          type: object
          properties:
            id:
              type: integer
              description: Identifier for a step in record's workflow
            label:
              type: string
              description: Short text that describes the workflow step
            type:
              type: string
              enum:
                - APPROVAL
                - PAYMENT
                - INSPECTION
                - DOCUMENT
                - API_INTEGRATION
              description: >-
                A value that indicates the kind of process that this step
                represents
            templateID:
              type: integer
              description: Identifier for the template of this workflow stemp
            ordinal:
              type: integer
              description: Order in which the steps are activated in the workflow
            sequence:
              type: integer
              description: ""
            status:
              $ref: "#/components/schemas/step_status"
            assigneeID:
              type: integer
            activatedAt:
              type: string
              format: date-time
            dueBy:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            comments:
              $ref: "#/components/schemas/relationship"
    RecordStepState:
      type: object
      properties:
        id:
          type: string
          description: ID of the resource
        type:
          type: string
          description: Type of the resource
          enum:
            - record_step_state
        attributes:
          type: object
          properties:
            state:
              type: string
              enum:
                - REJECTED
                - INACTIVATED
                - ACTIVATED
                - COMPLETED
                - SKIPPED
                - ON_HOLD
    RecordStepComment:
      x-tags:
        - Step Comments
      type: object
      title: The step comment object
      example:
        type: record_step_comment
        id: "10987"
        attributes:
          id: 10987
          type: COMMENT
          comment: Hello World
          createdBy: auth0|60x678x9x5x9xx00709x6880
          createdAt: "2023-11-11T19:00:46.000Z"
      properties:
        id:
          type: integer
        type:
          type: string
          enum:
            - record_step_comment
        attributes:
          type: object
          properties:
            id:
              type: integer
              description: ID that uniquely identifies each comment
            type:
              type: string
              enum:
                - COMMENT
                - INTERNAL_NOTE
              description: Value indicates the type of comment
            comment:
              type: string
              description: Contents of the comment
            createdBy:
              type: string
              description: ID of the user who created this comment
            createdAt:
              type: string
              format: date-time
              description: Timestamp that indicates when this comment was created
    RecordStepCommentMutable:
      type: object
      example:
        type: record_step_comment
        attributes:
          type: COMMENT
          comment: Hello World
      properties:
        type:
          type: string
          description: Type of the resource
          enum:
            - record_step_comment
        attributes:
          type: object
          properties:
            type:
              type: string
              enum:
                - COMMENT
                - INTERNAL_NOTE
              description: Value indicates the type of comment
            comment:
              type: string
              description: Contents of the comment
    event_common_props:
      type: object
      properties:
        id:
          type: string
          description: An ID that uniquely identifies the occurrence of an event
          example: b1d98e92-38cc-11ed-a261-0242ac120002
        type:
          type: string
          description: >-
            A value that describes the event. See for the complete list of event
            types
          example: workflow.step.status_changed
        occurred_at:
          type: string
          format: date-time
          description: Timestamp (UTC) when the event has occurred
        community:
          type: string
          description: Name of the community where the event occurred
          example: demo-support
        record:
          type: object
          description: Details of the record whose activity triggered the event
          properties:
            id:
              type: string
              description: ID of the record whose activity triggered the event
            type_id:
              type: string
              description: Type of the record whose activity triggered the event
            url:
              type: string
              format: url
              description: URL of the record whose activity triggered the event
              example: https://plce.api.opengov.com/plce/v1/community/records/73543
        details:
          type: object
          description: An object that describes the details of the event
          properties:
            object:
              type: object
              description: Details of the resource whose activity triggered the event
            previous:
              type: object
    step_type:
      type: string
      enum:
        - APPROVAL
        - PAYMENT
        - INSPECTION
        - DOCUMENT
      description: A value that indicates the kind of process that this step represents
    step_status_changed:
      type: object
      properties:
        details:
          type: object
          properties:
            object:
              type: object
              properties:
                object_type:
                  type: string
                  description: Type of the resource whose activity triggered the event
                  enum:
                    - record_step
                object_id:
                  type: string
                  description: ID of the workflow step whose status changed
                  example: 1234
                object_url:
                  type: string
                  format: url
                  description: URL of the record step whose activity triggered the event
                  example: >-
                    https://plce.api.opengov.com/plce/v1/community/records/73543/workflow-steps/1234
                type:
                  $ref: "#/components/schemas/step_type"
                  example: APPROVAL
                template_id:
                  type: number
                  description: Unique identifier for the workflow step template
                status:
                  $ref: "#/components/schemas/step_status"
                  example: ACTIVE
            previous:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/step_status"
                  description: Previous status of the workflow step
                  example: COMPLETE
    EventCommonProperties:
      $ref: "#/components/schemas/event_common_props"
    StepStatusChanged:
      $ref: "#/components/schemas/step_status_changed"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    recordID:
      name: recordID
      in: path
      description: ID of the record
      required: true
      schema:
        type: integer
    stepID:
      name: stepID
      in: path
      description: ID of workflow step on a record
      required: true
      schema:
        type: integer
    commentID:
      name: commentID
      in: path
      description: ID of a comment on a workflow step of a record
      required: true
      schema:
        type: integer
    community:
      name: community
      in: path
      description: Name of the community
      required: true
      schema:
        type: string
security:
  - bearerAuth: []
